{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
	label: "Display Preview?"|t,
	warning: '',
	id: 'displayPreview',
	name: 'displayPreview',
	on: settings.displayPreview,
}) }}

{{ forms.lightswitchField({
	label: "Display Advanced Customization Options?"|t,
	warning: '',
	id: 'displayAdvancedOptions',
	name: 'displayAdvancedOptions',
	on: settings.displayAdvancedOptions,
	toggle: 'advancedOptions'
}) }}

<div id="advancedOptions" {% if not settings.displayAdvancedOptions %}class="hidden"{% endif %}>
	{{ forms.checkboxField({
	label: "Allow Geo Fields to be edited?"|t,
	name: 'showGeo',
	checked: settings.showGeo,
	}) }}
	{{ forms.checkboxField({
		label: "Allow Robots Fields to be edited?"|t,
		name: 'showRobots',
		checked: settings.showRobots,
	}) }}
	{{ forms.checkboxField({
		label: "Allow Open Graph Fields to be edited?"|t,
		name: 'showOpenGraph',
		checked: settings.showOpenGraph,
	}) }}
	{{ forms.checkboxField({
		label: "Allow Twitter Fields to be edited?"|t,
		name: 'showTwitter',
		checked: settings.showTwitter,
	}) }}
</div>

{{ forms.lightswitchField({
	label: "Use the Element Type Title as the SEO Title?"|t,
	warning: '',
	id: 'useElementTypeTitle',
	name: 'useElementTypeTitle',
	on: settings.useElementTypeTitle,
}) }}


{{ forms.lightswitchField({
	label: "Use the same value for the Meta Title, Facebook Title, and Twitter Title?"|t,
	warning: '',
	id: 'usetMetaTitle',
	name: 'usetMetaTitle',
	on: settings.usetMetaTitle,
}) }}

{{ forms.lightswitchField({
	label: "Use the same value for the Meta Description, Facebook Description, and Twitter Description?"|t,
	warning: '',
	id: 'useMetaDescription',
	name: 'useMetaDescription',
	on: settings.useMetaDescription,
}) }}

{{ forms.lightswitchField({
	label: "Use the same value for the Facebook Feature Image, and Twitter Feature Image?"|t,
	warning: '',
	id: 'useMetaImage',
	name: 'useMetaImage',
	on: settings.useMetaImage,
}) }}
