{% extends "sproutseo/_layouts/base" %}
{% set centered = true %}

{% set title %}
	New Template - {{ craft.SproutSeo.name }}
{% endset %}

{% set tabs = {
		template: { 
      label: "Template Settings"|t,
      url: '#template-main'
    },
    main: { 
      label: "Basic Info"|t,
      url: '#template-basic'
    },
    publishinfo:    { 
      label: "Robots"|t,
      url: '#template-robots'
    },
    location:    { 
      label: "Location"|t,
      url: '#template-location'
    },
    facebook:    { 
      label: "Facebook"|t,
      url: '#template-facebook'
    },
    twitter:    { 
      label: "Twitter"|t,
      url: '#template-twitter'
    }
} %}

{% import "_includes/forms" as forms %}

{% if templateId is not defined %}
	{% set templateId = null %}
{% endif %}

{% if template is not defined %}
	{% set template = craft.sproutSeo.getTemplateById(templateId) %}
{% endif %}

{% set body %}

<form method="post" action="" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ craft.request.url }}">
	<input type="hidden" name="action" value="sproutSeo/meta/saveTemplates"> 
	<input type="hidden" name="redirect" value="sproutseo/templates">

	<input type="hidden" name="template_fields[id]" value="{{ templateId }}">

<div id="template-main">
	
	{{ forms.textField({
		label: "Template Name"|t,
		instructions: "Human readable template name"|t,
		id: "name",
		name: 'template_fields[name]',
		value: template.name,
		errors: '',
		required: true
	}) }}

	{{ forms.textField({
		label: "Template Short Name"|t,
		instructions: "Short name you will use to refer to your template in the code"|t,
		id: "handle",
		name: 'template_fields[handle]',
		value: template.handle,
		errors: '',
		required: true
	}) }}

	{% set canBeGlobalFallback = craft.sproutSeo.displayGlobalFallback(templateId) %}

	{% if canBeGlobalFallback %}
		{{ forms.checkboxField({
			label: "Use this template as my global fallback"|t,
			id: 'global-fallback',
			name: 'template_fields[globalFallback]',
			checked: template.globalFallback
		}) }}
	{% endif %}

</div>

<div id="template-basic" class="hidden">
	
	{{ forms.textField({
		label: "Title"|t,
		name: 'template_fields[title]',
		instructions: "The Title will appear in your browser tab, and as the primary Heading in your search results"|t,
		value: template.title,
		errors: "",
		required: false
	}) }}

	{{ forms.checkboxField({
	  label: 'Append Site Name "' ~ siteName ~ '" to all Titles'|t,
	  name: 'template_fields[appendSiteName]',
	  checked: (template.appendSiteName == 1 ? 1 : 0),
	  errors: ''  
	}) }}

	{{ forms.textField({
		label: "Description"|t,
		instructions: "A 140 word description of your content which will appear as the description in your search results."|t,
		name: 'template_fields[description]',
		value: template.description,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Keywords"|t,
		instructions: "A list of keywords that describe your content"|t,
		name: 'template_fields[keywords]',
		value: template.keywords,
		errors: "",
		required: false
	}) }}

</div>

<div id="template-robots" class="hidden">

	<h3>Robots - Basic</h3>

	{% macro isSelected(target, string) %}
		{% if target in string %}checked="checked"{% endif %}
	{% endmacro %}
	{% import _self as checkbox %}

	
	<div>
			<label>
				<input type="checkbox" value="noindex" id="" class="checkbox" name="template_fields[robots][]" {{ checkbox.isSelected('noindex', template.robots) }}> noindex
			</label>
			<span class="info">I don't want this page to be indexed by search engines</span>
	</div>
	<div>
			<label>
				<input type="checkbox" value="nofollow" id="" class="checkbox" name="template_fields[robots][]" {{ checkbox.isSelected('nofollow', template.robots) }}> nofollow
			</label>
			<span class="info">I don't want search engines to follow links on this page</span>
	</div>

	<h3>Robots - Advanced</h3>

	{# Consider adding a link or posting a help article in our docs to clarify these:
	http://tech4sky.com/noodp-noarchive-nosnippet-noydir-meta-tag #}

	<div>
			<label>
				<input type="checkbox" value="noarchive" id="" class="checkbox" name="template_fields[robots][]" {{ checkbox.isSelected('noarchive', template.robots) }}> noarchive
			</label>
			<span class="info">I don't want search engines to provide archived versions of this page to users</span>
	</div>
	<div>
			<label>
				<input type="checkbox" value="noimageindex" id="" class="checkbox" name="template_fields[robots][]" {{ checkbox.isSelected('noimageindex', template.robots) }}> noimageindex
			</label>
			<span class="info">I don't want images on this page to be indexed by search engines</span>
	</div>
	<div>
			<label>
				<input type="checkbox" value="nosnippet" id="" class="checkbox" name="template_fields[robots][]" {{ checkbox.isSelected('nosnippet', template.robots) }}> nosnippet
			</label>
			<span class="info">I don't want Google to cache this page or display a description below the page in search results</span>
	</div>
	<div>
			<label>
				<input type="checkbox" value="noodp" id="" class="checkbox" name="template_fields[robots][]" {{ checkbox.isSelected('noodp', template.robots) }}> noodp
			</label>
			<span class="info">I don't want Google to use the Open Directory Project (ODP) description for this page. I want Google to use the description on the website.</span>
	</div>
	<div>
			<label>
				<input type="checkbox" value="noydir" id="" class="checkbox" name="template_fields[robots][]" {{ checkbox.isSelected('noydir', template.robots) }}> noydir
			</label>
			<span class="info">I don't want Bing or Yahoo! to use the Yahoo! Directory titles and descriptions for this page.  I want Bing and Yahoo! to use the titles and descriptions on the website.</span>
	</div>

	<h3>Canonical URL</h3>

	<p style="width:50%;">Canonical URL will default to the URL of the current page.  Canonical URL cannot be overriden at the template level, however, it can be override with on-page or entry-specific overrides.</p>


</div>

<div id="template-location" class="hidden">
	{{ forms.textField({
		label: "Region"|t,
		name: 'template_fields[region]',
		value: template.region,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Placename"|t,
		name: 'template_fields[placename]',
		value: template.placename,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Latitude"|t,
		name: 'template_fields[latitude]',
		value: template.latitude,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Longitude"|t,
		name: 'template_fields[longitude]',
		value: template.longitude,
		errors: "",
		required: false
	}) }}
</div>

<div id="template-facebook" class="hidden">

	{{ forms.textField({
		label: "Open Graph Title"|t,
		name: 'template_fields[ogTitle]',
		value: template.ogTitle,
		errors: "",
		required: false
	}) }}

	{% set ogTypesOptions = {
		'' : 'Select Open Graph Type...',
		'website' : 'Website',
		'article' :	'Article',
		'place' :	'Place',
		'profile' :	'Profile',
		'object' :	'Object',
		'book' : 'Book',
		'books.author' : 'Books Author',
		'books.book' : 'Books Book',
		'books.genre' : 'Books Genre',
		'music.song' : 'Music Song',
		'music.radio_station' : 'Music Radio Station',
		'music.playlist' : 'Music Playlist',
		'music.album' : 'Music Album',
		'video.other' :	'Video Other',
		'video.tv_show' :	'Video TV Show',
		'video.movie' : 'Video Movie',
		'video.episode' :	'Video Episode',
		'fitness.unit' : 'Fitness Unit',
		'fitness.course' : 'Fitness Course'
	} %}

	{{ forms.selectField({
		label: "Open Graph Type"|t,
		name: 'template_fields[ogType]',
		options: ogTypesOptions,
		value: template.ogType,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Open Graph URL"|t,
		name: 'template_fields[ogUrl]',
		value: template.ogUrl,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Open Graph Image"|t,
		name: 'template_fields[ogImage]',
		value: template.ogImage,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Open Graph Site Name"|t,
		name: 'template_fields[ogSiteName]',
		value: template.ogSiteName,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Open Graph Description"|t,
		name: 'template_fields[ogDescription]',
		value: template.ogDescription,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Open Graph Audio"|t,
		name: 'template_fields[ogAudio]',
		value: template.ogAudio,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Open Graph Video"|t,
		name: 'template_fields[ogVideo]',
		value: template.ogVideo,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Open Graph Locale"|t,
		name: 'template_fields[ogLocale]',
		value: template.ogLocale,
		errors: "",
		required: false
	}) }}

</div>

<div id="template-twitter" class="hidden">

	<h3>Twitter Summary Card</h3>
	<input type="hidden" name="twitterCard" value="summary" />

	{{ forms.textField({
		label: "Twitter Site"|t,
		name: 'template_fields[twitterSite]',
		instructions: '@username for the website used in the card footer.',
		value: template.twitterSite,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Twitter Creator"|t,
		instructions: '@username for the content creator / author.',
		name: 'template_fields[twitterCreator]',
		value: template.twitterCreator,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Twitter Title"|t,
		instructions: 'Title should be concise and will be truncated at 70 characters.',
		name: 'template_fields[twitterTitle]',
		value: template.twitterTitle,
		errors: "",
		required: false
	}) }}

	{{ forms.textareaField({
		label: "Twitter Description"|t,
		instructions: 'Description text will be truncated at the word to 200 characters.',
		name: 'template_fields[twitterDescription]',
		value: template.twitterDescription,
		errors: "",
		required: false
	}) }}

	{{ forms.textField({
		label: "Twitter Image"|t,
		instructions: 'The image must be a minimum size of 120x120px. Images larger than 120x120px will be resized and cropped square based on its longest dimension. Images must be less than 1MB in size.',
		name: 'template_fields[twitterImage]',
		value: template.twitterImage,
		errors: "",
		required: false
	}) }}

</div>

<div class="buttons">
	<input class="btn submit" type="submit" value="Save Template">
</div>

</form>

{% endset %}

{% if template.name is not defined or not template.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}