{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set templates = craft.sproutSeo.allTemplates %}

{% set body %}

<style>
.included-fields {
	color: #999;
}
</style>

{% if templates is empty %}

	<h3>Create your first Default meta-data template.</h3>

{% else %}

<table class="data" id="templates">
	<thead>
		<th width="15%">Name</th>
		<th width="15%">Handle</th>
		<th width="70%"></th>
		<td class="thin"></td>
	</thead>

	{% for template in templates %}

	<tr id="results" data-id="{{ template.id }}" data-name="{{ template.name|t }}">
		<td>
			<a href="{{ url('sproutseo/templates/' ~ template.id) }}">
				<strong>{{ template.name }}</strong>
			</a>
		</td>
		<td><code>{{ template.handle }}</code></td>
		<td class="included-fields">

		</td>
		<td class="thin">
			<a class="delete icon" title="Delete"></a>
		</td>
	</tr>

	{% endfor %}

</table>

{% endif %}

<div class="buttons">
	<a class="btn submit add icon" href="{{ url('sproutseo/templates/new') }}">New Default</a>
</div>

{% endset %}

{% set js %}
	new Craft.AdminTable({
		tableSelector: '#templates',
		deleteAction: 'sproutSeo/meta/deleteTemplates',
		onDeleteObject: function(id)
		{
			if($('#templates').find('tbody').find('tr').size() == 0)
			{
				$('#templates').show();
				$('#templates').find('tbody').html('<tr id="no-sproutseo-results"><td colspan="4">No results found.</td></tr>');
			}
		}
	});

{% endset %}
{% includeJs js %}
