<div class="btn menubtn">{{ "Set status"|t('sprout-seo') }}</div>
<div class="menu">
    <ul>
        <li><a class="formsubmit" data-param="status" data-value="on"><span
                    class="status enabled"></span> {{ "Enabled"|t('sprout-seo') }}</a>
        </li>
        <li><a class="formsubmit" data-param="status" data-value="off"><span
                    class="status disabled"></span> {{ "Disabled"|t('sprout-seo') }}</a>
        </li>
    </ul>
</div>
