{% extends "sprout-base/_layouts/baselanding" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% set title = "Upgrade to Sprout SEO PRO"|t('sprout-seo') %}

{% set assetUrl = view.getAssetManager().getPublishedUrl('@sproutseo/web/assets/base/dist', true) -%}
{% set pluginStoreLink = currentUser.admin ? cpUrl('plugin-store/sprout-seo') : 'https://plugins.craftcms.com/sprout-seo' %}

{% block content %}

    <div class="sprout-landing">

    {{ parent() }}

    {{ sprout.featureHeader({
        heading: "Smart, content-driven SEO"|t('sprout-seo'),
        message: "Sprout SEO [pro] opens the door to fine-grained control of your SEO strategy and workflows. Customize multiple Metadata fields, manage redirects, and generate sitemaps."|t('sprout-seo'),
        primaryButtonText: "Upgrade Now"|t('sprout-seo'),
        primaryButtonLink: pluginStoreLink,
        secondaryButtonText: "Learn More"|t('sprout-seo'),
        secondaryButtonLink: "https://sprout.barrelstrengthdesign.com/docs/seo"
    }) }}

    {{ sprout.featureImage({
        imageUrl: assetUrl ~ '/images/sproutseo-feature.png',
        altText: 'Content-focused SEO for Craft CMS'|t('sprout-seo')
    }) }}

    </div>

{% endblock %}