{% extends "sproutseo/_layouts/base" %}
{% set centered = true %}

{% set title %}
    {% if not defaultId is empty %}
        {{ default.name }}
    {% else %}
        New Default
    {% endif %}
{% endset %}

{% set tabs = {
	default: {
		label: "Settings"|t,
		url: '#default-main'
	},
	main: {
		label: "Basic Info"|t,
		url: '#default-basic'
	},
	publishinfo:    {
		label: "Robots"|t,
		url: '#default-robots'
	},
	location:    {
		label: "Location"|t,
		url: '#default-location'
	},
	facebook:    {
		label: "Facebook"|t,
		url: '#default-facebook'
	},
	twitter:    {
		label: "Twitter"|t,
		url: '#default-twitter'
	}
} %}

{% import "_includes/forms" as forms %}

{# Set a field context so we can manage field visibility between the SEO Defaults and the Field Types #}
{% set fieldContext = 'defaults' %}

{# Map the `defaults` object to `values` so we can use the same tempaltes for SEO Defaults and the Field Types #}
{% set values = default %}

{% set body %}

{% if craft.request.getSegment(3) == 'new' %}
	{% set saveshortcutUrl = url('sproutseo/defaults') %}
{% else %}
	{% set saveshortcutUrl = url('sproutseo/defaults/' ~ defaultId) %}
{% endif %}

<form method="post" action="" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ saveshortcutUrl }}">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="sproutSeo/defaults/saveDefault">
	<input type="hidden" name="redirect" value="sproutseo/defaults">

	<input type="hidden" name="sproutseo_fields[id]" value="{{ defaultId }}">

	<div id="default-main">

		{{ forms.textField({
			label: "Name"|t,
			instructions: "Human readable default name"|t,
			id: "name",
			name: 'sproutseo_fields[name]',
			value: default.name,
			errors: '',
			required: true
		}) }}

		{{ forms.textField({
			label: "Short Name"|t,
			instructions: "Short name you will use to refer to your defaults in the code"|t,
			id: "handle",
			name: 'sproutseo_fields[handle]',
			value: default.handle,
			errors: '',
			required: true
		}) }}

		{% set globalFallbackExists = craft.sproutSeo.globalFallbackExists(defaultId) %}

		{% if not globalFallbackExists %}
			{{ forms.checkboxField({
				label: "Use this default as my global fallback"|t,
				id: 'global-fallback',
				name: 'sproutseo_fields[globalFallback]',
				checked: default.globalFallback
			}) }}
		{% endif %}

	</div>

	<div id="default-basic" class="hidden">
		{% include 'sproutseo/_partials/fields/input' %}
	</div>

	<div id="default-robots" class="hidden">
		{% include 'sproutseo/_partials/fields/robots' %}
	</div>

	<div id="default-location" class="hidden">
		{% include 'sproutseo/_partials/fields/geo' %}
	</div>

	<div id="default-facebook" class="hidden">
		{% include 'sproutseo/_partials/fields/open-graph' with { values : default } %}
	</div>

	<div id="default-twitter" class="hidden">
		{% include 'sproutseo/_partials/fields/twitter-card' with { values : default } %}
	</div>

	<div class="buttons">
		<input class="btn submit" type="submit" value="Save Default">
	</div>

</form>

{% endset %}

{% if default.name is not defined or not default.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}

{% includeJsResource "sproutseo/js/default.js" %}

{% set js %}

new Craft.SproutSeoDefault();

{% endset %}

{% includeJs js %}
