{% import "_includes/forms" as forms %}
{% import "sproutseo/_includes/sproutseo" as sprout %}

{% set nameContext      = elementHandle is defined ? elementHandle : 'sproutseo'  %}
{% set pluginSettings   = craft.sproutSeo.getSettings() %}
{% set schemas          = craft.sproutSeo.getSchemaOptions() %}
{% set schemaSubtypes   = craft.sproutSeo.getSchemaSubtypes(schemas) %}
{% set mainEntityValues = {'schemaTypeId': values.schemaTypeId, 'schemaOverrideTypeId': values.schemaOverrideTypeId} %}

{% set displayMetadataField = false %}

{# Prepare our SEO badge info icons #}
<div class="sproutseo-metatitle-info hidden">
{{- sprout.infoIcon({
	label: "Meta Title"|t,
	search: true,
	openGraph: true,
	twitterCard: true,
	priority: 'elements'
}) -}}
</div>

<div class="sproutseo-metadescription-info hidden">
	{{- sprout.infoIcon({
		label: "Meta Description"|t,
		search: true,
		openGraph: true,
		twitterCard: true,
		priority: 'elements'
	}) -}}
</div>

<div class="sproutseo-metaimage-info hidden">
	{{- sprout.infoIcon({
		label: "Meta Image"|t,
		search: true,
		openGraph: true,
		twitterCard: true,
		priority: 'elements'
	}) -}}
</div>

<div class="sproutseo-box-optimized">
	<input type="hidden" name="{{nameContext~'[metadata][enableMetaDetailsSearch]'}}"
	value="{{ values.enableMetaDetailsSearch }}">
	<input type="hidden" name="{{nameContext~'[metadata][enableMetaDetailsOpenGraph]'}}"
	value="{{ values.enableMetaDetailsOpenGraph }}">
	<input type="hidden" name="{{nameContext~'[metadata][enableMetaDetailsTwitterCard]'}}"
	value="{{ values.enableMetaDetailsTwitterCard }}">
	<input type="hidden" name="{{nameContext~'[metadata][enableMetaDetailsGeo]'}}"
	value="{{ values.enableMetaDetailsGeo }}">
	<input type="hidden" name="{{nameContext~'[metadata][enableMetaDetailsRobots]'}}"
	value="{{ values.enableMetaDetailsRobots }}">

	{% if settings.optimizedTitleField == 'manually' %}

		{% set displayMetadataField = true %}

		{% set appendTitleValueInstructions = " <a href='#' class='fieldtoggle instructionstoggle' data-target='toggle-appendtitlevalue'>Append dynamic value to Meta Titles</a>."|t %}

		{{ forms.textField({
			label: 'Meta Title'|t ~ sprout.infoIcon({
				label: "Meta Title"|t,
				search: true,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements'
			}),
			instructions: "The Title of your content which will appear in search results and social sharing."|t ~ (fieldContext == 'sectionMetadata' ? appendTitleValueInstructions : ""),
			name: nameContext~'[metadata][optimizedTitle]',
			id: 'sproutseo-optimizedtitle',
			maxlength: 60,
			showCharsLeft: true,
			value: values.optimizedTitle,
			errors: '',
			class: 'nicetext',
			required: isRequired ?? false,
			first: true
		}) }}

	{% endif %}

	{% if fieldContext == 'sectionMetadata' %}
		<div id="toggle-appendtitlevalue" class="{{ (values['appendTitleValue'] is defined and values.appendTitleValue ?:
		'hidden' ) }}">
			{{ forms.textField({
				label: "Append Meta Title"|t ~ sprout.infoIcon({
					label: "Append Meta Title"|t,
					search: true,
					priority: 'sections'
				}),
				instructions: "Append a custom value at the end of all Meta Titles in this Section Metadata, i.e. <i>Article Title - " ~ siteName ~ "</i>. This setting overrides the <a href='" ~ cpUrl('sproutseo/globals/customization') ~ "'>default setting</a> and will apply to all titles within this Section Metadata."|t,
				name: nameContext~'[metadata][appendTitleValue]',
				value: values.appendTitleValue ?? null,
				placeholder: 'Key Phrase {divider} {siteName}'|t,
				class: 'nicetext'
			}) }}
		</div>
	{% endif %}

	{% if settings.optimizedDescriptionField == 'manually' %}

		{% set displayMetadataField = true %}

		{{ forms.textareaField({
			label: 'Meta Description'|t ~ sprout.infoIcon({
				label: "Meta Description"|t,
				search: true,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements'
			}),
			instructions: "A description of your content which will appear in search results and social sharing."|t,
			name: nameContext~'[metadata][optimizedDescription]',
			maxlength: 160,
			showCharsLeft: true,
			id: 'sproutseo-optimizeddescription',
			value: values.optimizedDescription,
			required: isRequired ?? false
		}) }}
	{% endif %}

	{% if settings.optimizedImageField == 'manually' %}

		{% set displayMetadataField = true %}

		{{ forms.field({
			label: 'Meta Image'|t ~ sprout.infoIcon({
				label: "Meta Image"|t,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements'
			}),
			instructions: 'A featured image that represents your content that will display in social sharing.'|t,
			id: 'sproutseo-optimizedimage',
		}, forms.elementSelect({
			elements: metaImageElements,
			sourceElementId: [values.optimizedImage],
			elementType: elementType,
			id: 'optimizedImage',
			name: nameContext~'[metadata][optimizedImage]',
			jsClass: 'Craft.AssetSelectInput',
			addButtonLabel: 'Select Image'|t,
			limit: 1,
			criteria: {"localeEnabled":null}
		})) }}

	{% endif %}

	{% if settings.optimizedKeywordsField == 'manually' %}

		{% set displayMetadataField = true %}

		{% set keywordsValue = values['keywords'] is defined ? values.keywords : null %}

		{{ forms.textField({
			label: "Meta Keywords"|t ~ sprout.infoIcon({
				label: "Meta Keywords"|t,
				search: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements'
			}),
			instructions: "The primary keywords or phrases that describe your website."|t,
			id: 'sproutseo-optimizedkeywords',
			name: nameContext~'[metadata][optimizedKeywords]',
			value: values.optimizedKeywords
		}) }}
	{% endif %}


	{% if fieldContext == 'sectionMetadata' or (fieldContext == 'field' and pluginSettings.enableMetaDetailsFields and settings.showMainEntity) %}

		{% set displayMetadataField = true %}

		<div id ="organization" class="organization-info">
			<div class="identitytype-dropdown organizationinfo-dropdown">
				{{ forms.selectField({
					label: 'Main Entity'|t ~ sprout.infoIcon({
						label: "Meta Image"|t,
						search: true,
						structured: true,
						priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements'
					}),
					instructions: 'Select the Structured Data schema type that best represents your content. Test your metadata using the <a href="https://search.google.com/structured-data/testing-tool" target="_blank">Structured Data Testing Tool</a>. Advanced integrations may be necessary for more specialized data types.'|t,
					class: 'mainentity-firstdropdown',
					name: nameContext~'[metadata][schemaTypeId]',
					options: schemas,
					value: '',
					required: false
				}) }}
			</div>
			<div class="identitytype-dropdown organizationinfo-dropdown hidden">
				{{ forms.selectField({
					class: 'mainentity-seconddropdown',
					role: 'listbox',
					name: nameContext~'[metadata][schemaOverrideTypeId]',
					options: {'':''},
					value: '',
					required: false,
				}) }}
			</div>
		</div>
	{% endif %}

</div>

{% if pluginSettings.enableMetaDetailsFields %}

	{% set displayMetadataField = true %}

	{% if settings.showSearchMeta or settings.showGeo or settings.showRobots or settings.showOpenGraph or settings.showTwitter %}
		{% set advancedSeoButtons %}
			<div class="buttons">
				<div id="btngroup" class="btngroup sproutseo-advancedoption-btns">

					{% if settings.showSearchMeta %}
						<div class="btn" id="btn-Search" data-type="Search"><i class="sproutseo-icon icon-search">&#xe800;</i> Search Meta</div>
					{% endif %}

					{% if settings.showOpenGraph %}
						<div class="btn" id="btn-OpenGraph" data-type="OpenGraph"><i class="sproutseo-icon icon-facebook">&#xe802;</i> Open Graph</div>
					{% endif %}

					{% if settings.showTwitter %}
						<div class="btn" id="btn-TwitterCard" data-type="TwitterCard"><i class="sproutseo-icon icon-twitter">&#xe807;</i> Twitter Card</div>
					{% endif %}

					{% if settings.showGeo %}
						<div class="btn" id="btn-Geo" data-type="Geo"><i class="sproutseo-icon icon-location">&#xe803;</i> Geo</div>
					{% endif %}

					{% if settings.showRobots %}
						<div class="btn" id="btn-Robots" data-type="Robots"><i class="sproutseo-icon icon-robots">&#xe806;</i> Robots</div>
					{% endif %}

				</div>
				<div class="btn add icon menubtn hidden">Add a block</div>
			</div>
		{% endset %}

		{{ forms.field({
			label: 'Meta Details'|t,
			instructions: 'Fine-tune your metadata to your specific SEO needs.'|t,
			id: 'sproutseo-advancedcustomizationfields',
		}, advancedSeoButtons) }}
	{%endif%}

	<div class="matrix matrix-field sproutseo-matrixfields" style="position: relative;">

		<div class="blocks">

			<div class="matrixblock fields-Search"
				{% if (values.enableMetaDetailsSearch is defined and values.enableMetaDetailsSearch == 0) or not settings.showSearchMeta %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-search">&#xe800;</i> {{ "Search Meta"|t }} {{ sprout.infoIcon({
							label: "Search Meta"|t,
							search: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements',
							message: 'All fields in this block take priority for the Search metadata at this priority level.'|t
						}) }}</div>
				</div>

				{% include 'sproutseo/_partials/fields/input' %}

			</div>

			<div class="matrixblock fields-OpenGraph"
				{% if values.enableMetaDetailsOpenGraph == 0 or not settings.showOpenGraph %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-facebook">&#xe802;</i> {{ "Open Graph"|t }} {{ sprout.infoIcon({
							label: "Open Graph"|t,
							openGraph: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements',
							message: 'All fields in this block take priority for the Open Graph metadata at this priority level.'|t
						}) }}
					</div>
				</div>

				{% include 'sproutseo/_partials/fields/open-graph' %}


			</div>

			<div class="matrixblock fields-TwitterCard"
				{% if values.enableMetaDetailsTwitterCard == 0 or not settings.showTwitter %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-twitter">&#xe807;</i> {{ "Twitter Card"|t }} {{ sprout.infoIcon({
							label: "Twitter Card"|t,
							twitterCard: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements',
							message: 'All fields in this block take priority for the Twitter Card metadata at this priority level.'|t
						}) }}</div>
				</div>

				{% include 'sproutseo/_partials/fields/twitter-card' %}

			</div>
			<div class="matrixblock fields-Geo"
				{% if values.enableMetaDetailsGeo == 0 or not settings.showGeo %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-location">&#xe803;</i> {{ "Geo"|t }} {{ sprout.infoIcon({
							label: "Geo"|t,
							geo: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements',
							message: 'All fields in this block take priority for the Geographic metadata at this priority level.'|t
						}) }}</div>
					<div class="preview"></div>
				</div>

				{% include 'sproutseo/_partials/fields/geo' %}

			</div>

			<div class="matrixblock fields-Robots"
				{% if values.enableMetaDetailsRobots == 0 or not settings.showRobots %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-robots">&#xe806;</i> {{ "Robots"|t }} {{ sprout.infoIcon({
							label: "Robots"|t,
							robots: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'elements',
							message: 'All fields in this block take priority for the Robots metadata at this priority level.'|t
						}) }}</div>
				</div>

				{% set robotsNamespace = 'metadata' %}
				{% include 'sproutseo/_partials/fields/robots' %}

			</div>

		</div>

	</div>

{% endif %}

{% if settings.displayPreview %}

	<div id="sproutseo-preview" class="modal hidden">

		<div class="header">
			<div class="btngroup right">
				<div class="btn active" id="sproutseo-preview-search"><span class="sproutseo-icon icon-search">&#xe800;</span> Search</div>
				<div class="btn" id="sproutseo-preview-facebook"><span class="sproutseo-icon icon-facebook">&#xe802;</span> Facebook</div>
				<div class="btn" id="sproutseo-preview-twitter"><span class="sproutseo-icon icon-twitter">&#xe807;</span> Twitter</div>
			</div>
			<h2 class="left" style="margin:0;">{{ "Preview"|t|upper }}</h2><br>
			<p style="margin:0;width:50%;">{{ "An example of how your content might display in search and social sharing. Re-save your entry to see any changes."|t }}</p>
		</div>

		<div class="body sproutseo-previewbody">
			<div id="tab-sproutseo-preview-search">
				{% include 'sproutseo/_fieldtypes/elementmetadata/previews/search' %}
			</div>
			<div id="tab-sproutseo-preview-facebook" class="hidden">
				{% include 'sproutseo/_fieldtypes/elementmetadata/previews/opengraph' %}
			</div>
			<div id="tab-sproutseo-preview-twitter" class="hidden">
				{% include 'sproutseo/_fieldtypes/elementmetadata/previews/twittercard' %}
			</div>
		</div>

	</div>

{% endif %}

{% includeCssResource "sproutseo/css/sproutseo.css" %}
{% includeCssResource "sproutseo/css/lib/jquery.tag-editor.css" %}

{% includecss %}
	{# Hide the Heading of our Field so all our grouped sub-fields
feel like they are part of the natural flow of fields #}
	{% if fieldId is defined %}
		#{{ fieldId }} > .heading:first-of-type { display: none; }
	{% endif %}

	{% if fieldId is defined and not displayMetadataField %}
		#{{ fieldId }} { display: none; }
	{% endif %}
{% endincludecss %}

{% includeJsResource "sproutseo/js/sproutbase.js" %}
{% includeJsResource "sproutseo/js/metadataelement.js" %}
{% includeJsResource "sproutseo/js/open-graph.js" %}
{% includeJsResource "sproutseo/js/twitter-card.js" %}
{% includeJsResource "sproutseo/js/live-preview.js" %}
{% includeJsResource "sproutseo/js/lib/jquery.caret.min.js" %}
{% includeJsResource "sproutseo/js/lib/jquery.tag-editor.min.js" %}

{% includejs %}

	{% if fieldContext != 'sectionMetadata' and settings.displayPreview %}
		// Existing Entries have a wrapper around the live preview and share buttons
		var $previewButtonsElement = $('.previewbtns');

		// New entries only have a live preview button
		var $livePreviewButtonElement = $('.livepreviewbtn');

		var $livePreviewElement = $previewButtonsElement.length ? $previewButtonsElement : $livePreviewButtonElement;

		if ($livePreviewElement.length)
		{
			$livePreviewElement.after('<div id="fields-sproutseo-seopreview" class="btn big sprout-livepreviewbtn"> {{ "SEO Preview"|t }}<div class="spinner hidden"></div></div>');
		}
		else
		{
			// Elements that don't have URLs enabled, have no live preview button
			var $metaContainer = $('#meta-pane');

			$metaContainer.prepend('<div id="fields-sproutseo-seopreview" class="btn big sprout-livepreviewbtn" style="margin-top:0"> {{ "SEO Preview"|t }}<div class="spinner hidden"></div></div>');
		}

	{% endif %}

	var items = {{ schemaSubtypes|json_encode|raw }};
	var entryValues = {{ mainEntityValues|json_encode|raw }};

	$( document ).ready(function() {

		var nameContext = '{{nameContext|raw}}';

		//Main entity dropdowns
		$('.mainentity-firstdropdown select').change(function() {
			if(this.value === 'craft-sproutseo-personschema')
			{
				$('.mainentity-seconddropdown select').addClass('hidden');
			}
			else
			{
				$('.mainentity-seconddropdown select').removeClass('hidden');
			}
		});
		// check if we need load depending dropdowns
		if (entryValues)
		{
			if (entryValues.hasOwnProperty('schemaTypeId') && entryValues.schemaTypeId)
			{
				$('.mainentity-firstdropdown select').val(entryValues.schemaTypeId).change();
			}
			if (entryValues.hasOwnProperty('schemaOverrideTypeId') && entryValues.schemaOverrideTypeId)
			{
				$('.mainentity-seconddropdown select').val(entryValues.schemaOverrideTypeId).change();
			}
		}

		function getScenario(customKey)
		{
			if ($("input[name='fields["+nameContext+"][metadata]["+customKey+"]']").length)
			{
				return $("input[name='fields["+nameContext+"][metadata]["+customKey+"]']");
			}
			else
			{
				return $("input[name='sproutseo[metadata]["+customKey+"]']");
			}
		}

		function getCustomizationSettings(customKey)
		{
			return getScenario(customKey);
		}

		function toggleActive(div, divId)
		{
			//enableMetaDetailsSearch
			var customKey = "enableMetaDetails"+divId;

			var customizationSettings = getCustomizationSettings(customKey);

			if (div.hasClass("active"))
			{
				div.removeClass("active");
				customizationSettings.val(0);
			}
			else
			{
				div.addClass("active");
				customizationSettings.val(1);
			}
		}

		$(".sproutseo-advancedoption-btns div").click(function()
		{
			var divId = $(this).attr("data-type");
			$(".fields-"+divId).toggle();

			// Section Metadata Settings
			var btn = $("#btn-"+divId);
			if (btn.length)
			{
				toggleActive(btn, divId);
			}

			// Optimize Field Settings
			var fieldsBtn = $("#fields-btn-"+divId);
			if (fieldsBtn.length)
			{
				toggleActive(fieldsBtn, divId);
			}

			return false; // avoid parents divs if you have nested divs
		});

		// Checking active class
		var fields = ["Search","OpenGraph","Geo","Robots","TwitterCard"];

		for (var i = 0; i < fields.length; i++)
		{
			var customKey = "enableMetaDetails"+fields[i];
			var customizationSettings = getCustomizationSettings(customKey);
			if(customizationSettings.val()==1)
			{
				$("#btn-"+fields[i]).addClass("active");
				// Optimize Field Settings
				$("#fields-btn-"+fields[i]).addClass("active");
			}
		}

		function appendSeoBadge(fieldId)
		{
			var labelId = '#fields-' + fieldId + '-label';
			$(labelId).append(metaTitleSeoButton);
		}

		{% if settings.optimizedKeywordsField == 'manually' %}
			$('#fields-sproutseo-optimizedkeywords-field input').tagEditor({
			animateDelete: 20
			});
		{% endif %}

		$('#fields-sproutseo-searchKeywords-field input').tagEditor({
		animateDelete: 20
		});

		{% if settings.optimizedTitleField == 'elementTitle' %}

			var metaTitleSeoButton = $('div.sproutseo-metatitle-info').html();
			var metaTitleLabelId = '#title-label';
			$(metaTitleLabelId).append(metaTitleSeoButton).removeClass('hidden');
			Craft.initUiElements($(metaTitleLabelId));

			var metaTitleInput = $('#title');
			metaTitleInput.addClass('nicetext');
			metaTitleInput.data('show-chars-left', true);
			metaTitleInput.attr('maxlength', 60);
			new Garnish.NiceText(metaTitleInput, { showCharsLeft: true });

		{% endif %}

		{% set optimizedTitleFieldModel = craft.fields.getFieldById(settings.optimizedTitleField) %}
		{% if optimizedTitleFieldModel %}

			var metaTitleSeoButton = $('div.sproutseo-metatitle-info').html();
			var metaTitleLabelId = '#fields-{{ optimizedTitleFieldModel.handle }}-label';
			$(metaTitleLabelId).append(metaTitleSeoButton).removeClass('hidden');
			Craft.initUiElements($(metaTitleLabelId));
			var metaTitleInput = $('#fields-{{ optimizedTitleFieldModel.handle }}-field input');
			metaTitleInput.attr('maxlength', 60);
			new Garnish.NiceText(metaTitleInput, { showCharsLeft: true });

		{% endif %}

		{% set optimizedTitleFieldHandles = craft.sproutSeo.getCustomSettingFieldHandles(settings.optimizedTitleField) %}

		{% if optimizedTitleFieldHandles %}
			var metaTitleSeoButton = $('div.sproutseo-metatitle-info').html();

			{% for titleFieldHandle in optimizedTitleFieldHandles %}

				{% if titleFieldHandle == 'title' %}

					var metaTitleLabelId = '#title-label';
					$(metaTitleLabelId).append(metaTitleSeoButton).removeClass('hidden');
					Craft.initUiElements($(metaTitleLabelId));

					var metaTitleInput = $('#title-field input');
					metaTitleInput.attr('maxlength', 60);
					new Garnish.NiceText(metaTitleInput, { showCharsLeft: true });

				{% else %}
					{% set optimizedTitleFieldModel = craft.fields.getFieldByHandle(titleFieldHandle) %}
					{% if optimizedTitleFieldModel %}

						var metaTitleLabelId = '#fields-{{ optimizedTitleFieldModel.handle }}-label';
						$(metaTitleLabelId).append(metaTitleSeoButton).removeClass('hidden');
						Craft.initUiElements($(metaTitleLabelId));

						var metaTitleInput = $('#fields-{{ optimizedTitleFieldModel.handle }}-field input');
						metaTitleInput.attr('maxlength', 60);
						new Garnish.NiceText(metaTitleInput, { showCharsLeft: true });

					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% set optimizedDescriptionFieldModel = craft.fields.getFieldById(settings.optimizedDescriptionField) %}
		{% if optimizedDescriptionFieldModel %}

			var metaDescriptionSeoButton = $('div.sproutseo-metadescription-info').html();
			var metaDescriptionLabelId = '#fields-{{ optimizedDescriptionFieldModel.handle }}-label';
			$(metaDescriptionLabelId).append(metaDescriptionSeoButton).removeClass('hidden');
			Craft.initUiElements($(metaDescriptionLabelId));

			var metaDescriptionInput = $('#fields-{{ optimizedDescriptionFieldModel.handle }}-field textarea');
			metaDescriptionInput.attr('maxlength', 160);

			{# @todo - Can we improve this?
			This triggers a double-instantiating console error #}
			new Garnish.NiceText(metaDescriptionInput, { showCharsLeft: true });

		{% endif %}

		{% set optimizedDescriptionFieldHandles = craft.sproutSeo.getCustomSettingFieldHandles(settings.optimizedDescriptionField) %}

		{% if optimizedDescriptionFieldHandles %}
			{% for descriptionFieldHandle in optimizedDescriptionFieldHandles %}

				var metaDescriptionSeoButton = $('div.sproutseo-metadescription-info').html();

				{% if descriptionFieldHandle == 'title' %}

					var metaDescriptionLabelId = '#title-label';
					$(metaDescriptionLabelId).append(metaDescriptionSeoButton).removeClass('hidden');
					Craft.initUiElements($(metaDescriptionLabelId));

				{% else %}

					{% set optimizedDescriptionFieldModel = craft.fields.getFieldByHandle(descriptionFieldHandle) %}
					{% if optimizedDescriptionFieldModel %}

						var metaDescriptionLabelId = '#fields-{{ optimizedDescriptionFieldModel.handle }}-label';
						$(metaDescriptionLabelId).append(metaDescriptionSeoButton).removeClass('hidden');
						Craft.initUiElements($(metaDescriptionLabelId));

						var metaDescriptionInput = $('#fields-{{ optimizedDescriptionFieldModel.handle }}-field textarea');
						metaDescriptionInput.attr('maxlength', 160);

						{# @todo - Can we improve this?
						This triggers a double-instantiating console error #}
						new Garnish.NiceText(metaDescriptionInput, { showCharsLeft: true });

					{% endif %}

				{% endif %}
			{% endfor %}
		{% endif %}

		{% set optimizedImageFieldHandles = craft.sproutSeo.getCustomSettingFieldHandles(settings.optimizedImageField) %}

		{% if optimizedImageFieldHandles %}
			{% for imageFieldHandle in optimizedImageFieldHandles %}

				var metaImageSeoButton = $('div.sproutseo-metaimage-info').html();

				{% set optimizedImageFieldModel = craft.fields.getFieldByHandle(imageFieldHandle) %}
				{% if optimizedImageFieldModel %}

				var metaImageLabelId = '#fields-{{ optimizedImageFieldModel.handle }}-label';
				$(metaImageLabelId).append(metaImageSeoButton).removeClass('hidden');
				Craft.initUiElements($(metaImageLabelId));

				var metaImageInput = $('#fields-{{ optimizedImageFieldModel.handle }}-field input');
				metaImageInput.attr('maxlength', 160);

				{# @todo - Can we improve this?
				This triggers a double-instantiating console error #}
				new Garnish.NiceText(metaImageInput, { showCharsLeft: true });


				{% endif %}
			{% endfor %}
		{% endif %}

		{% set optimizedImageFieldModel = craft.fields.getFieldById(settings.optimizedImageField) %}
		{% if optimizedImageFieldModel %}

			var metaImageSeoButton = $('div.sproutseo-metaimage-info').html();
			var metaImageLabelId = '#fields-{{ optimizedImageFieldModel.handle }}-label';
			$(metaImageLabelId).append(metaImageSeoButton).removeClass('hidden');

			Craft.initUiElements($(metaImageLabelId));

		{% endif %}

		var divScenario = $('#sproutseo-preview').length ? '' : 'fields-' ;

		$('#'+divScenario+'sproutseo-preview .header .btngroup .btn').on('click', function(e) {

			e.preventDefault();

			$currentBase = $('#'+divScenario+'sproutseo-preview .header .btngroup div.active');

			currentHref = $currentBase.attr('id');

			// Lets delete scenario prefix
			if (divScenario == 'fields-')
			{
				currentHref = currentHref.replace(divScenario,'');
			}

			currentTab = '#'+divScenario+'tab-' + currentHref;

			$currentBase.removeClass('active');
			$(currentTab).addClass('hidden');

			targetHref = $(this).attr('id');
			if (divScenario == 'fields-')
			{
				targetHref = targetHref.replace(divScenario,'');
			}
			targetTab = '#'+divScenario+'tab-' + targetHref;

			$(this).addClass('active');
			$(targetTab).removeClass('hidden');
		});

		var previewModal;

		$('#'+divScenario+'sproutseo-seopreview').on('click', function(e) {
			e.preventDefault();

			if (!previewModal)
			{
				$('#'+divScenario+'sproutseo-preview').removeClass('hidden');
				previewModal = new Garnish.Modal($('#'+divScenario+'sproutseo-preview'), {
					resizable: true
				});
			}
			else
			{
				previewModal.show();
			}

		});

	});

	SproutSEOLivePreview.init();

	new Craft.SproutSeoOpenGraph();
	new Craft.SproutSeoTwitterCard();
{% endincludejs %}
