{% import "_includes/forms" as forms %}

{% macro infoIcon(params) %}
	{% set label = params.label ?? null %}
	{% set search = params.search ?? false %}
	{% set structured = params.search ?? false %}
	{% set openGraph = params.openGraph ?? false %}
	{% set twitterCard = params.twitterCard ?? false %}
	{% set geo = params.geo ?? false %}
	{% set robots = params.robots ?? false %}
	{% set priority = params.priority ?? null %}
	{% set message = params.message ?? null %}

	<span class="info sproutseo-info">
		<div class="sprout-info-body sproutseo-metalevel-hud">
			<h6>{{ label }} Scope</h6>
			{% if search %}<span class="sproutseo-icon icon-search">&#xe800;</span> Search<br>{% endif %}
			{% if structured %}<span class="sproutseo-icon icon-puzzle">&#xf12e;</span> Structured Data<br>{% endif %}

			{% if openGraph %}<span class="sproutseo-icon icon-facebook">&#xe802;</span> Open Graph<br>{% endif %}
			{% if twitterCard %}<span class="sproutseo-icon icon-twitter">&#xe801;</span> Twitter Card<br>{% endif %}
			{% if geo %}<span class="sproutseo-icon icon-location">&#xe803;</span> Geo<br>{% endif %}
			{% if robots %}<span class="sproutseo-icon icon-robots">&#xe806;</span> Robots<br>{% endif %}

			{% if message %}<p><i>{{ message }}</i></p>{% endif %}
			<hr style="margin-left:-24px;margin-right:-24px;">
			<h6>{{ label }} Priority</h6>
			<ul class="sproutseo-metalevel-list">
				<li>
					<span class="sproutseo-metalevel-number {% if priority == 'globals' %}active{% endif %}">3</span> {% if priority == 'globals' %}<b>Globals</b>{% else %}Globals{% endif %}
				</li>
				<li>
					<span class="sproutseo-metalevel-number {% if priority == 'sections' %}active{% endif %}">2</span> {% if priority == 'sections' %}<b>Sections</b>{% else %}Sections{% endif %}
				</li>
				<li>
					<span class="sproutseo-metalevel-number {% if priority == 'pages' %}active{% endif %}">1</span> {% if priority == 'pages' %}<b>Pages</b>{% else %}Pages{% endif %}
				</li>
			</ul>
		</div>
	</span>
{% endmacro %}
{% import _self as sprout %}

{% set pluginSettings = craft.sproutSeo.getSettings() %}

<div class="sproutseo-box-optimized">
	{% set customizationSettings = values.getCustomizationSettings() %}

	{{ forms.hidden({
		name: 'sproutseo[metadata][customizationSettings]',
		id: 'customizationSettings',
		value: customizationSettings|json_encode,
		errors: "",
	}) }}

	{% if settings.optimizedTitleField == 'manually' %}

		{% set appendTitleValueInstructions = " <a href='#' class='fieldtoggle instructionstoggle' data-target='toggle-appendtitlevalue'>Append dynamic value to Meta Titles</a>."|t %}

		{{ forms.textField({
			label: 'Meta Title'|t ~ sprout.infoIcon({
				label: "Meta Title"|t,
				search: true,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
			}),
			instructions: "The Title of your content which will appear in search results and social sharing."|t ~ (fieldContext == 'sectionMetadata' ? appendTitleValueInstructions : ""),
			name: 'sproutseo[metadata][optimizedTitle]',
			id: 'sproutseo-optimizedtitle',
			maxlength: 60,
			showCharsLeft: true,
			value: values.title,
			errors: "",
			placeholder: siteName,
			class: 'nicetext',
			first: true
		}) }}

	{% endif %}

	{% if fieldContext == 'sectionMetadata' %}
		<div id="toggle-appendtitlevalue" class="{{ (values['appendTitleValue'] is defined and values.appendTitleValue ?:
		'hidden' ) }}">
			{{ forms.textField({
				label: "Append Meta Title"|t ~ sprout.infoIcon({
					label: "Append Meta Title"|t,
					search: true,
					priority: 'sections'
				}),
				instructions: "Append a custom value at the end of all Meta Titles in this Section Metadata, i.e. <i>Article Title - " ~ siteName ~ "</i>. This setting overrides the <a href='" ~ cpUrl('sproutseo/globals/customization') ~ "'>default setting</a> and will apply to all titles within this Section Metadata."|t,
				name: 'sproutseo[metadata][appendTitleValue]',
				value: values.appendTitleValue ?? null,
				placeholder: 'Keywords {divider} {siteName}',
				errors: '',
				class: 'nicetext'
			}) }}
		</div>
	{% endif %}

	{% if settings.optimizedDescriptionField == 'manually' %}
		{{ forms.textareaField({
			label: 'Meta Description'|t ~ sprout.infoIcon({
				label: "Meta Description"|t,
				search: true,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
			}),
			instructions: "A description of your content which will appear in search results and social sharing."|t,
			name: 'sproutseo[metadata][optimizedDescription]',
			maxlength: 160,
			showCharsLeft: true,
			id: 'sproutseo-optimizeddescription',
			value: values.description,
			errors: "",
			placeholder: "The official website of " ~ siteName
		}) }}
	{% endif %}

	{% if settings.optimizedImageField == 'manually' %}
		{{ forms.field({
			label: 'Meta Image'|t ~ sprout.infoIcon({
				label: "Meta Image"|t,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
			}),
			instructions: 'A featured image that represents your content that will display in social sharing.'|t,
			id: 'sproutseo-optimizedimage',
		}, forms.elementSelect({
			elements: metaImageElements,
			sourceElementId: [values.optimizedImage],
			elementType: elementType,
			id: 'optimizedImage',
			name: 'sproutseo[metadata][optimizedImage]',
			jsClass: 'Craft.AssetSelectInput',
			addButtonLabel: 'Select Image'|t,
			limit: 1,
			criteria: {"localeEnabled":null}
		})) }}
	{% endif %}

	{% if settings.optimizedKeywordsField == 'manually' %}
		{% set keywordsValue = values['keywords'] is defined ? values.keywords : null %}

		{{ forms.textField({
			label: "Meta Keywords"|t ~ sprout.infoIcon({
				label: "Meta Keywords"|t,
				search: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
			}),
			instructions: "The primary keywords or phrases that describe your website."|t,
			id: 'sproutseo-optimizedkeywords',
			name: 'sproutseo[metadata][optimizedKeywords]',
			value: keywordsValue,
			errors: ''
		}) }}
	{% endif %}

	{% if fieldContext == 'sectionMetadata' or (fieldContext == 'field' and pluginSettings.advancedCustomization and settings.showMainEntity) %}
		{% set schemaMaps = craft.sproutSeo.getSchemaOptions() %}

		{{ forms.selectField({
			label: 'Main Entity'|t ~ sprout.infoIcon({
				label: "Meta Image"|t,
				search: true,
				structured: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
			}),
			instructions: 'Map the primary element that displays on this page to a Structured Data schema. Select a basic or custom mapping.'|t,
			id: 'sproutseo-mainentity',
			name: 'sproutseo[metadata][schemaMap]',
			options: schemaMaps,
			value: values.schemaMap,
			errors: "",
			required: false
		}) }}
	{% endif %}

</div>

{% if fieldContext == 'field' %}
	{% if settings.displayPreview %}
		<ul class="sproutseo-preview-btns">
			<li class="selected">Search</li>
			<li>Facebook</li>
			<li>Twitter</li>
		</ul>

		{% include 'sproutseo/_fieldtypes/elementmetadata/previews/search' %}

		{#{% include 'sproutseo/_fieldtypes/elementmetadata/previews/opengraph' %}#}

		{#{% include 'sproutseo/_fieldtypes/elementmetadata/previews/twittercard' %}#}

	{% endif %}
{% endif %}

{% if pluginSettings.advancedCustomization %}

	{% if settings.showSearchMeta or settings.showGeo or settings.showRobots or settings.showOpenGraph or settings.showTwitter %}
		{% set advancedSeoButtons %}
			<div class="buttons">
				<div id="btngroup" class="btngroup sproutseo-advancedoption-btns">

					{% if settings.showSearchMeta %}
						<div class="btn" id="btn-searchMeta" data-type="searchMeta"><i class="sproutseo-icon icon-search">&#xe800;</i> Search Meta</div>
					{% endif %}

					{% if settings.showOpenGraph %}
						<div class="btn" id="btn-openGraph" data-type="openGraph"><i class="sproutseo-icon icon-facebook">&#xe802;</i> Open Graph</div>
					{% endif %}

					{% if settings.showTwitter %}
						<div class="btn" id="btn-twitterCard" data-type="twitterCard"><i class="sproutseo-icon icon-twitter">&#xe801;</i> Twitter Card</div>
					{% endif %}

					{% if settings.showGeo %}
						<div class="btn" id="btn-geo" data-type="geo"><i class="sproutseo-icon icon-location">&#xe803;</i> Geo</div>
					{% endif %}

					{% if settings.showRobots %}
						<div class="btn" id="btn-robots" data-type="robots"><i class="sproutseo-icon icon-robots">&#xe806;</i> Robots</div>
					{% endif %}

				</div>
				<div class="btn add icon menubtn hidden">Add a block</div>
			</div>
		{% endset %}

		{{ forms.field({
			label: 'SEO Optimization'|t,
			instructions: 'If you have more specific SEO needs, you can further customize your meta data with the following fields.'|t,
			id: 'sproutseo-advancedcustomizationfields',
		}, advancedSeoButtons) }}
	{%endif%}

	<div class="matrix matrix-field sproutseo-matrixfields" style="position: relative;">

		<div class="blocks">

			<div class="matrixblock fields-searchMeta"
				{% if (customizationSettings.searchMetaSectionMetadataEnabled is defined and customizationSettings.searchMetaSectionMetadataEnabled == 0) or not settings.showSearchMeta %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-search">&#xe800;</i> Search Meta</div>
				</div>

				{% include 'sproutseo/_partials/fields/input' %}

			</div>

			<div class="matrixblock fields-openGraph"
				{% if customizationSettings.openGraphSectionMetadataEnabled == 0 or not settings.showOpenGraph %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-facebook">&#xe802;</i> Open Graph {{ sprout.infoIcon({
							label: "Open Graph"|t,
							openGraph: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages',
							message: 'All fields in this block take priority for the Open Graph metadata at the Section level.'|t
						}) }}
					</div>
				</div>

				{% include 'sproutseo/_partials/fields/open-graph' %}


			</div>

			<div class="matrixblock fields-twitterCard"
				{% if customizationSettings.twitterCardSectionMetadataEnabled == 0 or not settings.showTwitter %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-twitter">&#xe801;</i> Twitter Card</div>
				</div>

				{% include 'sproutseo/_partials/fields/twitter-card' %}

			</div>
			<div class="matrixblock fields-geo"
				{% if customizationSettings.geoSectionMetadataEnabled == 0 or not settings.showGeo %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-location">&#xe803;</i> Geo</div>
					<div class="preview"></div>
				</div>

				{% include 'sproutseo/_partials/fields/geo' %}

			</div>

			<div class="matrixblock fields-robots"
				{% if customizationSettings.robotsSectionMetadataEnabled == 0 or not settings.showRobots %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-robots">&#xe806;</i> Robots</div>
				</div>

				{% set robotsNamespace = 'metadata' %}
				{% include 'sproutseo/_partials/fields/robots' %}

			</div>

		</div>

	</div>

{% endif %}

<style>
	{# Hide the Heading of our Field so all our grouped sub-fields
feel like they are part of the natural flow of fields #}
	{% if fieldId is defined %}
	#{{ fieldId }} > .heading:first-of-type { display: none; }
	{% endif %}
</style>

{% includeCssResource "sproutseo/css/sproutseo.css" %}
{% includeJsResource "sproutseo/js/sproutbase.js" %}
{% includeJsResource "sproutseo/js/open-graph.js" %}
{% includeJsResource "sproutseo/js/twitter-card.js" %}

{% includeCssResource "sproutseo/css/lib/jquery.tag-editor.css" %}
{% includeJsResource  "sproutseo/js/lib/jquery.caret.min.js" %}
{% includeJsResource  "sproutseo/js/lib/jquery.tag-editor.min.js" %}

{% includejs %}

	$( document ).ready(function() {

		function getScenario()
		{
			if ($("input[name='fields[sproutseo][metadata][customizationSettings]']").length)
			{
				return $("input[name='fields[sproutseo][metadata][customizationSettings]']");
			}
			else
			{
				return $("input[name='sproutseo[metadata][customizationSettings]']");
			}
		}

		function getCustomizationSettings()
		{
			return $.parseJSON(getScenario().val());
		}

		function setCustomizationSettings(values)
		{
			var value = JSON.stringify(values);
			getScenario().val(value);
		}

		function toggleActive(div, divId)
		{
			var customizationSettings = getCustomizationSettings();

			if (div.hasClass("active"))
			{
				customizationSettings[divId+"SectionMetadataEnabled"] = 0;
				div.removeClass("active");
				setCustomizationSettings(customizationSettings);
			}
			else
			{
				customizationSettings[divId+"SectionMetadataEnabled"] = 1;
				div.addClass("active");
				setCustomizationSettings(customizationSettings);
			}
		}

		$(".sproutseo-advancedoption-btns div").click(function()
		{
			var divId = $(this).attr("data-type");
			$(".fields-"+divId).toggle();

			// Section Metadata Settings
			var btn = $("#btn-"+divId);
			if (btn.length)
			{
				toggleActive(btn, divId);
			}

			// Optimize Field Settings
			var fieldsBtn = $("#fields-btn-"+divId);
			if (fieldsBtn.length)
			{
				toggleActive(fieldsBtn, divId);
			}

			return false; // avoid parents divs if you have nested divs
		});

		// Checking active class
		var fields = ["searchMeta","openGraph","geo","robots","twitterCard"];
		var customizationSettings = getCustomizationSettings();

		for (var i = 0; i < fields.length; i++)
		{
			if(customizationSettings[fields[i]+"SectionMetadataEnabled"]==1)
			{
				$("#btn-"+fields[i]).addClass("active");
				// Optimize Field Settings
				$("#fields-btn-"+fields[i]).addClass("active");
			}
		}

		{# @todo - Add an [seo] flag to all SEO-related fields. Possibly add a #}
		{#HUD with info on what the cascade and priority and actual value that #}
		{#will be output will be#}

		{#function updateLocaleBadge(value, target)#}
		{#{#}
			{#if (value == '')#}
			{#{#}
				{# Turn badge red #}
				{#$(target).css('color', '#ffffff');#}
				{#$(target).css('background-color', '#da5a47');#}

				{#$(target).css('color', '#8f98a3');#}
				{#$(target).css('background-color', '#ebedef');#}
			{#}#}
			{#else#}
			{#{#}
				{# Turn badge grey #}
				{#$(target).css('color', '#8f98a3');#}
				{#$(target).css('background-color', '#ebedef');#}

				{# Turn badge green #}
				{#$(target).css('color', '#ffffff');#}
				{#$(target).css('background-color', '#27AE60');#}
			{#}#}
		{#}#}

		{#function addSeoBadgeListener(fieldId)#}
		{#{#}
			{#var spanId = '#fields-' + fieldId + '-label span.sproutseo.locale';#}
			{#var fieldInput = '#fields-' + fieldId + '-field input';#}
			{#var fieldTextarea = '#fields-' + fieldId + '-field textarea';#}
			{#var fieldSelect = '#fields-' + fieldId + '-field select';#}

			{#var fieldElementSelect = '#fields-' + fieldId;#}
			{#var fieldElementSelectInput = '#fields-' + fieldId + '-field .elementselect';#}
			{#var fieldElementSelectSpanId = '#fields-' + fieldId + '-label span.sproutseo.locale';#}

			{#$(fieldInput).on('keyup', function() {#}
				{#updateLocaleBadge($(this).val(), spanId);#}
			{#});#}

			{#$(fieldTextarea).on('keyup', function() {#}
				{#updateLocaleBadge($(this).val(), spanId);#}
			{#});#}

			{#$(fieldSelect).on('change', function() {#}
				{#updateLocaleBadge($(this).val(), spanId);#}
			{#});#}

			{#if ($(fieldElementSelectInput).length)#}
			{#{#}
				{#$(fieldElementSelect).data('elementSelect').on('selectElements', function(e) {#}
					{#updateLocaleBadge(true, fieldElementSelectSpanId);#}
				{#});#}

				{#$(fieldElementSelect).data('elementSelect').on('removeElements', function(e) {#}
					{#updateLocaleBadge('', fieldElementSelectSpanId);#}
				{#});#}
			{#}#}
		{#}#}

		{#function initSeoBadge(fieldId)#}
		{#{#}
			{#var spanId = '#fields-' + fieldId + '-label span.sproutseo.locale';#}
			{#var fieldInput = '#fields-' + fieldId + '-field input';#}
			{#var fieldTextarea = '#fields-' + fieldId + '-field textarea';#}
			{#var fieldSelect = '#fields-' + fieldId + '-field select';#}

			{#var fieldElementSelect = '#fields-' + fieldId + '-field input';#}
			{#var fieldElementSelectInput = '#fields-' + fieldId + '-field .elementselect';#}

			{#if ($(fieldInput).length && $(fieldInput).val() != '')#}
			{#{#}
				{#updateLocaleBadge($(fieldInput).val(), spanId);#}
			{#}#}

			{#if ($(fieldTextarea).length && $(fieldTextarea).val() != '')#}
			{#{#}
				{#updateLocaleBadge($(fieldTextarea).val(), spanId);#}
			{#}#}

			{#if ($(fieldSelect).length && $(fieldSelect).val() != '')#}
			{#{#}
				{#updateLocaleBadge($(fieldSelect).val(), spanId);#}
			{#}#}

			{#if ($(fieldElementSelectInput).length)#}
			{#{#}
				{#if ($(fieldElementSelect).eq(1).length && $(fieldElementSelect).eq(1).val() != '')#}
				{#{#}
					{#updateLocaleBadge(true, spanId);#}
				{#}#}
				{#else#}
				{#{#}
					{#updateLocaleBadge('', spanId);#}
				{#}#}
			{#}#}
		{#}#}

		function appendSeoBadge(fieldId)
		{
			var labelId = '#fields-' + fieldId + '-label';
			$(labelId).append(seoButton);
		}

		var seoButton = '<span class="sproutseo locale">seo</span>';
		var seoFieldIds = [];
		var seoLabels = [];
		var seoInputs = [];

		seoFieldIds.push('sproutseo-mainentity');
		seoFieldIds.push('sproutseo-advancedcustomizationfields');

		{% if settings.optimizedTitleField == 'elementTitle' %}
			var spanId = '#title-label span.sproutseo.locale';
			var titleId = '#title-label';
			var titleInput = '#title-field input';

			$(titleId).append(seoButton);

			{#$('#title-field input').on('keyup', function() {#}
				{#updateLocaleBadge($(this).val(), '#title-label span.sproutseo.locale');#}
			{#});#}

			{#if ($(titleInput).val() != '')#}
			{#{#}
				{#updateLocaleBadge($(titleInput).val(), spanId);#}
			{#}#}
		{% endif %}

		{% if settings.optimizedTitleField == 'manually' %}
			seoFieldIds.push('sproutseo-optimizedtitle');
		{% endif %}

		{% if settings.optimizedDescriptionField == 'manually' %}
			seoFieldIds.push('sproutseo-optimizeddescription');
		{% endif %}

		{% if settings.optimizedImageField == 'manually' %}
			seoFieldIds.push('sproutseo-optimizedimage');
		{% endif %}

		{% if settings.optimizedKeywordsField == 'manually' %}
			$('#fields-sproutseo-optimizedkeywords-field input').tagEditor({
				animateDelete: 20
			});

			seoFieldIds.push('sproutseo-optimizedkeywords');
		{% endif %}

		{% set optimizedTitleFieldModel = craft.fields.getFieldById(settings.optimizedTitleField) %}
		{% if optimizedTitleFieldModel %}
			seoFieldIds.push('{{ optimizedTitleFieldModel.handle }}');
		{% endif %}

		{% set optimizedDescriptionFieldModel = craft.fields.getFieldById(settings.optimizedDescriptionField) %}
		{% if optimizedDescriptionFieldModel %}
			seoFieldIds.push('{{ optimizedDescriptionFieldModel.handle }}');
		{% endif %}

		{% set optimizedImageFieldModel = craft.fields.getFieldById(settings.optimizedImageField) %}
		{% if optimizedImageFieldModel %}
			seoFieldIds.push('{{ optimizedImageFieldModel.handle }}');
		{% endif %}

		$.each(seoFieldIds, function(key, value) {
			appendSeoBadge(value);
			{#addSeoBadgeListener(value);#}
			{#initSeoBadge(value);#}
		});
	});

	new Craft.SproutSeoOpenGraph();
	new Craft.SproutSeoTwitterCard();
{% endincludejs %}





