<phpunit
	colors = "true"
	convertErrorsToExceptions = "true"
	convertNoticesToExceptions = "true"
	convertWarningsToExceptions = "false"
	stopOnFailure = "false"
	syntaxCheck="true"
	verbose="true"
	strict="false">

  <testsuites>
      <testsuite name="Plugin Tests">
          <directory>./</directory>
      </testsuite>
  </testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">../</directory>
		</whitelist>
	</filter>

</phpunit>