{% extends "sprout-seo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\app\\seo\\web\\assets\\sectionmetadata\\SectionMetadataAsset") %}

{% set title %}
    {% if not sectionMetadataId is empty %}
        {{ sectionMetadata.name }}
    {% else %}
        {{ "New Metadata Section"|t }}
    {% endif %}
{% endset %}

{% set crumbs = [
    { label: "Section Metadata"|t, url: url('sprout-seo/sections') }
] %}

{% set centered = true %}

{% set fullPageForm = true %}

{# Set a field context so we can manage field visibility between the SEO Section Metadatas and the Field Types #}
{% set fieldContext = 'sectionMetadata' %}

{# Map the `sectionMetadata` object to `values` so we can use the same templates for Section Metadata Sections and the Optimize Field Type #}
{% set values = sectionMetadata %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block actionButton %}
    <input type="hidden" name="action"
           value="sprout-seo/section-metadata/save-section-metadata">
    <input type="hidden" name="sproutseo[metadata][isCustom]"
           value="{{ isCustom ?? 0 }}">
    {{ redirectInput('sprout-seo/sections') }}
    <input type="hidden" id="sectionId" name="id"
           value="{{ sectionMetadata.id is defined ? sectionMetadata.id : '' }}">

    <div class="btngroup submit first">
        <input type="submit" class="btn submit"
               value="{{ 'Save'|t('sprout-seo') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit"
                       data-redirect="{{ continueEditingUrl|hash }}">{{ "Save and continue editing"|t('sprout-seo') }}
                        <span class="shortcut">⌘S</span></a></li>
            </ul>
            <hr>
            <ul>
                <li><a class="formsubmit error"
                       data-action="sprout-seo/section-metadata/delete-section-metadata-by-id"
                       data-confirm="{{ "Are you sure you want to delete this Section Metadata and all of it's data?"|t('sprout-seo') }}"
                       data-redirect="{{ 'sprout-seo/sections'|hash }}">{{ "Delete"|t('sprout-seo') }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block header %}
    {{ block('pageTitle') }}

    {{ block('actionButton') }}
{% endblock %}

{% block content %}
    {{ forms.textField({
        label: "URI"|t,
        id: "uri",
        required: isCustom,
        name: 'sproutseo[metadata][uri]',
        value: (sectionMetadata.uri == '__home__') ? "/" : sectionMetadata.uri,
        errors: sectionMetadata.getErrors('uri'),
        readonly: not isNew,
        class: not isNew ? 'disabled' : ''
    }) }}
{% endblock %}

{% block details %}

    <div class="meta" id="settings">

        {{ forms.textField({
            label: "Name <span class='info'>Human readable Section name</span>"|t,
            id: "name",
            required: isCustom,
            name: 'sproutseo[metadata][name]',
            value: sectionMetadata.name,
            errors: sectionMetadata.getErrors('name'),
            readonly: not isNew,
            class: not isNew ? 'disabled sproutseo-uneditable' : ''
        }) }}

        {{ forms.textField({
            label: "Handle <span class='info'>Name you will use to refer to this meta-tag group in your templates</span>"|t,
            id: "handle",
            required: isCustom,
            name: 'sproutseo[metadata][handle]',
            value: sectionMetadata.handle,
            errors: sectionMetadata.getErrors('handle'),
            readonly: not isNew,
            class: not isNew ? 'disabled' : ''
        }) }}

        <div class="field">
            <div class="heading">
                <label>{{ "Section"|t }}</label>
            </div>
            <div class="input">
                <h6>{{ urlEnabledSectionType is not empty ? urlEnabledSectionType.getName() : "Custom Page"|t }}</h6>
            </div>
        </div>

        <div class="field">
            <div class="heading">
                <label>{{ "Element"|t }} <span
                            class="info">{% if urlEnabledSectionType is not empty %}{{ "The Matched Element variable <code>{matchedElement}</code> is available to your URL-enabled pages"|t({ 'matchedElement' : urlEnabledSectionType.getMatchedElementVariable() })|raw }}{% else %}{{ "Custom Pages do not have any pre-prepared Elements available to the page"|t }}{% endif %}</span></label>
            </div>
            <div class="input">
                <h6>{{ urlEnabledSectionType is not empty ? urlEnabledSectionType.getMatchedElementVariable() : "–" }}</h6>
            </div>
        </div>

        {{ forms.lightswitchField({
            label: "Enable"|t,
            id: 'enabled',
            name: 'sproutseo[metadata][enabled]',
            on:  (sectionMetadata.enabled is defined ? sectionMetadata.enabled : false)
        }) }}

        <hr>

        {% set priorityList = {
            '1.0': '1.0 ↑ Highest'|t,
            '0.9': '0.9',
            '0.8': '0.8',
            '0.7': '0.7',
            '0.6': '0.6',
            '0.5': '0.5',
            '0.4': '0.4',
            '0.3': '0.3',
            '0.2': '0.2',
            '0.1': '0.1',
            '0.0': '0.0 ↓ Lowest'|t
        } %}

        {% set frequencyList = {
            'always': 'Always'|t,
            'hourly': 'Hourly'|t,
            'daily': 'Daily'|t,
            'weekly': 'Weekly'|t,
            'monthly': 'Monthly'|t,
            'yearly': 'Yearly'|t,
            'never': 'Never'|t
        } %}

        {{ forms.selectField({
            label: "Priority"|t,
            name: 'sproutseo[metadata][priority]',
            options: priorityList,
            value: (sectionMetadata.priority ? sectionMetadata.priority : 0.5),
            errors: "",
            required: false
        }) }}

        {{ forms.selectField({
            label: "Change Frequency"|t,
            name: 'sproutseo[metadata][changeFrequency]',
            options: frequencyList,
            value: (sectionMetadata.changeFrequency ? sectionMetadata.changeFrequency : 'weekly'),
            errors: "",
            required: false
        }) }}


        {% if isCustom %}
            <hr>
            <h6>{{ 'Using Custom Sections'|t }}</h6>
            <p>{{ 'See the <a href="{documentationUrl}" target="_blank">Custom Section</a> documentation to learn how to add support for your Custom Section in your website templates.'|t({
                    documentationUrl: 'https://sprout.barrelstrengthdesign.com/craft-plugins/seo/docs'
                })|raw }}</p>
        {% endif %}

    </div>
{% endblock %}

{% if sectionMetadata.name is not defined or not sectionMetadata.handle %}
    {% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}

{% set js %}

    $('#sproutseo-optimizedkeywords-field input').tagEditor({
    animateDelete: 20
    });

    new Craft.SproutSeoMetaTags();

{% endset %}

{% includeJs js %}


