<strong style="display:inline-block;padding:7px 10px;">

    {% if sectionMetadata.enabled %}
        <span class="status live"></span>
    {% else %}
        <span class="status disabled"></span>
    {% endif %}

    {% if isCustom is defined and isCustom %}
        <a href="{{ cpUrl('sprout-seo/sections/' ~ sectionMetadata.id) }}"
           class="sproutseo-sectiontitle">
            {{ sectionMetadata.name }}
        </a>
    {% else %}
        {{ sectionMetadata.name }}
    {% endif %}


    {% if urlEnabledSectionKey is defined %}
        <input type="hidden"
               name="sproutseo[sections][{{ urlEnabledSectionKey }}][id]"
               value="{{ urlEnabledSectionKey }}">
    {% endif %}

</strong>