{% import "_includes/forms" as forms %}

{% includeCssResource "sproutseo/css/fields.css" %}

<div class="sproutseo-box">

  {{ forms.textField({
    label: "Region",
    name: "sproutseo_fields[region]",
    value: values.region
  }) }}

  {{ forms.textField({
    label: "Placename",
    name: "sproutseo_fields[placename]",
    value: values.placename
  }) }}

  {{ forms.textField({
    label: "Longitude",
    name: "sproutseo_fields[longitude]",
    value: values.longitude
  }) }}

  {{ forms.textField({
    label: "Latitude",
    name: "sproutseo_fields[latitude]",
    value: values.latitude
  }) }}

</div>