{% import "_includes/forms" as forms %}

{% includeCssResource "sproutseo/css/fields.css" %}

<div class="sproutseo-box">

  {{ forms.textField({
    label: "Canonical",
    name: "sproutseo_fields[canonical]",
    value: values.canonical
  }) }}

  {# This needs to be here to make sure the checkboxes work properly #}
  <input type="hidden" name="sproutseo_fields[robots]" value="">

  <h3>Robots - Basic</h3>
  <div>
      <label>
        <input type="checkbox" value="noindex" name="sproutseo_fields[robots][]" {% if 'noindex' in values.robots %}checked{% endif %}>
        noindex
      </label>
  </div>
  <div>
      <label>
       <input type="checkbox" value="nofollow" name="sproutseo_fields[robots][]" {% if 'nofollow' in values.robots %}checked{% endif %}>
        nofollow
      </label>
  </div>

  <h3>Robots - Advanced</h3>
  <div>
      <label>
    <input type="checkbox" value="noarchive" name="sproutseo_fields[robots][]" {% if 'noarchive' in values.robots %}checked{% endif %}>
    noarchive</label>
  </div>
  <div>
      <label>
    <input type="checkbox" value="nosnippet" name="sproutseo_fields[robots][]" {% if 'nosnippet' in values.robots %}checked{% endif %}>
    nosnippet</label>
  </div>
  <div>
      <label>
      <input type="checkbox" value="noimageindex" name="sproutseo_fields[robots][]" {% if 'noimageindex' in values.robots %}checked{% endif %}>
      noimageindex</label>
  </div>
  <div>
      <label>
      <input type="checkbox" value="noodp" name="sproutseo_fields[robots][]" {% if 'noodp' in values.robots %}checked{% endif %}>
      noodp</label>
  </div>
  <div>
      <label>
      <input type="checkbox" value="noydir" name="sproutseo_fields[robots][]" {% if 'noydir' in values.robots %}checked{% endif %}>
      noydir</label>
  </div>

</div>