{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sproutseo/_components/selectOther" as sproutFields %}

{% set title = "Contacts"|t %}

{% set settings = craft.sproutSeo.getSettings() %}

{% set content %}

	{% set contactOptions = [
		{ label: "Select Type...", value: '' },
		{ label: "Customer Service", value: 'customer service' },
		{ label: "Technical Support", value: 'technical support' },
		{ label: "Billing Support", value: 'billing support' },
		{ label: "Bill Payment", value: 'bill payment' },
		{ label: "Sales", value: 'sales' },
		{ label: "Reservations", value: 'reservations' },
		{ label: "Credit Card Support", value: 'credit card support' },
		{ label: "Emergency", value: 'emergency' },
		{ label: "Baggage Tracking", value: 'baggage tracking' },
		{ label: "Roadside Assistance", value: 'roadside assistance' },
		{ label: "Package Tracking", value: 'package tracking' },
		{ label: "Custom", value: 'custom' }
	] %}

	{% set cols = [
		{
			type: 'selectOther',
			heading: 'Contact Type',
			options: contactOptions
		},
		{
			type: 'textual',
			heading: 'Telephone'
		}
	] %}

	{% set globalMeta = craft.sproutSeo.getGlobalKnowledgeGraphMeta() %}

	<div class="field" style="margin-bottom:0;">
		<div class="heading">
			<label>{{ "Contacts"|t }}</label>
			<p class="instructions">{{ "Adding <a href='https://developers.google.com/structured-data/customize/contact-points' target='_blank'>Corporate Contacts</a> to your site's structured data can prominently display contact information on the Google Knowledge panel in some searches."|t|raw }}</p>
		</div>
	</div>

	<table id="sproutseo-schema-contacts" class="data fullwidth">
		<thead>
		<tr>
			{% for col in cols %}
				<th>{{ col.heading }}</th>
			{% endfor %}
			<th class="thin"></th>
			<th class="thin"></th>
		</tr>
		</thead>
		<tbody>

			{% for contact in globalMeta.contacts %}

			<tr data-id="1">

				<td>
					<div class="field sprout-selectother">
						{{ sproutFields.selectOther({
							name: 'sproutseo[schema][contactType]',
							options: contactOptions,
							value: contact.type,
							otherPlaceholderText: 'Custom Type'|t
						}) }}
					</div>
				</td>
				<td>
					{{ forms.text({
						name: 'sproutseo[schema][telephone]',
						value: contact.phone,
						errors: ''
					}) }}
				</td>
				<td class="thin action"><a class="move icon" title="Reorder"></a></td>
				<td class="thin action"><a class="delete icon" title="Delete"></a></td>
			</tr>

			{% endfor %}

		</tbody>
	</table>

	<div class="buttons">
		<div class="btn add icon small" tabindex="0">Add a Contact</div>
	</div>

	<hr>

	<div class="buttons">
		<div class="btn submit" tabindex="0">Save</div>
	</div>

{% endset %}

{% includeJsResource 'sproutseo/js/SproutFields.js' %}
{% includeJsResource 'sproutseo/js/EditableTable.js' %}

{% includejs %}

	(function() {

		var tableId = 'sproutseo-schema-contacts';
		var baseName = 'sproutseo[meta][contacts]';
		var columns = {{ cols|json_encode|raw }};
		var settings = {};

		new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);

	})();

{% endincludejs %}