{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sproutseo/_components/selectOther" as sproutFields %}

{% set title = "Social Profiles"|t %}

{% set content %}

	{% set socialProfileOptions = [
		{ label: "Select...", value: '' },
		{ label: "Facebook", value: 'facebook' },
		{ label: "Twitter", value: 'twitter' },
		{ label: "Google+", value: 'googlePlus' },
		{ label: "Instagram", value: 'instagram' },
		{ label: "YouTube", value: 'youtube' },
		{ label: "LinkedIn", value: 'linkedin' },
		{ label: "Myspace", value: 'myspace' },
		{ label: "Pinterest", value: 'pinterest' },
		{ label: "SoundCloud", value: 'soundcloud' },
		{ label: "Tumblr", value: 'tumblr' },
		{ label: "Custom", value: 'custom' }
	] %}

	{% set cols = [
		{
			type: 'selectOther',
			heading: 'Profile',
			options: socialProfileOptions
		},
		{
			type: 'textual',
			heading: 'URL'
		}
	] %}


	{% set globalMeta = craft.sproutSeo.getGlobalKnowledgeGraphMeta() %}

	<div class="field" style="margin-bottom:0;">
		<div class="heading">
			<label>Social Profiles</label>
			<p class="instructions">Adding <a href="https://developers.google.com/structured-data/customize/social-profiles" target="_blank">Social Profile Links</a> helps establish a relationship between your site or app and your related online profiles. Supported social profiles can be prominently displayed in your Google Knowledge panel, however, it's encouraged to add any other social profiles you have as well.</p>
		</div>
	</div>

	<table id="sproutseo-schema-social" class="data fullwidth collapsible">
		<thead>
		<tr>
			<th scope="col">{{ "Profile"|t }}</th>
			<th scope="col">{{ "URL"|t }}</th>
			<th class="thin"></th>
			<th class="thin"></th>
		</tr>
		</thead>
		<tbody>

		{% for socialProfile in globalMeta.social  %}

		<tr data-id="1">
			<td>
				<div class="field sprout-selectother">
					{{ sproutFields.selectOther({
						name: 'sproutseo[schema][contactType]',
						options: socialProfileOptions,
						value: socialProfile.name,
						otherPlaceholderText: 'Custom Type'|t
					}) }}
				</div>
			</td>
			<td>
				{{ forms.text({
					name: 'sproutseo[schema][telephone]',
					value: socialProfile.url,
					errors: ''
				}) }}
			</td>
			<td class="thin action"><a class="move icon" title="Reorder"></a></td>
			<td class="thin action"><a class="delete icon" title="Delete"></a></td>
		</tr>

		{% endfor %}

		</tbody>
	</table>

	<div class="buttons">
		<div class="btn small add icon" tabindex="0">Add a Profile</div>
	</div>

{% endset %}

{% includeJsResource 'sproutseo/js/SproutFields.js' %}
{% includeJsResource 'sproutseo/js/EditableTable.js' %}

{% includejs %}

(function() {

	var tableId = 'sproutseo-schema-social';
	var baseName = 'sproutseo[meta][social]';
	var columns = {{ cols|json_encode|raw }};
	var settings = {};

	new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);

})();

{% endincludejs %}