{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}

{% set title = "Template Meta Tags"|t %}

{% set defaults = craft.sproutSeo.getDefaults %}

{% set selectedSidebarItem = craft.request.getSegment(2) %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutseo/meta/new') }}">{{ "New meta tag set"|t }}</a>
	</div>
{% endset %}

{% set content %}

<style>
.included-fields {
	color: #999;
}
</style>

	{% if defaults is empty %}

		<p>{{ "Create your first meta template."|t }}</p>

	{% else %}

		<table class="data" id="metaTemplate">
			<thead>
				<th width="15%">{{ "Name"|t }}</th>
				<th width="15%">{{ "Handle"|t }}</th>
				<th width="15%">{{ "URL Format"|t }}</th>
				<th width="5%">{{ "Global Fallback"|t }}</th>
				<th width="50%"></th>
				<td class="thin"></td>
			</thead>

			{% for default in defaults %}

			<tr id="results" data-id="{{ default.id }}" data-name="{{ default.name|t }}">
				<td>
					<a href="{{ url('sproutseo/meta/' ~ default.id) }}">
						{{ default.name }}
					</a>
				</td>
				<td><code>{{ default.handle }}</code></td>
				<td><code></code></td>
				<td>
					{% if default.globalFallback %}
						<span data-icon="check" title="{{ 'Yes'|t }}"></span>
					{% endif %}
				</td>
				<td class="included-fields">

				</td>
				<td class="thin">
					<a class="delete icon" title="{{ 'Delete'|t }}"></a>
				</td>
			</tr>

			{% endfor %}

		</table>

	{% endif %}

{% endset %}

{% set js %}
	new Craft.AdminTable({
		tableSelector: '#metaTemplate',
		deleteAction: 'sproutSeo/metaDefaults/deleteDefaults',
		onDeleteObject: function(id)
		{
			if($('#metaTemplate').find('tbody').find('tr').size() == 0)
			{
				$('#metaTemplate').show();
				$('#metaTemplate').find('tbody').html('<tr id="no-sproutseo-results"><td colspan="4">{{ "No results found."|t
		}}</td></tr>');
			}
		}
	});

{% endset %}
{% includeJs js %}
