{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sproutseo/_components/selectOther" as sproutFields %}

{% set title = "Verify Ownership"|t %}

{% set content %}

	{% set verifyOwnershipOptions = [
		{ label: "Select...", value: '' },
		{ label: "Alexa Verification ID", value: 'alexaVerificationId' },
		{ label: "Bing Webmaster Tools", value: 'bingWebmasterTools' },
		{ label: "Google Search Console", value: 'googleSearchConsole' },
		{ label: "Yandex Webmaster Tools", value: 'yandexWebmasterTools' },
		{ label: "Facebook App ID", value: 'facebookAppId' },
		{ label: "Pinterest", value: 'pinterest' },
		{ label: "Custom", value: 'custom' }
	] %}

	{% set cols = [
		{
			type: 'selectOther',
			heading: 'Name',
			options: verifyOwnershipOptions
		},
		{
			type: 'textual',
			heading: 'Meta Tag Name'
		},
		{
			type: 'textual',
			heading: 'Verification Code'
		}
	] %}

	{% set globalMeta = craft.sproutSeo.getGlobalKnowledgeGraphMeta() %}

	<p>	Link to docs with links to all the different supported ID instructions:
		Verify your <a href="http://www.alexa.com/siteowners/claim">Alexa account</a>
		Verify your <a href="http://www.bing.com/webmaster/?rfp=1#/Dashboard/?url=politicalentrepreneurs.com">Bing Webmaster Tools account</a>
		Verify your <a href="https://www.google.com/webmasters/verification/verification?hl=en&siteUrl=http%3A%2F%2Fpoliticalentrepreneurs.com/">Google Search Console account</a>
		Verify your <a href="http://help.yandex.com/webmaster/service/rights.xml#how-to">Yandex account</a>
		Add your <a href="https://developers.facebook.com/docs/apps/register">Facebook App ID</a>
		Verify your <a href="https://help.pinterest.com/en/articles/confirm-your-website#html_file">Pinterest account</a>
	</p>

	<div class="field" style="margin-bottom:0;">
		<div class="heading">
			<label>Meta Tags</label>
			<p class="instructions">Many services allow you to verify ownership by adding a meta tag to the <code><head></code> of your page. Add as many services as you'd like to verify.</p>
		</div>
	</div>

	<table id="sproutseo-schema-contacts" class="data fullwidth">
		<thead>
		<tr>
			{% for col in cols %}
				<th>{{ col.heading }}</th>
			{% endfor %}
			<th class="thin"></th>
			<th class="thin"></th>
		</tr>
		</thead>
		<tbody>

		{% for property in globalMeta.ownership  %}

		<tr data-id="1">

			<td>

				<div class="field sprout-selectother">
					{{ sproutFields.selectOther({
						name: 'sproutseo[schema][contactType]',
						options: verifyOwnershipOptions,
						value: property.service,
						otherPlaceholderText: 'Custom Type'|t
					}) }}
				</div>

			</td>
			<td>

				{{ forms.text({
					name: 'sproutseo[schema][tagName]',
					value: property.tagName,
					errors: ''
				}) }}

			</td>

			<td>

				{{ forms.text({
					name: 'sproutseo[schema][verificationCode]',
					value: property.verificationCode,
					errors: ''
				}) }}

			</td>

			<td class="thin action"><a class="move icon" title="Reorder"></a></td>
			<td class="thin action"><a class="delete icon" title="Delete"></a></td>
		</tr>

		{% endfor %}

		</tbody>
	</table>

	<div class="buttons">
		<div class="btn add icon small" tabindex="0">Add a Verification Code</div>
	</div>

	<hr>

	<div class="buttons">
		<div class="btn submit" tabindex="0">Save</div>
	</div>

{% endset %}

{% includeJsResource 'sproutseo/js/SproutFields.js' %}
{% includeJsResource 'sproutseo/js/EditableTable.js' %}

{% includejs %}

	(function() {

		var tableId = 'sproutseo-schema-contacts';
		var baseName = 'sproutseo';
		var columns = {{ cols|json_encode|raw }};
		var settings = {
			rowIdPrefix: 'col',
			onAddRow: $.proxy(this, 'onAddColumn'),
			onDeleteRow: $.proxy(this, 'reconstructDefaultsTable')
		}

		new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);

	})();

{% endincludejs %}