{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}

{% set content %}

	{% set identityTypes = [
		{ label: "Organization", value: "Organization" },
		{ label: "Person", value: "Person" }
	] %}

	{% set globalMeta = craft.sproutSeo.getGlobalKnowledgeGraphMeta() %}
	{% set schema = globalMeta.identity %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutSeo/schema/saveSchema">
		<input type="hidden" name="redirect" value="sproutseo/meta/{{ craft.request.getSegment(3) }}">
		<input type="hidden" name="schemaType" value="identity">

		{{ forms.selectField({
			label: 'Website Identity'|t,
			instructions: 'Select the primary concept that represents your brand identity.'|t,
			name: 'sproutseo[schema][identity][@type]',
			options: identityTypes,
			value: globalMeta.getType(),
			errors: "",
			required: false,
			first: true
		}) }}

		{{ forms.textField({
			label: "Name"|t,
			instructions: "Name of your organization"|t,
			name: 'sproutseo[schema][identity][name]',
			value: schema.name,
			errors: '',
			first: true,
			required: true
		}) }}

		{{ forms.textField({
			label: "Description"|t,
			instructions: "Description of your organization"|t,
			name: 'sproutseo[schema][identity][description]',
			value: schema.name,
			errors: '',
			required: true
		}) }}

		{{ forms.textField({
			label: "URL"|t,
			instructions: "Canonical URL of your organization"|t,
			name: 'sproutseo[schema][identity][url]',
			value: schema.url,
			errors: '',
			required: true
		}) }}

		{{ forms.textField({
			label: "Logo"|t,
			name: 'sproutseo[schema][identity][logo]',
			value: schema.name,
			errors: ''
		}) }}

		{#{% set assetsSourceExists = true %}#}
		{#{% if assetsSourceExists %}#}

			{#{{ forms.field({#}
				{#label: 'Image'|t,#}
			{#}, forms.elementSelect({#}
				{#elements: [],#}
				{#sourceElementId: schema.name,#}
				{#elementType: 'Asset',#}
				{#name: 'sproutseo[schema][identity][logo]',#}
				{#jsClass: 'Craft.AssetSelectInput',#}
				{#addButtonLabel: 'Select Image'|t,#}
				{#limit: 1,#}
				{#criteria: {"localeEnabled":null}#}
			{#})) }}#}

		{#{% else %}#}

			{#<p class="error">{{ 'No assets sources currently exist. <a href="' ~ url('settings/assets/sources/new') ~ '">Asset#}
				{#Source settings page.'|t }}</a></p>#}

		{#{% endif %}#}

		<div class="buttons">
			<input type="submit" class="btn submit" value="Save" />
		</div>

	</form>

{% endset %}