<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ "Sprout SEO - Preview Template"|t('sprout-seo') }}</title>
</head>

<body>
<div>
    <div class="header">
        <div class="btngroup right">
            <div class="btn active" id="sproutseo-preview-search"><span
                        class="sproutseo-icon icon-search">
                        {{ svg('@sproutbaseicons/search.svg') }}
                    </span> {{ "Search"|t('sprout-seo') }}</div>
            <div class="btn" id="sproutseo-preview-facebook"><span
                        class="sproutseo-icon icon-facebook">
                        {{ svg('@sproutbaseicons/facebook-f.svg') }}
                    </span> {{ "Facebook"|t('sprout-seo') }}</div>
            <div class="btn" id="sproutseo-preview-twitter"><span
                        class="sproutseo-icon icon-twitter">
                        {{ svg('@sproutbaseicons/twitter.svg') }}
                    </span> {{ "Twitter"|t('sprout-seo') }}</div>
        </div>
        <h2 class="left" style="margin:7px 0 0;">{{ 'SEO Preview'|t|upper }}
            <span class="info">{{ "An example of how your
            content might display in search and social sharing."|t }}</span>
        </h2>
    </div>

    <div class="body sproutseo-previewbody">
        <div id="tab-sproutseo-preview-search">
            {% include '_components/fields/elementmetadata/previews/search' %}
        </div>
        <div id="tab-sproutseo-preview-facebook" style="display:none;">
            {% include '_components/fields/elementmetadata/previews/opengraph' %}
        </div>
        <div id="tab-sproutseo-preview-twitter" style="display:none;">
            {% include '_components/fields/elementmetadata/previews/twittercard' %}
        </div>
    </div>
</div>
</body>
</html>