{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Organization" %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('sproutseo/settings/general') },
	{ label: "Schema"|t, url: url('sproutseo/settings/schema') }
] %}

{% set centered = true %}

{% set fullPageForm = false %}

{% if craft.request.getSegment(4) == 'new' %}
	{% set saveShortcutRedirect = url('sproutseo/meta') %}
{% else %}
	{% set saveShortcutRedirect = url('sproutseo/meta/' ~ defaultId) %}
{% endif %}

{% block saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="Save">
	</div>
{% endblock %}

{% block main %}

<div class="grid first" data-max-cols="3">
	<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
		<div id="fields" class="pane">

			{{ forms.textareaField({
				label: "Example Schema"|t,
				instructions: "Example of your Schema Map based on mock data."|t,
				id: 'schemaMap',
				class: 'nicetext fullwidth code',
				name: 'schemaMap',
				value: '{
	"name" : "Mock Name",
	"url" : "members/MockID",
	"sameAs" : [
		"EXAMPLE",
		"EXAMPLE2"
	]
}',
				errors: '',
				rows: 15
			}) }}

			{# @todo - need to restructure this page as we can't have this form within another fullPageForm #}
			<form method="post" action="https://search.google.com/structured-data/testing-tool" target="_blank">
				<input class="btn submit" type="submit" value="Validate Schema">
				<textarea name="code" style="display:none">&lt;script type="application/ld+json"&gt;
{
  "@context": "http://schema.org/",
  "@type": "Recipe",
  "name": "Perfect Apple Pie",
  "author": "Gin Blanco",
  "image": "http://images.edge-generalmills.com/56459281-6fe6-4d9d-984f-385c9488d824.jpg",
  "description": "A classic apple pie takes a shortcut with easy Pillsbury® unroll-fill refrigerated pie crust.",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "reviewCount": "276",
    "bestRating": "5",
    "worstRating": "1"
  },
  "prepTime": "PT30M",
  "totalTime": "PT3H",
  "recipeYield": "8",
  "nutrition": {
    "@type": "NutritionInformation",
    "servingSize": "1 medium slice",
    "calories": "230 calories",
    "fatContent": "1 g",
    "carbohydrateContent": "43 g",
    "cholesterolContent": "0 mg",
    "fiberContent": "1 g",
    "proteinContent": "1 g",
    "saturatedFatContent": "2 ½ g",
    "servingSize": "1 Serving",
    "sodiumContent": "200 mg",
    "sugarContent": "27 g",
    "transFatContent": "0 g"
  },
  "recipeIngredient": [
    "1 box Pillsbury™ refrigerated pie crusts, softened as directed on box",
    "6 cups thinly sliced, peeled apples (6 medium)",
    "3/4 cup sugar",
    "2 tablespoons all-purpose flour",
    "3/4 teaspoon ground cinnamon",
    "1/4 teaspoon salt",
    "1/8 teaspoon ground nutmeg",
    "1 tablespoon lemon juice"
  ],
  "recipeInstructions": [
    "1 Heat oven to 425°F. Place 1 pie crust in ungreased 9-inch glass pie plate. Press firmly against side and bottom.",
    "2 In large bowl, gently mix filling ingredients; spoon into crust-lined pie plate. Top with second crust. Wrap excess top crust under bottom crust edge, pressing edges together to seal; flute. Cut slits or shapes in several places in top crust.",
    "3 Bake 40 to 45 minutes or until apples are tender and crust is golden brown. Cover edge of crust with 2- to 3-inch wide strips of foil after first 15 to 20 minutes of baking to prevent excessive browning. Cool on cooling rack at least 2 hours before serving."
   ]
}
&lt;/script&gt;
</textarea>
			</form>

		</div>
	</div>
	<div class="item" data-position="right" data-colspan="1">

		<div class="pane">

			<h6>Main Entity Schema Type</h6>

			<ul>
				<li>Organization <a href="https://schema.org/Organization" target="_blank" class="go"></a></li>
			</ul>

			<h6>Additional Schema Types</h6>

			<ul>
				<li>ContactPoint <a href="https://schema.org/ContactPoint" target="_blank" class="go"></a></li>
				<li>ImageObject <a href="https://schema.org/ImageObject" target="_blank" class="go"></a></li>
				<li>PostalAddress <a href="https://schema.org/PostalAddress" target="_blank" class="go"></a></li>
			</ul>

		</div>

	</div>
</div>

{% endblock %}

{% if default.name is not defined or not default.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}

{% includeJsResource "sproutseo/js/default.js" %}

{% set js %}

	new Craft.SproutSeoDefault();

{% endset %}

{% includeJs js %}
