{% extends "sproutseo/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = "Structured Data"|t %}

{% set schemaHandle = craft.request.getSegment(3) ?? 'schema' %}
{% set selectedSidebarItem = schemaHandle %}
{% set schemaMaps = craft.sproutSeo.getSchemaMaps() %}

{% set content %}

	<table class="data fullwidth sitemap-settings custom-pages" id="custom-pages">
		<thead>
			<th style="width:25%;">{{ "Name"|t }}</th>
			<th style="width:25%;">{{ "Schema Type"|t }}</th>
			<th style="width:50%;">{{ "Objects"|t }}</th>
			<th class="thin rightalign nowrap"></th>
		</thead>
		<tbody>

			{% for schemaMapsByPlugin in schemaMaps  %}
				{% for schemaMap in schemaMapsByPlugin  %}
					<tr>
						<td>
							<a href="{{ cpUrl('sproutseo/settings/schema/new') }}">{{ schemaMap.getName() }}</a>
						</td>
						<td>
							<code>{{ schemaMap.getType() }}</code>
						</td>
						<td>
							How do we communicate what objects/variables are required?
						</td>
						<td>
							<span class="light" data-icon="globe"></span>
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>

	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutseo/meta/new') }}">{{ "New Schema"|t }}</a>
	</div>

{% endset %}
