{% extends "sproutseo/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = "Structured Data"|t %}

{% set schemaHandle = craft.request.getSegment(3) ?? 'schema' %}
{% set selectedSidebarItem = schemaHandle %}
{% set schemaMaps = craft.sproutSeo.getSchemaMaps() %}

{% set content %}

	<table class="data fullwidth sitemap-settings custom-pages" id="custom-pages">
		<thead>
			<th style="width:25%;">{{ "Name"|t }}</th>
			<th style="width:25%;">{{ "Schema Type"|t }}</th>
			<th style="width:40%;">{{ "Objects"|t }}</th>
			<th style="width:10%">{{ "View Mock Data"|t }}</th>
			<th class="thin rightalign nowrap"></th>
		</thead>
		<tbody>

			{% for schemaMapsByPlugin in schemaMaps  %}
				{% for schemaMap in schemaMapsByPlugin  %}
					<tr>
						<td>
							<a href="{{ cpUrl('sproutseo/settings/schema/new') }}">{{ schemaMap.getName() }}</a>
						</td>
						<td>
							<code>{{ schemaMap.getType() }}</code>
						</td>
						<td>
							How do we communicate what objects/variables are required?
						</td>
						<td>
							<form method="post" action="https://search.google.com/structured-data/testing-tool" target="_blank">
								<button class="go" type="submit" style="border:none;background-color:transparent;cursor:pointer;padding:0;">View</button>
								<textarea name="code" style="display:none">&lt;script type="application/ld+json"&gt;
{
  "@context": "http://schema.org/",
  "@type": "Recipe",
  "name": "Perfect Apple Pie",
  "author": "Gin Blanco",
  "image": "http://images.edge-generalmills.com/56459281-6fe6-4d9d-984f-385c9488d824.jpg",
  "description": "A classic apple pie takes a shortcut with easy Pillsbury® unroll-fill refrigerated pie crust.",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "reviewCount": "276",
    "bestRating": "5",
    "worstRating": "1"
  },
  "prepTime": "PT30M",
  "totalTime": "PT3H",
  "recipeYield": "8",
  "nutrition": {
    "@type": "NutritionInformation",
    "servingSize": "1 medium slice",
    "calories": "230 calories",
    "fatContent": "1 g",
    "carbohydrateContent": "43 g",
    "cholesterolContent": "0 mg",
    "fiberContent": "1 g",
    "proteinContent": "1 g",
    "saturatedFatContent": "2 ½ g",
    "servingSize": "1 Serving",
    "sodiumContent": "200 mg",
    "sugarContent": "27 g",
    "transFatContent": "0 g"
  },
  "recipeIngredient": [
    "1 box Pillsbury™ refrigerated pie crusts, softened as directed on box",
    "6 cups thinly sliced, peeled apples (6 medium)",
    "3/4 cup sugar",
    "2 tablespoons all-purpose flour",
    "3/4 teaspoon ground cinnamon",
    "1/4 teaspoon salt",
    "1/8 teaspoon ground nutmeg",
    "1 tablespoon lemon juice"
  ],
  "recipeInstructions": [
    "1 Heat oven to 425°F. Place 1 pie crust in ungreased 9-inch glass pie plate. Press firmly against side and bottom.",
    "2 In large bowl, gently mix filling ingredients; spoon into crust-lined pie plate. Top with second crust. Wrap excess top crust under bottom crust edge, pressing edges together to seal; flute. Cut slits or shapes in several places in top crust.",
    "3 Bake 40 to 45 minutes or until apples are tender and crust is golden brown. Cover edge of crust with 2- to 3-inch wide strips of foil after first 15 to 20 minutes of baking to prevent excessive browning. Cool on cooling rack at least 2 hours before serving."
   ]
}
&lt;/script&gt;
</textarea>
							</form>
						</td>
						<td>
							<span class="light" data-icon="globe"></span>
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>

	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutseo/meta/new') }}">{{ "New Schema"|t }}</a>
	</div>

{% endset %}
