{% set urls %}

{# Singles #}
{% if sitemap['entryTypes']['single'] %}
    <sitemap>
        <loc>{{siteUrl}}singles-sitemap.xml</loc>
        <lastmod>{{ now|date('Y-m-d') }}</lastmod>
    </sitemap>
{% endif %}

{# Channels #}
{% for channel in sitemap['entryTypes']['channel'] %}
{% for handle,total in channel %}
{% for item in 1..(total/20) |round(0, 'ceil') %}
    <sitemap>
        <loc>{{siteUrl}}{{handle}}-entries-sitemap{{item}}.xml</loc>
        <lastmod>{{ now|date('Y-m-d') }}</lastmod>
    </sitemap>
{% endfor %}
{% endfor %}
{% endfor %}
{% for structure in sitemap['entryTypes']['structure'] %}
{% for handle,total in structure %}
{% for item in 1..(total/20) |round(0, 'ceil') %}
    <sitemap>
        <loc>{{siteUrl}}{{handle}}-entries-sitemap{{item}}.xml</loc>
        <lastmod>{{ now|date('Y-m-d') }}</lastmod>
    </sitemap>
{% endfor %}
{% endfor %}
{% endfor %}

{# Categories #}
{% for handle,total in sitemap['categoryTypes'] %}
{% for item in 1..(total/20) |round(0, 'ceil') %}
    <sitemap>
        <loc>{{siteUrl}}{{handle}}-categories-sitemap{{item}}.xml</loc>
        <lastmod>{{ now|date('Y-m-d') }}</lastmod>
    </sitemap>
{% endfor %}
{% endfor %}

{# Commerce Products #}
{% for handle,total in sitemap['productTypes'] %}
{% for item in 1..(total/20) |round(0, 'ceil') %}
    <sitemap>
        <loc>{{siteUrl}}{{handle}}-products-sitemap{{item}}.xml</loc>
        <lastmod>{{ now|date('Y-m-d') }}</lastmod>
    </sitemap>
{% endfor %}
{% endfor %}

{# Custom Sections #}
{% if sitemap['custom'] %}
    <sitemap>
        <loc>{{siteUrl}}custom-sections-sitemap.xml</loc>
        <lastmod>{{ now|date('Y-m-d') }}</lastmod>
    </sitemap>
{% endif %}
{% endset %}{# end urls set #}
{#
 #
 # Returns URL nodes or the full sitemap based on options provided/supported #}
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">{{ urls }}</sitemapindex>