{% set ogType = 'website' %}

{% if prioritizedMetadata.ogImageWidth and prioritizedMetadata.ogImageHeight %}
    {% if (prioritizedMetadata.ogImageWidth > 600) and (prioritizedMetadata.ogImageHeight > 1000) %}
        {% set ogType = 'article' %}
    {% endif %}
{% endif %}

{% set ogImage = prioritizedMetadata.ogImage != null ?
    prioritizedMetadata.ogImage :
    null %}

{% set url = siteUrl|replace("http://", '')|replace("https:://", '')|trim('/') %}

{% if ogType == 'website' %}

    <div class="opengraph-preview opengraph-preview-small">
        <div class="unclickable">

            {% if ogImage %}
                <div class="preview-img">
                    <img src="{{ ogImage }}" alt="" width="158" height="158">
                </div>
            {% endif %}

            <div class="preview-body">
                <div class="og-heading">{{ prioritizedMetadata.ogTitle }}</div>
                <div class="og-description">{{ prioritizedMetadata.ogDescription }}</div>
                <div class="og-url">{{ url }}</div>
            </div>

            <div class="unclickableMask"></div>
        </div>
    </div>

{% else %}

    <div class="opengraph-preview opengraph-preview-large">
        <div class="unclickable">

            {% if ogImage %}
                <div class="preview-img">
                    <img src="{{ ogImage }}" alt="" width="526" height="275">
                </div>
            {% endif %}

            <div class="preview-body">
                <div class="og-heading">{{ prioritizedMetadata.ogTitle }}</div>
                <div class="og-description">{{ prioritizedMetadata.ogDescription }}</div>
                <div class="og-url">{{ url }}</div>
            </div>
            <div class="unclickableMask"></div>
        </div>
    </div>

{% endif %}

{% css %}
    .opengraph-preview {
    clear: both;
    font-family: helvetica, arial, sans-serif;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100%; /* 527px */
    border: 1px solid;
    border-color: #e9ebee #e9ebee #d1d1d1;
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1);*/
    }
    .opengraph-preview-small .preview-img {
    float: left;
    height:158px;
    }
    .opengraph-preview-small .preview-body {
    height: 132px;
    }
    .preview-body {
    font-size: 12px;
    padding: 10px 12px;
    }
    .preview-body .og-heading {
    color: #1d2129;
    font-family: Georgia, serif;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    max-height: 110px;
    overflow: hidden;
    word-wrap: break-word;
    text-decoration: none;
    transition: color .1s ease-in-out;
    }
    .preview-body .og-description {
    color: #4b4f56;
    }
    .opengraph-preview-large .og-description {
    margin-bottom: 10px;
    }
    .preview-body .og-url {
    color: #90949c;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    }
    .opengraph-preview-small .preview-body .og-url {
    position: absolute;
    bottom: 20px;
    }
    .opengraph-preview-small,
    .opengraph-preview-large {
    width: 526px;
    }

    {% if ogImage %}
        .opengraph-preview-small .preview-body {
        margin-left: 158px;
        }
        .opengraph-preview-small .preview-img {
        width:158px;
        }
        .opengraph-preview-large .preview-img img {
        width: 526px;
        height: 275px;
        }
    {% endif %}

{% endcss %}