{% set twitterImage = prioritizedMetadata.twitterImage != null ?
    prioritizedMetadata.twitterImage :
    null %}

{% set url = siteUrl|replace("http://", '')|replace("https:://", '')|trim('/') %}

{% if prioritizedMetadata.twitterCard == 'summary_large_image' %}

    <div class="Tweet-card">
        <div class="TwitterCardsGrid TwitterCard">

            <div class="TwitterCardsGrid-col--12 TwitterCardsGrid-col--spacerBottom CardContent">
                <a class="js-openLink u-block TwitterCardsGrid-col--12 TwitterCard-container TwitterCard-container--clickable SummaryCard--large"
                   href="{{ prioritizedMetadata.getPreviewUrl() }}"
                   data-theme="light"
                   data-card-breakpoints="w450 w400 w350 w300 w250 w200 w150 w100 w50 ">
                    {% if twitterImage %}
                        <div class="SummaryCard-image TwitterCardsGrid-col--12">
                            <div class="tcu-imageContainer tcu-imageAspect--2to1">
                                <style>
                                    .tcu-image-491955931719434241 {
                                        background-image: url("{{ twitterImage }}") !important;
                                        background-size: cover !important;
                                    }
                                </style>
                                <div class="tcu-imageWrapper tcu-image-491955931719434241 js-cspForcedStyle"
                                     data-csp-fix="true">
                                    <img class="u-block"
                                         src="{{ twitterImage }}"
                                         alt="{{ prioritizedMetadata.twitterTitle }}">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="SummaryCard-contentContainer TwitterCardsGrid-col--12">
                        <div class="SummaryCard-content">
                            <h2 class="TwitterCard-title js-cardClick tcu-textEllipse--multiline">
                                {{ prioritizedMetadata.twitterTitle }}
                            </h2>
                            <p class="tcu-resetMargin u-block TwitterCardsGrid-col--spacerTop tcu-textEllipse--multiline">{{ prioritizedMetadata.twitterDescription }}</p>
                            <span class="u-block TwitterCardsGrid-col--spacerTop SummaryCard-destination">{{ url }}</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

{% else %}

    <div class="Tweet-card">
        <div class="TwitterCardsGrid TwitterCard">

            <div class="TwitterCardsGrid-col--12 TwitterCardsGrid-col--spacerBottom CardContent">
                <a class="js-openLink u-block TwitterCardsGrid-col--12 TwitterCard-container TwitterCard-container--clickable SummaryCard--small"
                   href="https://t.co/IhGdmShWH6" data-theme="light"
                   data-card-breakpoints="w450 w400 w350 w300 w250 w200 w150 w100 w50 ">
                    {% if twitterImage %}
                        <div class="SummaryCard-image TwitterCardsGrid-float--prev">
                            <div class="tcu-imageContainer tcu-imageAspect--1to1">
                                <style>
                                    .tcu-image-593828669740584960 {
                                        background-image: url("{{twitterImage}}") !important;
                                        background-size: cover !important;
                                    }
                                </style>
                                <div class="tcu-imageWrapper tcu-image-593828669740584960 js-cspForcedStyle"
                                     data-style="background-image: url({{ twitterImage }})"
                                     data-csp-fix="true"
                                     style="background-image: url({{ twitterImage }}); background-size: cover;">
                                    <img class="u-block"
                                         src="{{ twitterImage }}"
                                         alt="Photo published for History of #TBT on Twitter | Twitter Blogs">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="SummaryCard-contentContainer TwitterCardsGrid-float--prev">
                        <div class="SummaryCard-content">
                            <h2 class="TwitterCard-title js-cardClick tcu-textEllipse--multiline">
                                {{ prioritizedMetadata.twitterTitle }}
                            </h2>
                            <p class="tcu-resetMargin u-block TwitterCardsGrid-col--spacerTop tcu-textEllipse--multiline">{{ prioritizedMetadata.twitterDescription }}</p>
                            <span class="u-block TwitterCardsGrid-col--spacerTop SummaryCard-destination">{{ url }}</span>
                        </div>
                    </div>
                </a>

            </div>

        </div>
    </div>

{% endif %}

{% css %}
    .Tweet-card {
    /*margin-top: 10.4px;*/
    font-size: 14px;
    width: 458px;
    }
    .TwitterCardsGrid {
    display: block;
    position: relative;
    text-align: left;
    }
    .TwitterCard {
    background: transparent;
    color: inherit;
    overflow: hidden;
    }
    .TwitterCardsGrid .TwitterCardsGrid-col--spacerBottom,
    .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerBottom {
    margin-bottom: .32333em;
    }
    .TwitterCardsGrid .TwitterCardsGrid-col--12 {
    float: left;
    width: 100%;
    clear: both;
    }
    .TwitterCardsGrid .TwitterCardsGrid-col--12 {
    float: left;
    width: 100%;
    clear: both;
    }
    .Tweet-card a:visited {
    color: #2b7bb9;
    text-decoration: none;
    outline: 0;
    }
    .Tweet-card .u-block {
    display: block!important;
    }
    .TwitterCard-container--clickable {
    cursor: pointer;
    outline-offset: -1px;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
    }
    .TwitterCard-container {
    border-radius: .42857em;
    border-width: 1px;
    border-style: solid;
    border-color: #E1E8ED;
    box-sizing: border-box;
    color: inherit!important;
    overflow: hidden;
    }
    .Tweet-card a {
    color: #2b7bb9;
    text-decoration: none;
    outline: 0;
    }
    .Tweet-card a {
    background-color: transparent;
    }
    .TwitterCard .SummaryCard--small .SummaryCard-image {
    width: 8.81667em;
    border-right-width: 1px;
    }
    .TwitterCard .SummaryCard-image {
    background-color: #E1E8ED;
    border-style: solid;
    border-color: inherit;
    border-width: 0;
    }
    .TwitterCard .SummaryCard--small .SummaryCard-image img {
    height: 125px;
    width: 125px;
    }
    .TwitterCard .SummaryCard--large .SummaryCard-image img {
    height: 230px;
    width: 458px;
    }
    .TwitterCardsGrid .TwitterCardsGrid-float--prev {
    float: left;
    }
    .TwitterCard .SummaryCard--small .SummaryCard-contentContainer {
    width: calc(100% - 8.81667em - 2px);
    }
    .TwitterCardsGrid .TwitterCardsGrid-float--prev {
    float: left;
    }
    .TwitterCard .SummaryCard-content {
    padding: .75em;
    box-sizing: border-box;
    text-decoration: none;
    }
    .TwitterCard .SummaryCard-content .TwitterCard-title {
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .tcu-textEllipse--multiline {
    overflow: hidden;
    }
    .TwitterCard-title {
    font-size: 1em;
    margin: 0 0 .15em;
    }
    .Tweet-card blockquote,
    .Tweet-card button,
    .Tweet-card h1,
    .Tweet-card h2,
    .Tweet-card h3,
    .Tweet-card h4,
    .Tweet-card h5,
    .Tweet-card h6,
    .Tweet-card iframe,
    .Tweet-card ol,
    .Tweet-card p,
    .Tweet-card ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    }
    .TwitterCard .SummaryCard--small .SummaryCard-content p {
    max-height: 3.9em;
    }
    .TwitterCard .SummaryCard-content p {
    overflow: hidden;
    }
    .TwitterCardsGrid .TwitterCardsGrid-col--spacerTop, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerTop {
    margin-top: .32333em;
    }
    .TwitterCard .SummaryCard-destination {
    text-transform: lowercase;
    color: #8899A6;
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .TwitterCardsGrid .TwitterCardsGrid-col--spacerTop, .TwitterCardsGrid-rtl .TwitterCardsGrid-col--spacerTop {
    margin-top: .32333em;
    }
    .Tweet-card .u-block {
    display: block!important;
    }
{% endcss %}
