{% import "_includes/forms" as forms %}

<div class="sproutseo-box">

	{{ forms.textField({
		label: "Title"|t,
		instructions: "The Title of your content which will appear in search results"|t,
		name: 'sproutseo[metadata][title]',
		maxlength: 60,
		showCharsLeft: true,
		value: values.title,
		errors: "",
		required: false,
		placeholder: " "
	}) }}

	{{ forms.textField({
		label: "Description"|t,
		instructions: "A description of your content which will appear in search results."|t,
		name: 'sproutseo[metadata][description]',
		maxlength: 160,
		showCharsLeft: true,
		value: values.description,
		errors: "",
		required: false,
		placeholder: " "
	}) }}

	{{ forms.textField({
		label: "Keywords"|t,
		instructions: "A list of keywords that describe your content"|t,
		name: 'sproutseo[metadata][keywords]',
		value: values.keywords,
		errors: "",
		required: false
	}) }}

</div>

{% includeCssResource "sproutseo/css/sproutseo.css" %}