{% import "_includes/forms" as forms %}

<div class="sproutseo-box-opengraph">

	<div class="sproutseo-fields" id="open-graph">

		{% set ogTypesOptions = {
		'' : 'Select Open Graph Type...'|t,
		'article' : 'Article'|t,
		'website' : 'Website'|t,
		} %}

		{{ forms.selectField({
			label: 'Open Graph Type'|t,
			instructions: 'First, select your Open Graph Type. Learn more about <a href="https://developers.facebook.com/docs/reference/opengraph#object-type"
				target="_blank">How Open Graph Stories work.</a>'|t,
			name: 'sproutseo[metadata][ogType]',
			options: ogTypesOptions,
			value: values.ogType,
			errors: "",
			required: false
		}) }}

		{{ forms.textField({
			label: "Title"|t,
			name: "sproutseo[metadata][ogTitle]",
			value: values.ogTitle
		}) }}

		{{ forms.textareaField({
			label: "Description"|t,
			name: "sproutseo[metadata][ogDescription]",
			value: values.ogDescription
		}) }}

		{{ forms.field({
			label: 'Image'|t ~ sprout.infoIcon({
				label: 'Image'|t,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'entries'
			}),
			instructions: 'An image that represents your content that will display in social sharing.'|t,
		}, forms.elementSelect({
			elements: ogImageElements,
			sourceElementId: [values.ogImage],
			elementType: elementType,
			id: 'metaDetailsOgImage',
			name: 'sproutseo[metadata][ogImage]',
			jsClass: 'Craft.AssetSelectInput',
			addButtonLabel: 'Select Image'|t,
			limit: 1,
			criteria: {"localeEnabled":null}
		})) }}

	</div>

</div>

{% includeJsResource "sproutseo/js/open-graph.js" %}

{% set js %}
new Craft.SproutSeoOpenGraph();
{% endset %}
{% includeJs js %}






