{% import "_includes/forms" as forms %}

		<div class="sproutseo-box-optimized">

			{# @todo - Optional / Can also default to the Title field, or any field? #}
			{% if not settings.useElementTypeTitle or settings.usetMetaTitle %}
				{{ forms.textField({
					label: "Meta Title"|t,
					instructions: "The Title of your content which will appear in search results and when sharing on Facebook and Twitter and other services."|t,
					name: 'sproutseo_fields[title]',
					maxlength: 55,
					showCharsLeft: true,
					value: values.title,
					errors: "",
					required: false,
					placeholder: " "
				}) }}
			{% endif %}

			{{ forms.textareaField({
				label: "Meta Description"|t,
				instructions: "A description of your content which will appear in search results and when sharing on Facebook and Twitter and other services."|t,
				name: 'sproutseo_fields[description]',
				maxlength: 160,
				showCharsLeft: true,
				value: values.description,
				errors: "",
				required: false,
				placeholder: " "
			}) }}

			{{ forms.field({
				label: 'Meta Image'|t,
				instructions: 'A featured image that represents your content that will display when sharing on Facebook and Twitter and other services.'
			}, forms.elementSelect({
				elements: ogImageElements,
				sourceElementId: values.ogImage,
				elementType: elementType,
				id: 'ogImage',
				name: 'sproutseo_fields[ogImage]',
				jsClass: 'Craft.AssetSelectInput',
				addButtonLabel: 'Select Image'|t,
				limit: 1,
				criteria: {"localeEnabled":null}
			})) }}

		</div>

{% if settings.displayPreview %}
	<ul class="sproutseo-preview-btns">
		<li class="selected">Search</li>
		<li>Facebook</li>
		<li>Twitter</li>
	</ul>
	<div class="google-result-border">
		<h3 class="google-result-heading">Pidgeon - Wikipedia, the free encyclopedia</h3>
		<div class="s">
			<div>
				<divstyle="white-space:nowrap">
				<cite class="google-result-cite">https://en.wikipedia.org/wiki/Pidgeon</cite>
				{#<div class="action-menu">#}
				{#<a href="#"><span class="mn-dwn-arw"></span></a>#}
				{#</div>#}
				<div class="google-result-identity">
					<div class="crl">Wikipedia<span class="_Bs"></span></div>
				</div>
			</div>
			<span class="google-result-description">Pidgeon is a surname from an archaic spelling of pigeon. Notable persons with the surname include: Caroline Pidgeon, Liberal Democrat politician in the United<wbr>&nbsp;...</span>
		</div>
	</div>
{% endif %}

{% if settings.displayAdvancedOptions %}
	{% set advancedSeoButtons %}
		<div class="buttons">
			<div id="btngroup" class="btngroup">
				{% if settings.showGeo %}<div class="btn" data-type="geo">Geo</div>{% endif %}
				{% if settings.showRobots %}<div class="btn" data-type="robots">Robots</div>{% endif %}
				{% if settings.showOpenGraph %}<div class="btn" data-type="openGraph">Open Graph</div>{% endif %}
				{% if settings.showTwitter %}<div class="btn" data-type="twitterCard">Twitter Card</div>{% endif %}
			</div>
			<div class="btn add icon menubtn hidden">Add a block</div>
		</div>
	{% endset %}

	{{ forms.field({
		label: 'Advanced Customization'|t,
		instructions: 'If you have more specific SEO needs, you can further customize your meta data with the following fields.'
	}, advancedSeoButtons) }}
{%endif%}


<div class="matrix matrix-field" style="position: relative;">

	<div class="blocks">

		<div class="matrixblock fields-geo" >

			<div class="titlebar">
				<div class="blocktype">Geo</div>
				<div class="preview"></div>
			</div>

			<div class="sproutseo-box-geo">

				{{ forms.textField({
					label: "Region"|t,
					instructions: 'The geo.region expects codes for <a
					  href="http://geotags.com/iso3166/countries.html" target="_blank">Country Names and Subdivisions</a>. The <a
					  href="http://geotags.com/geo/DMS3.html" target="_blank">GeoTag Generator</a> can help pick appropriate codes.'|t,
					name: "sproutseo_fields[region]",
					value: values.region
				}) }}

				{{ forms.textField({
					label: "Placename"|t,
					instructions: 'The Placename field is typically used for city, county, and state names.'|t,
					name: "sproutseo_fields[placename]",
					value: values.placename
				}) }}

				{{ forms.textField({
					label: "Latitude"|t,
					name: "sproutseo_fields[latitude]",
					value: values.latitude,
					placeholder: '38.403440'
				}) }}

				{{ forms.textField({
					label: "Longitude"|t,
					name: "sproutseo_fields[longitude]",
					value: values.longitude,
					placeholder: '-122.823676'
				}) }}

			</div>

		</div>

		<div class="matrixblock fields-robots">

			<div class="titlebar">
				<div class="blocktype">Robots</div>
				<div class="preview"></div>
			</div>

			{% macro isSelected(target, string) %}
				{% if target in string %}checked="checked"{% endif %}
			{% endmacro %}
			{% import _self as checkbox %}

			<div class="sproutseo-box-robots">

				{% if fieldContext is defined and fieldContext == 'field' %}
					{{ forms.textField({
						label: "Canonical URL"|t,
						name: "sproutseo_fields[canonical]",
						value: values.canonical
					}) }}
				{% endif %}

				{# This needs to be here to make sure the checkboxes work properly #}
				<input type="hidden" name="sproutseo_fields[robots]" value="">

				<div>
					{{ forms.checkbox({
						label: "noindex",
						id: "noindex-choice",
						name: "sproutseo_fields[robots][]",
						value: "noindex",
						checked: ('noindex' in values.robots)
					}) }}
					<span class="info">{{ "I don't want this page to be indexed by search engines"|t }}</span>
				</div>
				<div>
					{{ forms.checkbox({
						label: "nofollow",
						id: "nofollow-choice",
						name: "sproutseo_fields[robots][]",
						value: "nofollow",
						checked: ('nofollow' in values.robots)
					}) }}
					<span class="info">{{ "I don't want robots to follow links on this page"|t }}</span>
				</div>


				{# Consider adding a link or posting a help article in our docs to clarify these:
				http://tech4sky.com/noodp-noarchive-nosnippet-noydir-meta-tag #}

				<div>
					{{ forms.checkbox({
						label: "noarchive",
						id: "noarchive-choice",
						name: "sproutseo_fields[robots][]",
						value: "noarchive",
						checked: ('noarchive' in values.robots)
					}) }}
					<span class="info">{{ "I don't want search engines to provide archived versions of this page to users"|t }}</span>
				</div>
				<div>
					{{ forms.checkbox({
						label: "noimageindex",
						id: "noimageindex-choice",
						name: "sproutseo_fields[robots][]",
						value: "noimageindex",
						checked: ('noimageindex' in values.robots)
					}) }}
					<span class="info">{{ "I don't want images on this page to be indexed by search engines"|t }}</span>
				</div>
				<div>
					{{ forms.checkbox({
						label: "nosnippet",
						id: "nosnippet-choice",
						name: "sproutseo_fields[robots][]",
						value: "nosnippet",
						checked: ('nosnippet' in values.robots)
					}) }}
					<span class="info">{{ "I don't want Google to cache this page or display a description below the page in search results"|t }}</span>
				</div>
				<div>
					{{ forms.checkbox({
						label: "noodp",
						id: "noodp-choice",
						name: "sproutseo_fields[robots][]",
						value: "noodp",
						checked: ('noodp' in values.robots)
					}) }}
					<span class="info">{{ "I don't want Google to use the Open Directory Project (ODP) description for this page. I want Google to use the description on the website."|t }}</span>
				</div>
				<div>
					{{ forms.checkbox({
						label: "noydir",
						id: "noydir-choice",
						name: "sproutseo_fields[robots][]",
						value: "noydir",
						checked: ('noydir' in values.robots)
					}) }}
					<span class="info">{{ "I don't want Bing or Yahoo! to use the Yahoo! Directory titles and descriptions for this page.  I want Bing and Yahoo! to use the titles and descriptions on the website."|t }}</span>
				</div>
			</div>

		</div>

		<div class="matrixblock fields-openGraph">

			<div class="titlebar">
				<div class="blocktype">Open Graph</div>
				<div class="preview"></div>
			</div>

			<div class="sproutseo-box-opengraph">
				<div class="sproutseo-fields" id="open-graph">

					{% set ogTypesOptions = {
					'' : 'Select Open Graph Type...'|t,
					'article' : 'Article'|t,
					'website' : 'Website'|t,
					} %}

					{{ forms.selectField({
						label: 'Open Graph Type'|t,
						instructions: 'First, select your Open Graph Type. Learn more about <a href="https://developers.facebook.com/docs/reference/opengraph#object-type"
				target="_blank">How Open Graph Stories work.</a>'|t,
						name: 'sproutseo_fields[ogType]',
						options: ogTypesOptions,
						value: values.ogType,
						errors: "",
						required: false
					}) }}

					<hr>

					<h2>Basic Metadata</h2>
					{% if not settings.usetMetaTitle %}
						{{ forms.textField({
							label: "Title"|t,
							instructions: "The title of your content as it should appear within the graph"|t,
							name: 'sproutseo_fields[ogTitle]',
							maxlength: 88,
							showCharsLeft: true,
							value: values.ogTitle,
							errors: "",
							required: false,
							placeholder: " "
						}) }}
					{% endif %}

					{{ forms.textField({
						label: "URL"|t,
						instructions: "The canonical URL of your content that will be used as its permanent ID in the graph."|t,
						name: 'sproutseo_fields[ogUrl]',
						value: values.ogUrl,
						errors: "",
						required: false
					}) }}

					{% if assetsSourceExists %}
						{% if not settings.useMetaImage %}
							{{ forms.field({
								label: 'Image'|t,
							}, forms.elementSelect({
								elements: ogImageElements,
								sourceElementId: values.ogImage,
								elementType: elementType,
								id: 'ogImage',
								name: 'sproutseo_fields[ogImage]',
								jsClass: 'Craft.AssetSelectInput',
								addButtonLabel: 'Select Image'|t,
								limit: 1,
								criteria: {"localeEnabled":null}
							})) }}
						{% endif %}

					{% else %}

						<p class="error">{{ 'No assets sources currently exist. <a href="' ~ url('settings/assets/sources/new') ~ '">Asset
								Source settings page.'|t }}</a></p>

					{% endif %}

				</div>

				<div id="optional-metadata">

					<hr>

					<h2>Optional Metadata</h2>

					{{ forms.textField({
						label: "Site Name"|t,
						instructions: "If your content is part of a larger web site, the name which should be displayed for the overall site."|t,
						name: 'sproutseo_fields[ogSiteName]',
						value: values.ogSiteName,
						errors: "",
						required: false
					}) }}

					{% if not settings.useMetaDescription %}
						{{ forms.textField({
							label: "Description"|t,
							name: 'sproutseo_fields[ogDescription]',
							maxlength: 200,
							showCharsLeft: true,
							value: values.ogDescription,
							errors: "",
							required: false,
							placeholder: " "
						}) }}
					{% endif %}

					{{ forms.textField({
						label: "Locale"|t,
						instructions: "The locale these tags are marked up in. Defaults to the current locale."|t,
						name: 'sproutseo_fields[ogLocale]',
						value: values.ogLocale,
						errors: "",
						required: false
					}) }}

					{{ forms.textField({
						label: "Audio"|t,
						instructions: "A URL to an audio file to accompany this content."|t,
						name: 'sproutseo_fields[ogAudio]',
						value: values.ogAudio,
						errors: "",
						required: false
					}) }}

					{{ forms.textField({
						label: "Video"|t,
						instructions: "A URL to a video file that complements this content."|t,
						name: 'sproutseo_fields[ogVideo]',
						value: values.ogVideo,
						errors: "",
						required: false
					}) }}

				</div>

			</div>

		</div>

		<div class="matrixblock fields-twitterCard">

			<div class="titlebar">
				<div class="blocktype">Twitter Card</div>
				<div class="preview"></div>
			</div>

			<div class="sproutseo-box-twitter">
				<div class="sproutseo-fields" id="twitter-card">

					{% set twitterCardOptions = {
					'' : 'Select Twitter Card Type...'|t,
					'summary' : 'Summary Card'|t,
					'summary_large_image' : 'Summary Card with Large Image'|t,
					'player' : 'Player Card'|t,
					'photo' : 'Photo Card'|t,
					} %}

					{{ forms.selectField({
						label: 'Twitter Card Type'|t,
						instructions: 'First, select your Twitter Card Type. Learn more about <a href="https://dev.twitter.com/docs/cards"
					target="_blank">How Twitter Cards work</a>.'|t,
						name: 'sproutseo_fields[twitterCard]',
						options: twitterCardOptions,
						value: (values.twitterCard is defined ? values.twitterCard : 'summary'),
						errors: "",
						required: false
					}) }}

					<hr>

					{{ forms.textField({
						label: "Site"|t,
						instructions: "The Twitter username of the owner of this card's domain."|t,
						name: 'sproutseo_fields[twitterSite]',
						value: values.twitterSite,
						errors: "",
						required: false,
						placeholder: '@ContentPublisher'
					}) }}

					{{ forms.textField({
						label: "Creator"|t,
						instructions: "If the content of this card was authored by someone, include their Twitter username here."|t,
						name: 'sproutseo_fields[twitterCreator]',
						value: values.twitterCreator,
						errors: "",
						required: false,
						placeholder: '@ContentAuthor'
					}) }}
					{% if not settings.usetMetaTitle %}
						{{ forms.textField({
							label: "Title"|t,
							instructions: 'The title of your content as it should appear in the card.'|t,
							name: 'sproutseo_fields[twitterTitle]',
							maxlength: 70,
							showCharsLeft: true,
							value: values.twitterTitle,
							errors: "",
							required: false,
							placeholder: " "
						}) }}
					{% endif %}

					{% if not settings.useMetaDescription %}
						{{ forms.textField({
							label: "Description"|t,
							instructions: 'A description of the content.'|t,
							name: 'sproutseo_fields[twitterDescription]',
							maxlength: 200,
							showCharsLeft: true,
							value: values.twitterDescription,
							errors: "",
							required: false,
							placeholder: " "
						}) }}
					{% endif %}

					{% if assetsSourceExists %}
						{% if not settings.useMetaImage %}
							{{ forms.field({
								label: 'Image'|t,
							}, forms.elementSelect({
								elements: twitterImageElements,
								sourceElementId: values.twitterImage,
								elementType: elementType,
								id: 'twitterImage',
								name: 'sproutseo_fields[twitterImage]',
								jsClass: 'Craft.AssetSelectInput',
								addButtonLabel: 'Select Image'|t,
								limit: 1,
								criteria: {"localeEnabled":null}
							})) }}
						{% endif %}

					{% else %}

						<p class="error">{{ 'No assets sources currently exist. <a href="' ~ url('settings/assets/sources/new') ~ '">Asset
							Source settings page.'|t }}</a></p>

					{% endif %}

					<div id="twitter-player" class="hidden">

						<hr>

						{{ forms.textField({
							label: "Player"|t,
							instructions: "HTTPS URL to iframe player. This must be a HTTPS URL which does not generate mixed content warnings in a web browser."|t,
							name: 'sproutseo_fields[twitterPlayer]',
							value: values.twitterPlayer,
							errors: "",
							required: false
						}) }}

						{{ forms.textField({
							label: "Stream"|t,
							instructions: "URL to raw stream that will be rendered in Twitter's Mobile App Integrations directly. If
						provided, the stream must be delivered in the MPEG-4 container format."|t,
							name: 'sproutseo_fields[twitterPlayerStream]',
							value: values.twitterPlayerStream,
							errors: "",
							required: false
						}) }}

						{{ forms.textField({
							label: "Stream Content Type"|t,
							instructions: "The MIME type subtype combination that describes the content contained in twitter player stream."|t,
							name: 'sproutseo_fields[twitterPlayerStreamContentType]',
							value: values.twitterPlayerStreamContentType,
							errors: "",
							required: false
						}) }}

						{{ forms.textField({
							label: "Height"|t,
							instructions: "Height of IFRAME specified in twitter player in pixels."|t,
							name: 'sproutseo_fields[twitterPlayerHeight]',
							value: values.twitterPlayerHeight,
							errors: "",
							required: false
						}) }}

						{{ forms.textField({
							label: "Width"|t,
							instructions: 'Width of IFRAME specified in twitter player in pixels.'|t,
							name: 'sproutseo_fields[twitterPlayerWidth]',
							value: values.twitterPlayerWidth,
							errors: "",
							required: false
						}) }}

					</div>

				</div>
			</div>

		</div>

	</div>

</div>

<style>
	{# Hide the Heading of our Field so all our grouped sub-fields
	 feel like they are part of the natural flow of fields #}
	{% if fieldId is defined %}
	#{{ fieldId }} > .heading:first-of-type { display: none; }
	{% endif %}

	{# Preview Buttons for Example Search, Facebook, & Twitter results #}
	.sproutseo-preview-btns {
		text-align: right;
		margin-bottom: -1px;
	}
	.sproutseo-preview-btns li {
		display: inline-block;
		box-shadow: 0 0 0 1px #e3e5e8;
		padding: 3px 5px 2px;
		font-size: 12px;
		margin-right: -3px;
		background-image: linear-gradient(#f7f7f8, #f4f5f6);
	}
	.sproutseo-preview-btns li.selected {
		background-color: #fff;
		background-image: none;
		border-bottom: 1px solid #fff;
	}

	{# Example Google Results #}
	.google-result-border {
		border-bottom: 1px solid rgba(0,0,0,0.07);
		border-top: 1px solid rgba(0,0,0,0.07);
		font-family: arial, sans-serif;
		margin-bottom: 20px;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.google-result-heading {
		color: #1a0dab;
		font-family: arial, sans-serif;
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 0;
	}
	.google-result-cite {
		color: #006621;
		display: inline-block;
		font-family: arial, sans-serif;
		font-size: 14px;
		font-style: normal;
	}
	.google-result-identity {
		color: #777;
		cursor: pointer;
		display: inline-block;
		font-family: arial, sans-serif;
		font-size: 14px;
	}
	.google-result-description {
		color: #545454;
		font-family: arial, sans-serif;
		font-size: 13px;
	}
	.matrixblock{
		display:none;
	}

	/*.action-menu .mn-dwn-arw {*/
	/*border-color: #006621 transparent;*/
	/*margin-top: -4px;*/
	/*margin-left: 3px;*/
	/*left: 0;*/
	/*}*/
	/*.mn-dwn-arw {*/
	/*border-width: 5px 4px 0 4px !important;*/
	/*border-color: #909090 transparent;*/
	/*border-style: solid;*/
	/*border-width: 4px 4px 0 4px;*/
	/*width: 0;*/
	/*height: 0;*/
	/*margin-left: -2px;*/
	/*top: 50%;*/
	/*margin-top: -2px;*/
	/*position: absolute;*/
	/*}*/


	{# Override hr on matrix blocks to display nicely #}
	.pane hr {
		margin: 14px -14px;
	}
</style>

{% includeCssResource "sproutseo/css/fields.css" %}
{% includeJsResource "sproutseo/js/open-graph.js" %}
{% includeJsResource "sproutseo/js/twitter-card.js" %}

{% set js %}
	$( document ).ready(function() {
		$(".btngroup div").click(function(){
		  var divId = $(this).attr("data-type");
		  $(".fields-"+divId).toggle();
		  return false; // avoid parents divs if you have nested divs
		});
	});
	new Craft.SproutSeoOpenGraph();
	new Craft.SproutSeoTwitterCard();
{% endset %}

{% includeJs js %}



