{% import "_includes/forms" as forms %}

{% macro isSelected(target, string) %}
	{% if target in string %}checked="checked"{% endif %}
{% endmacro %}
{% import _self as checkbox %}

<div class="sproutseo-box">

	{% if fieldContext is defined and fieldContext == 'defaults' %}

		<h3>{{ "Canonical URL"|t }}</h3>

		<p>{{  "Canonical URL will default to the URL of the current page. Canonical URL cannot be overriden
			at the template level, however, it can be override with on-page or entry-specific overrides."|t }}</p>

	{% endif %}

	{% if fieldContext is defined and fieldContext == 'robots' %}
		{{ forms.textField({
			label: "Canonical"|t,
			name: "sproutseo_fields[canonical]",
			value: values.canonical
		}) }}
	{% endif %}

	{# This needs to be here to make sure the checkboxes work properly #}
	<input type="hidden" name="sproutseo_fields[robots]" value="">

	<h3>{{ "Robots - Basic"|t }}</h3>

	<div>
		<input type="checkbox" value="noindex" id="noindex-choice" class="fieldtoggle checkbox"
			name="sproutseo_fields[robots][]" data-reverse-target="single-uri-container" {{ checkbox.isSelected('noindex',
		values.robots) }}><label for="noindex-choice">{{ "noindex"|t }}</label>
		<span class="info">{{ "I don't want this page to be indexed by search engines"|t }}</span>
	</div>

	<div>
		<input type="checkbox" value="nofollow" id="nofollow-choice" class="fieldtoggle checkbox" name="sproutseo_fields[robots][]" data-reverse-target="single-uri-container" {{ checkbox.isSelected('nofollow', values.robots) }}><label for="nofollow-choice">{{ "nofollow"|t }}</label>
		<span class="info">{{ "I don't want this page to follow links on this page"|t }}</span>
	</div>

	<h3>{{ "Robots - Advanced"|t }}</h3>

	{# Consider adding a link or posting a help article in our docs to clarify these:
	http://tech4sky.com/noodp-noarchive-nosnippet-noydir-meta-tag #}

	<div>
		<input type="checkbox" value="noarchive" id="noarchive-choice" class="fieldtoggle checkbox" name="sproutseo_fields[robots][]" data-reverse-target="single-uri-container" {{ checkbox.isSelected('noarchive', values.robots) }}><label for="noarchive-choice">{{ "noarchive"|t }}</label>
		<span class="info">{{ "I don't want search engines to provide archived versions of this page to users"|t }}</span>
	</div>
	<div>
		<input type="checkbox" value="noimageindex" id="noimageindex-choice" class="fieldtoggle checkbox" name="sproutseo_fields[robots][]" data-reverse-target="single-uri-container" {{ checkbox.isSelected('noimageindex', values.robots) }}><label for="noimageindex-choice">{{ "noimageindex"|t }}</label>
		<span class="info">{{ "I don't want images on this page to be indexed by search engines"|t }}</span>
	</div>
	<div>
		<input type="checkbox" value="nosnippet" id="nosnippet-choice" class="fieldtoggle checkbox" name="sproutseo_fields[robots][]" data-reverse-target="single-uri-container" {{ checkbox.isSelected('nosnippet', values.robots) }}><label for="nosnippet-choice">{{ "nosnippet"|t }}</label>
		<span class="info">{{ "I don't want Google to cache this page or display a description below the page in search
		results"|t }}</span>
	</div>
	<div>
		<input type="checkbox" value="noodp" id="noodp-choice" class="fieldtoggle checkbox" name="sproutseo_fields[robots][]" data-reverse-target="single-uri-container" {{ checkbox.isSelected('noodp', values.robots) }}><label for="noodp-choice">{{ "noodp"|t }}</label>
		<span class="info">{{ "I don't want Google to use the Open Directory Project (ODP) description for this page. I
		want Google to use the description on the website."|t }}</span>
	</div>
	<div>
		<input type="checkbox" value="noydir" id="noydir-choice" class="fieldtoggle checkbox" name="sproutseo_fields[robots][]" data-reverse-target="single-uri-container" {{ checkbox.isSelected('noydir', values.robots) }}><label for="noydir-choice">{{ "noydir"|t }}</label>
		<span class="info">{{ "I don't want Bing or Yahoo! to use the Yahoo! Directory titles and descriptions for this
		page.  I want Bing and Yahoo! to use the titles and descriptions on the website."|t }}</span>
	</div>

</div>

{% includeCssResource "sproutseo/css/fields.css" %}