{# This needs to be here to make sure the checkboxes work properly #}
<input type="hidden" name="sproutseo_fields[robots]" value="">

{#{% set robotsCheckboxes %}#}
{#<div>#}
	{#{{ forms.checkbox({#}
		{#label: "noindex",#}
		{#id: "noindex-choice",#}
		{#name: "sproutseo_fields[robots][]",#}
		{#value: "noindex",#}
		{#checked: ('noindex' in values.robots)#}
	{#}) }}#}
	{#<span class="info">{{ "I don't want this page to be indexed by search engines"|t }}</span>#}
{#</div>#}
{#<div>#}
	{#{{ forms.checkbox({#}
		{#label: "nofollow",#}
		{#id: "nofollow-choice",#}
		{#name: "sproutseo_fields[robots][]",#}
		{#value: "nofollow",#}
		{#checked: ('nofollow' in values.robots)#}
	{#}) }}#}
	{#<span class="info">{{ "I don't want robots to follow links on this page"|t }}</span>#}
{#</div>#}


{# Consider adding a link or posting a help article in our docs to clarify these:#}
{#http://tech4sky.com/noodp-noarchive-nosnippet-noydir-meta-tag #}

{#<div>#}
	{#{{ forms.checkbox({#}
		{#label: "noarchive",#}
		{#id: "noarchive-choice",#}
		{#name: "sproutseo_fields[robots][]",#}
		{#value: "noarchive",#}
		{#checked: ('noarchive' in values.robots)#}
	{#}) }}#}
	{#<span class="info">{{ "I don't want search engines to provide archived versions of this page to users"|t }}</span>#}
{#</div>#}
{#<div>#}
	{#{{ forms.checkbox({#}
		{#label: "noimageindex",#}
		{#id: "noimageindex-choice",#}
		{#name: "sproutseo_fields[robots][]",#}
		{#value: "noimageindex",#}
		{#checked: ('noimageindex' in values.robots)#}
	{#}) }}#}
	{#<span class="info">{{ "I don't want images on this page to be indexed by search engines"|t }}</span>#}
{#</div>#}
{#<div>#}
	{#{{ forms.checkbox({#}
		{#label: "nosnippet",#}
		{#id: "nosnippet-choice",#}
		{#name: "sproutseo_fields[robots][]",#}
		{#value: "nosnippet",#}
		{#checked: ('nosnippet' in values.robots)#}
	{#}) }}#}
	{#<span class="info">{{ "I don't want Google to cache this page or display a description below the page in search results"|t }}</span>#}
{#</div>#}
{#<div>#}
	{#{{ forms.checkbox({#}
		{#label: "noodp",#}
		{#id: "noodp-choice",#}
		{#name: "sproutseo_fields[robots][]",#}
		{#value: "noodp",#}
		{#checked: ('noodp' in values.robots)#}
	{#}) }}#}
	{#<span class="info">{{ "I don't want Google to use the Open Directory Project (ODP) description for this page. I want Google to use the description on the website."|t }}</span>#}
{#</div>#}
{#<div>#}
	{#{{ forms.checkbox({#}
		{#label: "noydir",#}
		{#id: "noydir-choice",#}
		{#name: "sproutseo_fields[robots][]",#}
		{#value: "noydir",#}
		{#checked: ('noydir' in values.robots)#}
	{#}) }}#}
	{#<span class="info">{{ "I don't want Bing or Yahoo! to use the Yahoo! Directory titles and descriptions for this page.  I want Bing and Yahoo! to use the titles and descriptions on the website."|t }}</span>#}
{#</div>#}
{#{% endset %}#}

{% set robotsCheckboxes %}
	<table class="data" style="width: auto;">
		<thead>
		<tr>
			<th scope="col">{{ "Enable?"|t }}</th>
			<th scope="col">{{ "Meta Tag Type"|t }}</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="centeralign">
				<div>
					{{ forms.lightswitch({
						name: 'sproutseo_fields[robots][]',
						on:   ('noindex' in values.robots),
						small: true
					}) }}
				</div>
			</td>
			<td>
				<label for="showGeo">
					<code>noindex</code> - {{ "Search engines should not index this page"|t }}
				</label>
			</td>
		</tr>
		<tr>
			<td class="centeralign">
				<div>
					{{ forms.lightswitch({
						name: 'sproutseo_fields[robots][]',
						on:   ('nofollow' in values.robots),
						small: true
					}) }}
				</div>
			</td>
			<td>
				<label for="showRobots">
					<code>nofollow</code> - {{ "Robots should not follow links on this page"|t }}
				</label>
			</td>
		</tr>
		<tr>
			<td class="centeralign">
				<div>
					{{ forms.lightswitch({
						name: 'sproutseo_fields[robots][]',
						on:   ('noarchive' in values.robots),
						small: true
					}) }}
				</div>
			</td>
			<td>
				<label for="showOpenGraph">
					<code>noarchive</code> - {{ "Search engines should not provide archived versions of this page"|t }}
				</label>
			</td>
		</tr>
		<tr>
			<td class="centeralign">
				<div>
					{{ forms.lightswitch({
						name: 'sproutseo_fields[robots][]',
						on:   ('noimageindex' in values.robots),
						small: true
					}) }}
				</div>
			</td>
			<td>
				<label for="showTwitter">
					<code>noimageindex</code> - {{ "Search engines should not index images on this page"|t }}
				</label>
			</td>
		</tr>
		<tr>
			<td class="centeralign">
				<div>
					{{ forms.lightswitch({
						name: 'sproutseo_fields[robots][]',
						on:   ('noodp' in values.robots),
						small: true
					}) }}
				</div>
			</td>
			<td>
				<label for="showTwitter">
					<code>noodp</code> - {{ "Google should use page descriptions from the website"|t }} <span class="info">{{ "I don't want Bing or Yahoo! to use the Yahoo! Directory titles and descriptions for this page.  I want Bing and Yahoo! to use the titles and descriptions on the website."|t }}</span>
				</label>
			</td>
		</tr>
		<tr>
			<td class="centeralign">
				<div>
					{{ forms.lightswitch({
						name: 'sproutseo_fields[robots][]',
						on:   ('noydir' in values.robots),
						small: true
					}) }}
				</div>
			</td>
			<td>
				<label for="showTwitter">
					<code>noydir</code> - {{ "Bing and Yahoo! should use the titles and descriptions on the website."|t }} <span class="info">{{ "I don't want Bing or Yahoo! to use the Yahoo! Directory titles and descriptions for this page.  I want Bing and Yahoo! to use the titles and descriptions on the website."|t }}</span>
				</label>
			</td>
		</tr>
		</tbody>
	</table>

{% endset %}

{{ forms.field({
	label: "Robots"|t,
	instructions: "Communicate with robots and try to make them behave a bit differently&mdash;if they listen!",
	errors: '',
	first: true,
}, robotsCheckboxes) }}
