/* .sproutseo-box {
	background-color: #f5f5f5;
	background-color: rgb(235, 237, 239);
	border:1px solid #ebebeb;
	padding:20px;
	padding-top: 21px;
}
 */
#fields-twitterImage {
	margin-bottom: 21px;
}

.sproutseo-fields {
	margin-bottom: 28px;
}

/* Icons
------------------------------------------------------------ */

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?63285905');
  src: url('../fonts/fontello.eot?63285905#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?63285905') format('woff'),
       url('../fonts/fontello.ttf?63285905') format('truetype'),
       url('../fonts/fontello.svg?63285905#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sproutseo-icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sproutseo-matrixfields .titlebar .blocktype {
  margin-left: -24px;
}
.sproutseo-advancedoption-btns div,
.sproutseo-advancedoption-btns .sproutseo-icon {
  opacity: .65;
}
.sproutseo-advancedoption-btns div.active,
.sproutseo-advancedoption-btns .active .sproutseo-icon {
  opacity: 1;
}

.sprout-metatags-status .sproutseo-icon {
  margin: 0;
}

/* website-identity.html styles
------------------------------------------------------------ */

div.inline-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.inline-item > div > label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* Override default a tag fieldtoggle behavior to play more nicely with instructions text */
body.ltr a.instructionstoggle {
  padding-left: 0;
}
a.instructionstoggle {
  display: inline;
}
a.instructionstoggle:before {
  content: '';
}

a.fieldtoggle.instructionstoggle {
 color: #0d78f2;
}
/* Space the Website Identify Fields */
.identitytype-dropdown .input {
  height: 32px; /* necessary to stop on select event adjusting height */
  margin-top: 5px;
}