{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{#{% set title %}#}
	{#{% if not defaultId is empty %}#}
		{#{{ default.name }}#}
	{#{% else %}#}
		{#New Meta#}
	{#{% endif %}#}
{#{% endset %}#}

{% set crumbs = [
	{ label: "Schema"|t, url: url('sproutseo/schema/schema') }
] %}

{% set centered = true %}

{% set fullPageForm = true %}

{% if craft.request.getSegment(3) == 'new' %}
	{% set saveShortcutRedirect = url('sproutseo/meta') %}
{% else %}
	{% set saveShortcutRedirect = url('sproutseo/meta/' ~ defaultId) %}
{% endif %}

{% block saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="Save">
	</div>
{% endblock %}

{% block main %}

<div class="grid first" data-max-cols="3">
	<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
		<div id="fields" class="pane">

			{% set schemaOptions = {
				'value1': 'Creative Work',
				'value2': 'Person',
				'value3': 'Place'
			} %}

			{{ forms.selectField({
				label: "Schema Type",
				name: 'schemaOptions',
				options: schemaOptions,
				values: ''
			}) }}

			{% set elementOptions = {
				'value1': 'Entries',
				'value2': 'Products',
				'value3': 'Users'
			} %}

			{{ forms.selectField({
				label: "Content Type",
				name: 'elementOptions',
				options: elementOptions,
				values: ''
			}) }}

			<hr>

			{{ forms.textareaField({
				label: "Structured Data Map"|t,
				instructions: "Map your schema to your content."|t,
				id: 'schemaMap',
				class: 'nicetext fullwidth code',
				name: 'schemaMap',
				value: '{
	"name" : "{{ object.title }}",
	"url" : "members/{{ object.id }}",
	"sameAs" : [
		"{{ object.matrixField.blockType.fieldHandle :: repeat }}",
	]
}',
				errors: '',
				rows: 15
			}) }}

		</div>
	</div>
	<div class="item" data-position="right" data-colspan="1">

		<div class="pane">

			<p>Instructions on how to do this stuff. Maybe an output of object values.</p>

			<ul>
			{% for key, value in currentUser.getAttributes() %}
				<li><code>{% verbatim %}{{ object.{% endverbatim %}{{ key }}{% verbatim %} }}{% endverbatim %}</code> <span class="info">{{ value }}</span></li>
			{% endfor %}
			</ul>

		</div>

	</div>
</div>

{% endblock %}

{% if default.name is not defined or not default.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}

{% includeJsResource "sproutseo/js/default.js" %}

{% set js %}

	new Craft.SproutSeoDefault();

{% endset %}

{% includeJs js %}
