{% extends "sproutseo/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = "Meta Settings"|t %}

{% set settings = craft.sproutSeo.getSettings() %}
{% set localeOptions = craft.sproutSeo.getLocaleOptions() %}

{% set content %}

  {{ forms.field({
    label: "Advanced Settings"|t|upper,
    instructions: "Sprout SEO provides you with powerful, comprehensive management of all types of metadata from your Control Panel and the ability to setup sensible, reusable defaults with existing fields. This makes preparing metadata for search and social sharing more predictable and leads to good SEO and an easy to manage content experience. Some folks, however, want to have the ability to fine-tune each type of metadata. This requires a more complicated UI, more complicated codebase, and more time necessary to curate, prepare, post, and maintain content. If you'd like to go down that path and have the necessary budget, team, or training processes to do it well, go ahead and enable these settings."|t,
  }, null) }}

  <hr>

  <form method="post" accept-charset="UTF-8" data-saveshortcut data-saveshortcut-redirect="sproutseo/settings/advanced">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="sproutSeo/settings/saveSettings">

    {% namespace 'settings' %}

      {{ forms.lightswitchField({
        label: "Enable Meta Details fields"|t,
        instructions: "Meta Details fields add add one more level of fine-tuning over your metadata. With Meta Details fields enabled, content editors will have the option to refine Open Graph, Twitter Card, Geo and Robots metadata at the Section level and the Entry Metadata Field will display additional settings to allow customization of Structured Data, Search Meta, Open Graph, Twitter Card, Geo and Robots metadata at the level of individual Pages."|t,
        name: 'enableMetaDetailsFields',
        on: settings.enableMetaDetailsFields,
        onLabel: "Enable"|t
      }) }}

      {{ forms.lightswitchField({
        label: "Enable Custom Sections"|t,
        instructions: "By default, Section and Sitemap metadata is enabled for all URL-enabled Sections. Enable this setting to manage metadata for Sections with Custom URL requirements."|t,
        name: 'enableCustomSections',
        on: (settings.enableCustomSections is empty ? false : true),
        onLabel: "Enable"|t
      }) }}

      <hr>

      {{ forms.lightswitchField({
        label: "Automatically render metadata"|t,
        instructions: "By default, Sprout SEO prepares and outputs all of your metadata in your template. If you'd like to manage this output manually, you can disable this setting."|t,
        name: 'enableMetadataRendering',
        on: (settings.enableMetadataRendering is empty ? false : true),
        onLabel: "Enable"|t
      }) }}

      {{ forms.lightswitchField({
        label: "Enable custom metadata variable"|t,
        instructions: "Make a global `metadata` variable available to all of your templates. The `metadata` variable will contain page-specific Prioritized Metadata and Structured Data, and all of your Globals."|t,
        name: 'toggleMetadataVariable',
        toggle: 'settings-enablemetadatavariable',
        on: (settings.metadataVariable is empty ? false : true),
        onLabel: "Enable"|t
      }) }}

      <div id="settings-enablemetadatavariable" class="{{ (settings.metadataVariable is empty ? "hidden") }}">

        {{ forms.textField({
          label: "Custom metadata variable name"|t,
          instructions: "Give your global `metadata` variable a name."|t,
          name: 'metadataVariable',
          value: settings.metadataVariable,
          placeholder: 'metadata',
          errors: ''
        }) }}

      </div>

      <hr>

      {{ forms.lightswitchField({
        label: "Override default locale behavior"|t,
        instructions: "By default we assume you are using Craft Locales to manage multiple languages on your site. Locales in Craft, however, can be used for multi-language or multi-site behavior. If you are using Craft's Locales for multi-site behavior, enable this setting and select your website locale."|t,
        name: 'toggleLocaleOverride',
        toggle: 'settings-localeoverride',
        on: settings.localeIdOverride ? true : false,
        onLabel: "Enable"|t
      }) }}

      <div id="settings-localeoverride" class="{{ (not settings.localeIdOverride ? "hidden") }}">

        {{ forms.selectField({
          label: 'Website locale'|t,
          instructions: "Choose the locale to use for all of your multi-site content."|t,
          id: 'localeIdOverride',
          name: 'localeIdOverride',
          options: localeOptions,
          value : settings.localeIdOverride ?? '',
          errors: '',
          first: true
        }) }}

      </div>

      <hr>

      {{ forms.lightswitchField({
        label: "Enable code overrides in your Twig templates"|t,
        instructions: "Code overrides are off by default because they should only be necessary when advanced customization of your metadata is needed. Setting this to off by default is meant to encourage you to consider how to solve your problem in a more user-friendly, budget-friendly way, before going down this path."|t,
        name: 'enableCodeOverrides',
        on: settings.enableCodeOverrides,
        onLabel: "Enable"|t
      }) }}

    {% endnamespace %}

    <hr>

    <div class="buttons">
      <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
    </div>

  </form>

{% endset %}