{% extends "sproutseo/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = "Settings"|t %}

{% set content %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut data-saveshortcut-redirect="sproutseo/settings/general">
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutSeo/settings/saveSettings">

		<div id="settings-cp">
			{% namespace 'settings' %}
				{{ forms.textField({
					label: "Plugin Name"|t,
					instructions: "Intuitive, human-readable plugin name for the end user."|t,
					id: 'pluginNameOverride',
					name: 'pluginNameOverride',
					value: settings.pluginNameOverride,
					autofocus: true,
					first: true,
					errors: ''
				}) }}

				<hr>

				{{ forms.lightswitchField({
					label: "Enable Dynamic Sitemaps"|t,
					instructions: "Output a dynamic XML sitemap of all pages in your URL-Enabled Sections."|t,
					name: 'enableDynamicSitemaps',
					toggle: 'settings-total-elements',
					on: settings.enableDynamicSitemaps,
					onLabel: "Enable"|t
				}) }}

				<div id="settings-total-elements" class="{% if not settings.enableDynamicSitemaps %} hidden {% endif %}">
					{{ forms.textField({
						label: "Total Elements Per Sitemap"|t,
						instructions: "The number of items that display on each page of your sitemap. A lower number may be
						necessary for sitemaps with a large number of elements or limited server resources."|t,
						name: 'totalElementsPerSitemap',
						size:'10',
						value: settings.totalElementsPerSitemap,
						errors: ''
					}) }}
				</div>

				<hr>

				{{ forms.lightswitchField({
					label: "Enable 404 Redirect Log"|t,
					instructions: "Log 'Page Not Found' errors in the database. Each unique 'Page Not Found' URL will appear on
					your Sprout SEO Redirects tab as a disabled 404 Redirect Element."|t,
					name: 'enable404RedirectLog',
					on: settings.enable404RedirectLog ? true : false,
					onLabel: "Enable"|t
				 }) }}
			{% endnamespace %}
		</div>

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
		</div>

	</form>

{% endset %}