{% extends "sproutseo/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = "Settings"|t %}

{% set content %}

	{{ forms.textField({
		label: "Plugin Name"|t,
		instructions: "Intuitive, human-readable plugin name for the end user."|t,
		id: 'pluginNameOverride',
		name: 'pluginNameOverride',
		value: settings.pluginNameOverride,
		autofocus: true,
		first: true,
		errors: ''
	}) }}

	{{ forms.textField({
		label: "Meta Template Folder Override"|t,
		instructions: "Override the default meta template and fancy up your own. Copy _special/meta.html to your folder and do your thing."|t,
		name: 'sproutseo_meta[templateFolder]',
		value: '',
		errors: '',
		required: true
	}) }}

{% endset %}