{% extends "sproutseo/_layouts/settings" %}
{% import "_includes/forms" as forms %}
{% import 'sproutseo/_includes/sproutcp' as sprout %}

{% includeCssResource "sproutseo/css/sproutcp.css" %}

{% set title = 'Sprout Email' %}

{% set content %}

	{% set boxBody %}
		<p>{{ "Use <a href='{url}' target='_blank'>Sprout Email</a> to create Email Marketing Campaigns that integrate closely with your website content  and complement your SEO strategy. Automatically add Campaign Emails to your XML sitemap and customize your email pages with targeted SEO metadata using Sprout SEO."|t({
				url: "https://sprout.barrelstrengthdesign.com/craft-plugins/email"
			})|raw }}</p>
	{% endset %}

	{{ sprout.mediaBox({
		heading: "SEO-friendly Email Marketing"|t,
		body: boxBody,
		resourceUrl: resourceUrl('sproutseo/icons/sproutemail-icon.svg'),
		resourceAltText: "Sprout Email Icon"|t,
	}) }}

{% endset %}