{% extends "sprout-seo/_layouts/base" %}

{% set title = "Settings"|t %}

{% set navItems = {
    'general': { title: "General"|t },
    'advanced': { title: "Advanced"|t },

    'integrations': { heading: 'Integrations'|t },
    'craftcommerce': { title: "Craft Commerce"|t },
    'sproutemail': { title: "Sprout Email"|t },
    'sproutimport': { title: "Sprout Import"|t }
} %}

{% set selectedItem = craft.app.request.getSegment(3) %}
{% set docTitle = navItems[selectedItem].title~' - '~title %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ url('sprout-seo/settings/'~id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}