{% import "_includes/forms" as forms %}
{% import "sprout-seo/_includes/sproutseo" as sprout %}

<div class="sproutseo-box-geo">
    {% set name = (namespaceInputName is not defined) ? 'address' : namespaceInputName %}

    {% set addressBox = (namespaceInputId is not defined) ? 'sproutaddressinfo-box' : 'sproutaddressinfo-box-' ~ namespaceInputId %}

    {{ forms.textField({
        label: "Region"|t,
        instructions: 'The geo.region expects codes for <a href="http://geotags.com/iso3166/countries.html" target="_blank">Country Names and Subdivisions</a>. The <a href="http://geotags.com/geo/DMS3.html" target="_blank">GeoTag Generator</a> can help pick appropriate codes.'|t,
        name: field.handle~"[metadata][region]",
        value: values.region
    }) }}

    {{ forms.textField({
        label: "Placename"|t,
        instructions: 'The Placename field is typically used for city, county, and state names.'|t,
        name: field.handle~"[metadata][placename]",
        value: values.placename
    }) }}

    {{ forms.textField({
        label: "Latitude"|t,
        name: field.handle~"[metadata][latitude]",
        value: values.latitude,
        placeholder: '38.403440'
    }) }}

    {{ forms.textField({
        label: "Longitude"|t,
        name: field.handle~"[metadata][longitude]",
        value: values.longitude,
        placeholder: '-122.823676'
    }) }}

</div>
