{% import "_includes/forms" as forms %}
{% import "sprout-seo/_includes/sproutseo" as sprout %}

<div class="sproutseo-box">

    {{ forms.textField({
        label: "Title"|t('sprout-seo'),
        instructions: "The Title of your content which will appear in search results"|t('sprout-seo'),
        name: field.handle~'[metadata][title]',
        showCharsLeft: true,
        value: meta.title,
        errors: "",
        required: false,
    }) }}

    {{ forms.textField({
        label: "Description"|t('sprout-seo'),
        instructions: "A description of your content which will appear in search results."|t('sprout-seo'),
        name: field.handle~'[metadata][description]',
        showCharsLeft: true,
        value: meta.description,
        errors: "",
        required: false,
    }) }}

    {{ forms.textField({
        label: "Keywords"|t('sprout-seo'),
        id: 'sproutseo-searchKeywords',
        instructions: "A list of keywords that describe your content"|t('sprout-seo'),
        name: field.handle~'[metadata][keywords]',
        value: meta.keywords,
        errors: "",
        required: false
    }) }}

</div>