{% extends "sproutseo/_layouts/sitemap" %}
{% import "_includes/forms" as forms %}

{% set title = "Metadata"|t %}

{% set schemaMaps = {
	'': 'Select...'|t,
	'schemaMapId1': 'News Article'|t,
	'productType1': 'Product One'|t,
	'productType2': 'Product Two'|t,
} %}

{% macro isSelected(target) %}
	{% if target %}checked="checked"{% endif %}
{% endmacro %}
{% import _self as checkbox %}

{% set sitemaps    = craft.sproutSeo.getAllSitemaps() %}
{% set customNames = craft.sproutSeo.getAllCustomNames() %}
{% set sitemapUrls = {} %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutseo/metadata/new') }}">{{ "New Meta Tag Group"|t }}</a>
	</div>
{% endset %}

{% set content %}

	{% for type, elementGroups in sitemaps %}

		<table class="data fullwidth sitemap-settings">
			{%set name = attribute(customNames, type) is defined ? attribute(customNames, type) :  type %}
			<thead>
				<th style="width:30%">{{ name }} <span class="info">{{ "All of your " ~name~" that have unique URLs are listed here.  Enable each "~name~" you want to include in your sitemap."|t }}</span></th>
				<th style="width:30%;">URL Pattern</th>
				<th style="width:20%;">{{ "Meta Tags"|t }} {% if loop.index == 1 %} <span class="info">{{ "Prepare fallback Meta Tags if any meta values are not present for content within the matching domain section." }}</span>{% endif %}</th>
				<th style="width:20%;">{{ "Structured Data"|t }} {% if loop.index == 1 %} <span class="info">{{ "Define your Main Entity. Map the primary element that displays on this page to a Structured Data schema for improved metadata." }}</span>{% endif %}</th>
				<th class="thin"></th>
			</thead>
			<tbody>

			{% for elementGroup in elementGroups %}
				{% if elementGroup.name is defined %}
					{% set sitemap = null %}
					{% if elementGroup.settings is defined %}
						{% set sitemap = elementGroup.settings %}
					{% endif %}

					{% if sitemap.id is defined %}
						{% set sitemapId = sitemap.id %}
					{% else %}
					  {% set sitemapId = 'new-' ~ loop.index %}
					{% endif %}

					{# elementGroup => type- #}
					{% set sitemapId = type|lower~'-'~ sitemapId %}

					{% set groupInfo = {
						'groupName': elementGroup.name,
						'sitemapId': sitemapId,
						'elementGroupId': elementGroup.id
					} %}

					{% set metadataInfo = craft.sproutSeo.getMetadataInfo(groupInfo) %}

					<tr data-rowid="{{ sitemapId }}" data-type="section">
						<td>
							<strong style="display:inline-block;padding:7px 10px;">
								{% if (sitemap.enabled is defined and sitemap.enabled == 1) %}
									<span class="status live"></span>
								{% else %}
									<span class="status disabled"></span>
								{% endif %}
								{{ elementGroup.name }}

								<input type="hidden" name="sitemap_fields[{{ sitemapId }}][id]" value="{{ sitemapId }}">
								<input type="hidden" name="sitemap_fields[{{ sitemapId }}][elementGroupId]" value="{{ elementGroup.id }}">

							</strong>
						</td>
						<td>
							{% if metadataInfo.element.urlFormat == '__home__' %}
								<span data-icon="home" title="Homepage"></span>
							{% else %}
								<code>{{ metadataInfo.element.urlFormat }}</code>
							{% endif %}
						</td>
						{% set sitemapUrls = sitemapUrls|merge([metadataInfo.element.urlFormat]) %}
						<td>
							<span class="status live"></span>
							<a class="metadata-link" data-isnew="{{metadataInfo.isNew}}" data-metadataid="{{metadataInfo.metadataId}}" data-link="{{ elementGroup.name }},{{ sitemapId }},{{ elementGroup.id }}">
								{% if metadataInfo.isNew %}
								{{"New Meta Tag"|t}}
								{% else %}
								{{"Edit Meta Tag"|t}}
								{% endif %}
							</a>
						</td>
						<td>
							{{ forms.select({
								name: 'sitemap_fields[' ~ sitemapId ~ '][schemaMap]',
								options: schemaMaps,
								value: (sitemap.schemaMap is defined ? sitemap.schemaMap : 0.5),
								errors: "",
								required: false
							}) }}
						</td>
						<td>
							{# @todo - find a better way to get the columns to be even. This tag is
							unnecessary aside from helping to style the table column widths evenly. #}
							<span style="display: inline-block;width:13px;"></span>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
		<br>

	{% endfor %}

	{% set metaTagGroups = craft.sproutSeo.getCustomMetaTagGroups(sitemapUrls) %}

	{% if metaTagGroups is empty %}

		<p>{{ "Create your first Meta Tag Group."|t }}</p>

	{% else %}

		<table class="data" id="metaTemplate">
			<thead>
				<th style="width:30%">Custom Meta Tag Groups <span class="info">{{ "Custom Sitemaps...."|t }}</span></th>
				<th style="width:30%;">URL Pattern</th>
				<th style="width:20%;">{{ "Meta Tags"|t }} <span class="info">{{ "Prepare fallback Meta Tags if any meta values are not present for content within the matching domain section." }}</span></th>
				<th style="width:20%;">{{ "Structured Data"|t }} <span class="info">{{ "Define your Main Entity. Map the element that displays on this page to a Structured Data schema for improved metadata." }}</span></th>
				<th class="thin"></th>
			</thead>

			{% for metaTagGroup in metaTagGroups %}

				<tr id="results" data-id="{{ metaTagGroup.id }}" data-name="{{ metaTagGroup.name|t }}">
					<td>
						<strong style="display:inline-block;padding:7px 10px;">
							<span class="status live"></span>
							<a href="{{ url('sproutseo/metatags/' ~ metaTagGroup.id) }}">
								{{ metaTagGroup.name }}
							</a>
						</strong>
					</td>
					<td>
						<code>{{metaTagGroup.url}}</code>
					</td>
					<td>
						<span class="status live"></span> <a href="metatags/{{metaTagGroup.id}}">Edit Meta Tags</a>
					</td>
					<td>
						{{ forms.select({
							name: 'sitemap_fields[SOMETHING][schemaMap]',
							options: schemaMaps,
							value: (sitemap.schemaMap is defined ? sitemap.schemaMap : 0.5),
							errors: "",
							required: false
						}) }}
					</td>
					<td class="thin">
						<a class="delete icon" title="{{ 'Delete'|t }}"></a>
					</td>
				</tr>

			{% endfor %}

		</table>

	{% endif %}

	<style type="text/css">
	.sitemap-custom-url:focus {
		border: 1px solid rgba(0, 0, 0, 0.15);
		padding: 6px 4px;
		outline: none;
	}
	.sitemap-custom-url {
		display: inline-block;
		margin-left:-4px;
		width: 85%;
		border: none;
		padding: 7px 5px;
		background: #fff;
		overflow: hidden;
	}
	.sitemap-settings {
		margin-top: 30px;
	}
	.sitemap-settings:first-of-type {
		margin-top: 0;
	}
	.sitemap-settings:last-of-type {
		margin-bottom: 30px;
	}
	</style>

{% endset %}

{% includeJsResource "sproutseo/js/metadata.js" %}

{% set js %}
	{#new Craft.SproutSeoSitemap();#}

	new Craft.AdminTable({
		tableSelector: '#custom-pages',
		deleteAction: 'sproutSeo/sitemap/deleteCustomPage',
		onDeleteObject: function(id)
		{
			if($('#custom-pages').find('tbody').find('tr').size() == 0)
			{
				$('#custom-pages').show();
				$('#custom-pages').find('tbody').html('<tr id="no-sproutseo-results"><td colspan="4"><p>Add your first custom page.</p></td></tr>');
			}
		}
	});
{% endset %}

{% includeJs js %}
