{% extends "sproutseo/_layouts/sitemap" %}
{% import "_includes/forms" as forms %}

{% set title = "Metadata"|t %}

{% macro isSelected(target) %}
	{% if target %}checked="checked"{% endif %}
{% endmacro %}
{% import _self as checkbox %}

{% set sitemaps    = craft.sproutSeo.getAllSitemaps() %}
{% set customNames = craft.sproutSeo.getAllCustomNames() %}
{% set sitemapUrls = {} %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutseo/metadata/new') }}">{{ "New page"|t }}</a>
	</div>
{% endset %}

{% set content %}

	{% for type, elementGroups in sitemaps %}

		<table class="data fullwidth sitemap-settings">
			{%set name = attribute(customNames, type) is defined ? attribute(customNames, type) :  type %}
			<thead>
				<th style="padding-left:9px;width:35%">{{ name }} <span class="info">{{ "All of your " ~name~" that have unique URLs are listed here.  Enable each "~name~" you want to include in your sitemap. Prepare fallback Meta Tags if any meta values are not present for content within the matching domain section. Identify the Main Entity schema you wish to match to this URL."|t }}</span></th>
				<th style="width:35%;">{{ "URL Pattern"|t }}</th>
				<th style="width:30%;">{{ "Optimized Metadata"|t }} {% if loop.index == 1 %} <span class="info">{{ "Each icon represents a type of metadata. A green icon indicates that this type of metadata is in place." }}</span>{% endif %}</th>
				<th class="thin"></th>
			</thead>
			<tbody>

			{% for elementGroup in elementGroups %}
				{% if elementGroup.name is defined %}
					{% set sitemap = null %}
					{% if elementGroup.settings is defined %}
						{% set sitemap = elementGroup.settings %}
					{% endif %}

					{% if sitemap.id is defined %}
						{% set sitemapId = sitemap.id %}
					{% else %}
					  {% set sitemapId = 'new-' ~ loop.index %}
					{% endif %}

					{# elementGroup => type- #}
					{% set sitemapId = type|lower~'-'~ sitemapId %}

					{% set groupInfo = {
						'groupName': elementGroup.name,
						'sitemapId': sitemapId,
						'elementGroupId': elementGroup.id
					} %}

					{% set metadataInfo = craft.sproutSeo.getMetadataInfo(groupInfo) %}
					{% if metadataInfo.element %}
						{% set sitemapUrls = sitemapUrls|merge([metadataInfo.element.urlFormat]) %}
						<tr data-rowid="{{ sitemapId }}" data-type="section">
							<td>
								<strong style="display:inline-block;padding:7px 10px;">
									{% if (metadataInfo.isNew is defined and not metadataInfo.isNew) %}
										<span class="status live"></span>
									{% else %}
										<span class="status disabled"></span>
									{% endif %}

									<a class="metadata-link" data-isnew="{{ metadataInfo.isNew }}" data-metadataid="{{ metadataInfo.metadataId }}" data-link="{{ elementGroup.name }},{{ sitemapId }},{{ elementGroup.id }}">
										{{ elementGroup.name }}
									</a>

									<input type="hidden" name="sitemap_fields[{{ sitemapId }}][id]" value="{{ sitemapId }}">
									<input type="hidden" name="sitemap_fields[{{ sitemapId }}][elementGroupId]" value="{{ elementGroup.id }}">

								</strong>
							</td>
							<td>
								{% if metadataInfo.element.urlFormat == '__home__' %}
									<span data-icon="home" title="Homepage"></span>
								{% else %}
									<code>{{ metadataInfo.element.urlFormat }}</code>
								{% endif %}
							</td>
							<td>
								<span class="sprout-metatags-status" style="color:#ccc;">
									<span data-icon="world" title="Basic" style="color:#27AE60;"></span>
									<span class="sproutseo-icon icon-facebook">&#xe802;</span>
									<span class="sproutseo-icon icon-twitter">&#xe801;</span>
									<span class="sproutseo-icon icon-location">&#xe803;</span>
									<span class="sproutseo-icon icon-search">&#xe800;</span>
									&nbsp;&nbsp;
									<span data-icon="field" title="{{ 'Sprout SEO Optimize Field exists'|t }}"></span>
									<span class="sproutseo-icon icon-sitemap">&#xf0e8;</span>
								</span>
							</td>
							<td>
								{# @todo - find a better way to get the columns to be even. This tag is
								unnecessary aside from helping to style the table column widths evenly. #}
								<span style="display: inline-block;width:13px;"></span>
							</td>
						</tr>
					{% endif %}
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
		<br>

	{% endfor %}


	{% set metaTagGroups = craft.sproutSeo.getCustomMetaTagGroups(sitemapUrls) %}

	{% if metaTagGroups is empty %}

		<p>{{ "Create your first Meta Tag Group."|t }}</p>

	{% else %}

		<table class="data" id="metaTemplate">
			<thead>
				<th style="padding-left:9px;width:35%">{{ "Custom Pages"|t }} <span class="info">{{ "Custom Sitemaps...."|t }}</span></th>
				<th style="width:35%;">{{ "URL Pattern"|t }}</th>
				<th style="width:30%;">{{ "Optimized Metadata"|t }} <span class="info">{{ "Each icon represents a type of metadata. A green icon indicates that this type of metadata is in place." }}</span></th>
				<th class="thin"></th>
			</thead>

			{% for metaTagGroup in metaTagGroups %}

				<tr id="results" data-id="{{ metaTagGroup.id }}" data-name="{{ metaTagGroup.name|t }}">
					<td>
						<strong style="display:inline-block;padding:7px 10px;">
							<span class="status live"></span>
							<a href="{{ url('sproutseo/metatags/' ~ metaTagGroup.id) }}">
								{{ metaTagGroup.name }}
							</a>
						</strong>
					</td>
					<td>
						<code>{{metaTagGroup.url}}</code>
					</td>
					<td>
						<span class="sprout-metatags-status" style="color:#ccc;">
							<span data-icon="world" title="Basic" style="color:#27AE60;"></span>
							<span class="sproutseo-icon icon-facebook">&#xe802;</span>
							<span class="sproutseo-icon icon-twitter">&#xe801;</span>
							<span class="sproutseo-icon icon-location">&#xe803;</span>
							<span class="sproutseo-icon icon-search">&#xe800;</span>
							&nbsp;&nbsp;
							<span data-icon="field" title="{{ 'Sprout SEO Optimize Field exists'|t }}"></span>
							<span class="sproutseo-icon icon-sitemap">&#xf0e8;</span>
						</span>
					</td>
					<td class="thin">
						<a class="delete icon" title="{{ 'Delete'|t }}"></a>
					</td>
				</tr>

			{% endfor %}

		</table>

	{% endif %}

	<style type="text/css">
	.sitemap-custom-url:focus {
		border: 1px solid rgba(0, 0, 0, 0.15);
		padding: 6px 4px;
		outline: none;
	}
	.sitemap-custom-url {
		display: inline-block;
		margin-left:-4px;
		width: 85%;
		border: none;
		padding: 7px 5px;
		background: #fff;
		overflow: hidden;
	}
	.sitemap-settings {
		margin-top: 30px;
	}
	.sitemap-settings:first-of-type {
		margin-top: 0;
	}
	.sitemap-settings:last-of-type {
		margin-bottom: 30px;
	}
	</style>

{% endset %}

{% includeCssResource "sproutseo/css/fields.css" %}
{% includeJsResource "sproutseo/js/metadata.js" %}

{% set js %}
	new Craft.SproutSeoSitemap();

	new Craft.AdminTable({
		tableSelector: '#custom-pages',
		deleteAction: 'sproutSeo/sitemap/deleteCustomPage',
		onDeleteObject: function(id)
		{
			if($('#custom-pages').find('tbody').find('tr').size() == 0)
			{
				$('#custom-pages').show();
				$('#custom-pages').find('tbody').html('<tr id="no-sproutseo-results"><td colspan="4"><p>Add your first custom page.</p></td></tr>');
			}
		}
	});
{% endset %}

{% includeJs js %}
