{% import "_includes/forms" as forms %}
{% import "sproutseo/_includes/sproutseo" as sprout %}

{% set pluginSettings = craft.sproutSeo.getSettings() %}

<div class="sproutseo-metatitle-info hidden">
{{- sprout.infoIcon({
	label: "Meta Title"|t,
	search: true,
	openGraph: true,
	twitterCard: true,
	priority: 'pages'
}) -}}
</div>

<div class="sproutseo-metadescription-info hidden">
	{{- sprout.infoIcon({
		label: "Meta Description"|t,
		search: true,
		openGraph: true,
		twitterCard: true,
		priority: 'pages'
	}) -}}
</div>

<div class="sproutseo-metaimage-info hidden">
	{{- sprout.infoIcon({
		label: "Meta Image"|t,
		search: true,
		openGraph: true,
		twitterCard: true,
		priority: 'pages'
	}) -}}
</div>

<div class="sproutseo-box-optimized">
	{% set customizationSettings = values.getCustomizationSettings() %}

	{{ forms.hidden({
		name: 'sproutseo[metadata][customizationSettings]',
		id: 'customizationSettings',
		value: customizationSettings|json_encode,
		errors: "",
	}) }}

	{% if settings.optimizedTitleField == 'manually' %}

		{% set appendTitleValueInstructions = " <a href='#' class='fieldtoggle instructionstoggle' data-target='toggle-appendtitlevalue'>Append dynamic value to Meta Titles</a>."|t %}

		{{ forms.textField({
			label: 'Meta Title'|t ~ sprout.infoIcon({
				label: "Meta Title"|t,
				search: true,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
			}) ~ '<span class="locale" id="sproutseo-seopreview" style="cursor:pointer;">preview</span>',
			instructions: "The Title of your content which will appear in search results and social sharing."|t ~ (fieldContext == 'sectionMetadata' ? appendTitleValueInstructions : ""),
			name: 'sproutseo[metadata][optimizedTitle]',
			id: 'sproutseo-optimizedtitle',
			maxlength: 60,
			showCharsLeft: true,
			value: values.title,
			errors: "",
			placeholder: prioritizedMetadata.optimizedTitle ?? siteName,
			class: 'nicetext',
			first: true
		}) }}

	{% endif %}

	{% if fieldContext == 'sectionMetadata' %}
		<div id="toggle-appendtitlevalue" class="{{ (values['appendTitleValue'] is defined and values.appendTitleValue ?:
		'hidden' ) }}">
			{{ forms.textField({
				label: "Append Meta Title"|t ~ sprout.infoIcon({
					label: "Append Meta Title"|t,
					search: true,
					priority: 'sections'
				}),
				instructions: "Append a custom value at the end of all Meta Titles in this Section Metadata, i.e. <i>Article Title - " ~ siteName ~ "</i>. This setting overrides the <a href='" ~ cpUrl('sproutseo/globals/customization') ~ "'>default setting</a> and will apply to all titles within this Section Metadata."|t,
				name: 'sproutseo[metadata][appendTitleValue]',
				value: values.appendTitleValue ?? null,
				placeholder: 'Keywords {divider} {siteName}',
				errors: '',
				class: 'nicetext'
			}) }}
		</div>
	{% endif %}

	{% if settings.optimizedDescriptionField == 'manually' %}
		{{ forms.textareaField({
			label: 'Meta Description'|t ~ sprout.infoIcon({
				label: "Meta Description"|t,
				search: true,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
			}),
			instructions: "A description of your content which will appear in search results and social sharing."|t,
			name: 'sproutseo[metadata][optimizedDescription]',
			maxlength: 160,
			showCharsLeft: true,
			id: 'sproutseo-optimizeddescription',
			value: values.description,
			errors: "",
			placeholder: prioritizedMetadata.optimizedDescription ?? "The official website of {siteName}"|t({ siteName: siteName })
		}) }}
	{% endif %}

	{% if settings.optimizedImageField == 'manually' %}
		{{ forms.field({
			label: 'Meta Image'|t ~ sprout.infoIcon({
				label: "Meta Image"|t,
				openGraph: true,
				twitterCard: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
			}),
			instructions: 'A featured image that represents your content that will display in social sharing.'|t,
			id: 'sproutseo-optimizedimage',
		}, forms.elementSelect({
			elements: metaImageElements,
			sourceElementId: [values.optimizedImage],
			elementType: elementType,
			id: 'optimizedImage',
			name: 'sproutseo[metadata][optimizedImage]',
			jsClass: 'Craft.AssetSelectInput',
			addButtonLabel: 'Select Image'|t,
			limit: 1,
			criteria: {"localeEnabled":null}
		})) }}
	{% endif %}

	{% if settings.optimizedKeywordsField == 'manually' %}
		{% set keywordsValue = values['keywords'] is defined ? values.keywords : null %}

		{{ forms.textField({
			label: "Meta Keywords"|t ~ sprout.infoIcon({
				label: "Meta Keywords"|t,
				search: true,
				priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
			}),
			instructions: "The primary keywords or phrases that describe your website."|t,
			id: 'sproutseo-optimizedkeywords',
			name: 'sproutseo[metadata][optimizedKeywords]',
			value: keywordsValue,
			errors: ''
		}) }}
	{% endif %}

	{% if fieldContext == 'sectionMetadata' or (fieldContext == 'field' and pluginSettings.enableMetaDetailsFields and settings.showMainEntity) %}
		{% set schemas = craft.sproutSeo.getSchemaOptions() %}
		{% set schemaSubtypes = craft.sproutSeo.getSchemaSubtypes(schemas) %}
		{% set mainEntityValues = {'schemaTypeId': values.schemaTypeId, 'schemaOverrideTypeId': values.schemaOverrideTypeId} %}
		<div id ="organization" class="organization-info">
			<div class="identitytype-dropdown organizationinfo-dropdown">
				{{ forms.selectField({
					label: 'Main Entity'|t ~ sprout.infoIcon({
						label: "Meta Image"|t,
						search: true,
						structured: true,
						priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages'
					}),
					instructions: 'Select the Structured Data schema type that best represents your content.'|t,
					id: 'first',
					name: 'sproutseo[metadata][schemaTypeId]',
					options: schemas,
					value: '',
					errors: "",
					required: false
				}) }}
			</div>
			<div class="identitytype-dropdown organizationinfo-dropdown hidden">
				{{ forms.selectField({
					id: 'second',
					role: 'listbox',
					name: 'sproutseo[metadata][schemaOverrideTypeId]',
					options: {'':''},
					value: '',
					errors: '',
					required: false,
				}) }}
			</div>
		</div>
	{% endif %}

</div>

{% if pluginSettings.enableMetaDetailsFields %}

	{% if settings.showSearchMeta or settings.showGeo or settings.showRobots or settings.showOpenGraph or settings.showTwitter %}
		{% set advancedSeoButtons %}
			<div class="buttons">
				<div id="btngroup" class="btngroup sproutseo-advancedoption-btns">

					{% if settings.showSearchMeta %}
						<div class="btn" id="btn-searchMeta" data-type="searchMeta"><i class="sproutseo-icon icon-search">&#xe800;</i> Search Meta</div>
					{% endif %}

					{% if settings.showOpenGraph %}
						<div class="btn" id="btn-openGraph" data-type="openGraph"><i class="sproutseo-icon icon-facebook">&#xe802;</i> Open Graph</div>
					{% endif %}

					{% if settings.showTwitter %}
						<div class="btn" id="btn-twitterCard" data-type="twitterCard"><i class="sproutseo-icon icon-twitter">&#xe807;</i> Twitter Card</div>
					{% endif %}

					{% if settings.showGeo %}
						<div class="btn" id="btn-geo" data-type="geo"><i class="sproutseo-icon icon-location">&#xe803;</i> Geo</div>
					{% endif %}

					{% if settings.showRobots %}
						<div class="btn" id="btn-robots" data-type="robots"><i class="sproutseo-icon icon-robots">&#xe806;</i> Robots</div>
					{% endif %}

				</div>
				<div class="btn add icon menubtn hidden">Add a block</div>
			</div>
		{% endset %}

		{{ forms.field({
			label: 'Meta Details'|t,
			instructions: 'Fine-tune your metadata to your specific SEO needs.'|t,
			id: 'sproutseo-advancedcustomizationfields',
		}, advancedSeoButtons) }}
	{%endif%}

	<div class="matrix matrix-field sproutseo-matrixfields" style="position: relative;">

		<div class="blocks">

			<div class="matrixblock fields-searchMeta"
				{% if (customizationSettings.searchMetaSectionMetadataEnabled is defined and customizationSettings.searchMetaSectionMetadataEnabled == 0) or not settings.showSearchMeta %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-search">&#xe800;</i> {{ "Search Meta"|t }} {{ sprout.infoIcon({
							label: "Search Meta"|t,
							search: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages',
							message: 'All fields in this block take priority for the Search metadata at this priority level.'|t
						}) }}</div>
				</div>

				{% include 'sproutseo/_partials/fields/input' %}

			</div>

			<div class="matrixblock fields-openGraph"
				{% if customizationSettings.openGraphSectionMetadataEnabled == 0 or not settings.showOpenGraph %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-facebook">&#xe802;</i> {{ "Open Graph"|t }} {{ sprout.infoIcon({
							label: "Open Graph"|t,
							openGraph: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages',
							message: 'All fields in this block take priority for the Open Graph metadata at this priority level.'|t
						}) }}
					</div>
				</div>

				{% include 'sproutseo/_partials/fields/open-graph' %}


			</div>

			<div class="matrixblock fields-twitterCard"
				{% if customizationSettings.twitterCardSectionMetadataEnabled == 0 or not settings.showTwitter %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-twitter">&#xe807;</i> {{ "Twitter Card"|t }} {{ sprout.infoIcon({
							label: "Twitter Card"|t,
							twitterCard: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages',
							message: 'All fields in this block take priority for the Twitter Card metadata at this priority level.'|t
						}) }}</div>
				</div>

				{% include 'sproutseo/_partials/fields/twitter-card' %}

			</div>
			<div class="matrixblock fields-geo"
				{% if customizationSettings.geoSectionMetadataEnabled == 0 or not settings.showGeo %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-location">&#xe803;</i> {{ "Geo"|t }} {{ sprout.infoIcon({
							label: "Geo"|t,
							geo: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages',
							message: 'All fields in this block take priority for the Geographic metadata at this priority level.'|t
						}) }}</div>
					<div class="preview"></div>
				</div>

				{% include 'sproutseo/_partials/fields/geo' %}

			</div>

			<div class="matrixblock fields-robots"
				{% if customizationSettings.robotsSectionMetadataEnabled == 0 or not settings.showRobots %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-robots">&#xe806;</i> {{ "Robots"|t }} {{ sprout.infoIcon({
							label: "Robots"|t,
							robots: true,
							priority: (fieldContext == 'sectionMetadata') ? 'sections' : 'pages',
							message: 'All fields in this block take priority for the Robots metadata at this priority level.'|t
						}) }}</div>
				</div>

				{% set robotsNamespace = 'metadata' %}
				{% include 'sproutseo/_partials/fields/robots' %}

			</div>

		</div>

	</div>

{% endif %}

<style>
	.btngroup li {
		display: inline-block;
	}

	.sproutseo-previewbody {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 60%;
	}
	.sproutseo-previewbody div {
		max-width:600px;
	}
</style>

{% if settings.displayPreview %}{% endif %}

<div id="my-modal" class="modal hidden">
	{#<div>#}
		<div class="header">
			<nav class="btngroup right">
				<ul>
					<li><a class="btn sel" href="#sproutseo-preview-search"><span class="sproutseo-icon icon-search">&#xe800;</span> Search</a></li>
					<li><a class="btn" href="#sproutseo-preview-facebook"><span class="sproutseo-icon icon-facebook">&#xe802;</span> Facebook</a></li>
					<li><a class="btn" href="#sproutseo-preview-twitter"><span class="sproutseo-icon icon-twitter">&#xe807;</span> Twitter</a></li>
				</ul>
			</nav>
			<h2 class="left">{{ "Preview"|t|upper }}</h2><br>
			<p>An example of how your content might display in search and social sharing.</p>
		</div>

		<div class="body sproutseo-previewbody">
			<div id="tab-sproutseo-preview-search">
				{% include 'sproutseo/_fieldtypes/contentmetadata/previews/search' %}
			</div>
			<div id="tab-sproutseo-preview-facebook" class="hidden">
				{% include 'sproutseo/_fieldtypes/contentmetadata/previews/opengraph' %}
			</div>
			<div id="tab-sproutseo-preview-twitter" class="hidden">
				{% include 'sproutseo/_fieldtypes/contentmetadata/previews/twittercard' %}
			</div>
		</div>
	{#</div>#}
</div>



<style>
	{# Hide the Heading of our Field so all our grouped sub-fields
feel like they are part of the natural flow of fields #}
	{% if fieldId is defined %}
	#{{ fieldId }} > .heading:first-of-type { display: none; }
	{% endif %}
</style>

{% includeCssResource "sproutseo/css/sproutseo.css" %}
{% includeJsResource "sproutseo/js/sproutbase.js" %}
{% includeJsResource "sproutseo/js/open-graph.js" %}
{% includeJsResource "sproutseo/js/twitter-card.js" %}

{% includeCssResource "sproutseo/css/lib/jquery.tag-editor.css" %}
{% includeJsResource  "sproutseo/js/lib/jquery.caret.min.js" %}
{% includeJsResource  "sproutseo/js/lib/jquery.tag-editor.min.js" %}

{% includejs %}
	var items = {{ schemaSubtypes|json_encode|raw }};
	var entryValues = {{ mainEntityValues|json_encode|raw }};
	$( document ).ready(function() {

		//Main entity dropdowns
		$( "#first" ).change(function() {
			if(this.value === 'craft-sproutseo-personschema')
			{
				$( "#second" ).addClass('hidden');
			}
			else
			{
				$( "#second" ).removeClass('hidden');
			}
		});
		// check if we need load depending dropdowns
		if (entryValues)
		{
			if (entryValues.hasOwnProperty('schemaTypeId') && entryValues.schemaTypeId)
			{
				$('#first').val(entryValues.schemaTypeId).change();
			}
			if (entryValues.hasOwnProperty('schemaOverrideTypeId') && entryValues.schemaOverrideTypeId)
			{
				$('#second').val(entryValues.schemaOverrideTypeId).change();
			}
		}

		function getScenario()
		{
			if ($("input[name='fields[sproutseo][metadata][customizationSettings]']").length)
			{
				return $("input[name='fields[sproutseo][metadata][customizationSettings]']");
			}
			else
			{
				return $("input[name='sproutseo[metadata][customizationSettings]']");
			}
		}

		function getCustomizationSettings()
		{
			return $.parseJSON(getScenario().val());
		}

		function setCustomizationSettings(values)
		{
			var value = JSON.stringify(values);
			getScenario().val(value);
		}

		function toggleActive(div, divId)
		{
			var customizationSettings = getCustomizationSettings();

			if (div.hasClass("active"))
			{
				customizationSettings[divId+"SectionMetadataEnabled"] = 0;
				div.removeClass("active");
				setCustomizationSettings(customizationSettings);
			}
			else
			{
				customizationSettings[divId+"SectionMetadataEnabled"] = 1;
				div.addClass("active");
				setCustomizationSettings(customizationSettings);
			}
		}

		$(".sproutseo-advancedoption-btns div").click(function()
		{
			var divId = $(this).attr("data-type");
			$(".fields-"+divId).toggle();

			// Section Metadata Settings
			var btn = $("#btn-"+divId);
			if (btn.length)
			{
				toggleActive(btn, divId);
			}

			// Optimize Field Settings
			var fieldsBtn = $("#fields-btn-"+divId);
			if (fieldsBtn.length)
			{
				toggleActive(fieldsBtn, divId);
			}

			return false; // avoid parents divs if you have nested divs
		});

		// Checking active class
		var fields = ["searchMeta","openGraph","geo","robots","twitterCard"];
		var customizationSettings = getCustomizationSettings();

		for (var i = 0; i < fields.length; i++)
		{
			if(customizationSettings[fields[i]+"SectionMetadataEnabled"]==1)
			{
				$("#btn-"+fields[i]).addClass("active");
				// Optimize Field Settings
				$("#fields-btn-"+fields[i]).addClass("active");
			}
		}

		function appendSeoBadge(fieldId)
		{
			var labelId = '#fields-' + fieldId + '-label';
			$(labelId).append(metaTitleSeoButton);
		}

		{% if settings.optimizedKeywordsField == 'manually' %}
			$('#fields-sproutseo-optimizedkeywords-field input').tagEditor({
			animateDelete: 20
			});
		{% endif %}

		{% if settings.optimizedTitleField == 'elementTitle' %}

			var metaTitleSeoButton = $('div.sproutseo-metatitle-info').html();
			var metaTitleLabelId = '#title-label';
			$(metaTitleLabelId).append(metaTitleSeoButton).removeClass('hidden');
			Craft.initUiElements($(metaTitleLabelId));

			var metaTitleInput = $('#title');
			metaTitleInput.addClass('nicetext');
			metaTitleInput.data('show-chars-left', true);
			metaTitleInput.attr('maxlength', 60);
			new Garnish.NiceText(metaTitleInput, { showCharsLeft: true });

		{% endif %}

		{% set optimizedTitleFieldModel = craft.fields.getFieldById(settings.optimizedTitleField) %}
		{% if optimizedTitleFieldModel %}

			var metaTitleSeoButton = $('div.sproutseo-metatitle-info').html();
			var metaTitleLabelId = '#fields-{{ optimizedTitleFieldModel.handle }}-label';
			$(metaTitleLabelId).append(metaTitleSeoButton).removeClass('hidden');
			Craft.initUiElements($(metaTitleLabelId));

			var metaTitleInput = $('#fields-{{ optimizedTitleFieldModel.handle }}-field input');
			metaTitleInput.attr('maxlength', 60);
			new Garnish.NiceText(metaTitleInput, { showCharsLeft: true });

		{% endif %}

		{% set optimizedDescriptionFieldModel = craft.fields.getFieldById(settings.optimizedDescriptionField) %}
		{% if optimizedDescriptionFieldModel %}

			var metaDescriptionSeoButton = $('div.sproutseo-metadescription-info').html();
			var metaDescriptionLabelId = '#fields-{{ optimizedDescriptionFieldModel.handle }}-label';
			$(metaDescriptionLabelId).append(metaDescriptionSeoButton).removeClass('hidden');
			Craft.initUiElements($(metaDescriptionLabelId));

			var metaDescriptionInput = $('#fields-{{ optimizedDescriptionFieldModel.handle }}-field textarea');
			metaDescriptionInput.attr('maxlength', 160);
			new Garnish.NiceText(metaDescriptionInput, { showCharsLeft: true });

		{% endif %}

		{% set optimizedImageFieldModel = craft.fields.getFieldById(settings.optimizedImageField) %}
		{% if optimizedImageFieldModel %}

			var metaImageSeoButton = $('div.sproutseo-metaimage-info').html();
			var metaImageLabelId = '#fields-{{ optimizedImageFieldModel.handle }}-label';
			$(metaImageLabelId).append(metaImageSeoButton).removeClass('hidden');

			Craft.initUiElements($(metaImageLabelId));

		{% endif %}


    $('#my-modal nav li a').on('click', function(e) {
			e.preventDefault();

console.log('waa');

			$currentBase = $('#my-modal nav li a.sel');
			currentHref = $currentBase.attr('href');
			currentTab = currentHref.replace('#', '#tab-');
			$currentBase.removeClass('sel');
			$(currentTab).addClass('hidden');

			targetHref = $(this).attr('href');
			targetTab = targetHref.replace('#', '#tab-');
			$(this).addClass('sel');
			$(targetTab).removeClass('hidden');
		});

		$('#sproutseo-seopreview').on('click', function(e) {
			e.preventDefault();

			$('#my-modal').removeClass('hidden');
			new Garnish.Modal($('#my-modal'), {
				resizable: true
			});

		});

	});


	new Craft.SproutSeoOpenGraph();
	new Craft.SproutSeoTwitterCard();




{% endincludejs %}

{% includeJsResource  "sproutseo/js/metadataelement.js" %}
