{% extends "sproutseo/_layouts/base" %}

{% set title = (redirect.id != "" ? "Edit Redirect"|t : "New Redirect"|t) %}

{% set crumbs = [
	{ label: craft.sproutseo.name, url: url('sproutseo/defaults') },
	{ label: "Redirects"|t, url: url('sproutseo/redirects') }
] %}

{% block main %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutSeo/redirects/saveRedirect">
		<input type="hidden" name="redirect" value="sproutseo/redirects">
		<input type="hidden" name="redirectId" value="{{ redirect.id }}">

		<div class="grid first">
			<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
				<div id="fields" class="pane">

					{% if redirect.id %}
						<input type="hidden" name="redirectId" value="{{ redirect.id }}">
					{% endif %}

					{% include 'sproutseo/redirects/_fields' %}

					<div class="buttons">

						{% if redirect.id  %}
						<div class="input">
							<div class="right">
								<input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}"
									data-action="sproutSeo/redirects/deleteRedirect"
									data-confirm="{{ 'Are you sure you want to delete this redirect?'|t }}"
									data-redirect="sproutseo/redirects">
							</div>
						</div>
						{% endif %}

						<div class="btngroup submit first">
							<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
							<div class="btn submit menubtn"></div>
							<div class="menu">
								<ul>
									<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
									<li><a class="formsubmit" data-redirect="sproutseo/redirects/new">{{ "Save and add another"|t }}</a></li>
								</ul>
							</div>
						</div>
					</div>

					{% include 'sproutseo/_partials/brand/footer' %}

				</div>
			</div>

			<div class="item" data-position="right" data-colspan="1">

				<div class="pane">

					<h2>Match Patterns</h2>

					<p>Redirect multiple URLs with a similar pattern by selecting the Match Patterns option.</p>

					<p>
						<strong>Old URL - Regular Expressions</strong>
						<ul>
							<li>/old-location/(.*)</li>
							<li>/old-location/(\d{4})/(\d{2})</li>
						</ul>
					</p>

					<p>
						<strong>New URL - Capture Groups</strong></strong>
						<ul>
							<li><em>new-location/$1</em></li>
							<li><em>new-location/$1/$2</em></li>
						</ul>
					</p>

				</div>

			</div>

		</div>

	</form>

{% endblock %}
