{% import "_includes/forms" as forms %}

{{ forms.textField({
	label: "Old URL"|t,
	id: 'oldUrl',
	name: 'oldUrl',
	value: redirect.oldUrl,
	errors: redirect.getErrors('oldUrl'),
	first: true,
	autofocus: true,
	required: true
}) }}

{{ forms.textField({
	label: "New URL"|t,
	id: 'newUrl',
	name: 'newUrl',
	value: redirect.newUrl,
	errors: redirect.getErrors('newUrl'),
	required: true
}) }}

{{ forms.selectField({
	label: 'Method'|t,
	id: 'method',
	name: 'method',
	value: (redirect.method != "" ? redirect.method : '302'),
	options: methodOptions,
	errors: redirect.getErrors('method'),
	required: true
}) }}

{{ forms.lightswitchField({
	label: "Match Patterns"|t,
	id: 'regex',
	name: 'regex',
	instructions: 'Use regular expressions in your Old URL field',
	value: redirect.regex,
	on: (redirect.regex is defined) ? redirect.regex : ""
}) }}