{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sproutseo/_components/selectOther" as sproutFields %}

{% set title = "Contacts"|t %}

{% set settings = craft.sproutSeo.getSettings() %}

{% set content %}

	{% set contactOptions = [
		{ label: "Select Type...", value: '' },
		{ label: "Customer Service", value: 'customer service' },
		{ label: "Technical Support", value: 'technical support' },
		{ label: "Billing Support", value: 'billing support' },
		{ label: "Bill Payment", value: 'bill payment' },
		{ label: "Sales", value: 'sales' },
		{ label: "Reservations", value: 'reservations' },
		{ label: "Credit Card Support", value: 'credit card support' },
		{ label: "Emergency", value: 'emergency' },
		{ label: "Baggage Tracking", value: 'baggage tracking' },
		{ label: "Roadside Assistance", value: 'roadside assistance' },
		{ label: "Package Tracking", value: 'package tracking' },
		{ label: "Custom", value: 'custom' }
	] %}

	{% set cols = [
		{
			type: 'selectOther',
			options: contactOptions
		},
		{
			type: 'textual'
		}
	] %}

	<div class="field" style="margin-bottom:0;">
		<div class="heading">
			<label>{{ "Contacts"|t }}</label>
			<p class="instructions">{{ "Adding <a href='https://developers.google.com/structured-data/customize/contact-points' target='_blank'>Corporate Contacts</a> to your site's structured data can prominently display contact information on the Google Knowledge panel in some searches. Telephone numbers must use an international format starting with the '+' character such as:
			+1-800-555-1212"|t|raw }}</p>
		</div>
	</div>

	{% set globalMeta = craft.sproutSeo.getGlobalKnowledgeGraphMeta() %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutSeo/schema/saveSchema">
		<input type="hidden" name="redirect" value="sproutseo/globals/{{ craft.request.getSegment(3) }}">
		<input type="hidden" name="schemaType" value="contacts">

		<table id="sproutseo-schema-contacts" class="data fullwidth">
			<thead>
			<tr>
				<th>{{ "Contact Type"|t }}</th>
				<th>{{ "Telephone"|t }}</th>
				<th class="thin"></th>
				<th class="thin"></th>
			</tr>
			</thead>
			<tbody>

				{% for contact in globalMeta.contacts %}

				<tr data-id="{{ loop.index }}">

					<td>

						<div class="field sprout-selectother">
							{{ sproutFields.selectOther({
								name: 'sproutseo[schema][contacts][' ~ loop.index ~ '][0]',
								options: contactOptions,
								value: contact.contactType,
								otherPlaceholderText: 'Custom Type'|t
							}) }}
						</div>
					</td>
					<td>
						{{ forms.text({
							name: 'sproutseo[schema][contacts][' ~ loop.index ~ '][1]',
							value: contact.telephone,
							errors: ''
						}) }}
					</td>
					<td class="thin action"><a class="move icon" title="Reorder"></a></td>
					<td class="thin action"><a class="delete icon" title="Delete"></a></td>
				</tr>

				{% endfor %}

			</tbody>
		</table>

		<div class="buttons">
			<div class="btn add icon small" tabindex="0">Add a Contact</div>
		</div>

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="Save" />
		</div>

	</form>

{% endset %}

{% includeJsResource 'sproutseo/js/SproutFields.js' %}
{% includeJsResource 'sproutseo/js/EditableTable.js' %}

{% includejs %}

	(function() {

		var tableId = 'sproutseo-schema-contacts';
		var baseName = 'sproutseo[schema][contacts]';
		var columns = {{ cols|json_encode|raw }};
		var settings = {};

		new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);

	})();

{% endincludejs %}