{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}

{% set title = "Default Settings"|t %}

{% set globals = craft.sproutSeo.getGlobals() %}
{% set settings = globals.settings %}

{% set content %}

	{% set schemaTypeFormSubmit = "settings" %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutSeo/schema/saveSchema">
		<input type="hidden" name="redirect" value="sproutseo/globals/{{ craft.request.getSegment(3) }}">
		<input type="hidden" name="schemaType" value="{{ schemaTypeFormSubmit }}">

		{{ forms.selectField({
			label: 'Select the character that will be used between Title segments'|t,
			instructions: "This character will be used in between your title segments, i.e. <i>Blog Post Title – " ~ siteName ~ "</i>"|t,
			id: 'seoDivider',
			name: 'sproutseo[schema][settings][seoDivider]',
			options: {
				1 : {
					'value' : '-',
					'label' : '-'
				},
				2 : {
					'value' : '•',
					'label' : '•'
				},
				3 : {
					'value' : '|',
					'label' : '|'
				},
				4 : {
					'value' : '/',
					'label' : '/'
				},
				5 : {
					'value' : ':',
					'label' : ':'
				},
				6: {
					'optgroup': 'Custom'
				},
				7 : {
					'value' : 'custom',
					'label' : 'Add Custom'
				}
			},
			value : settings.seoDivider ?? null,
			first: true,
			errors: ''
		}) }}

		{{ forms.selectField({
			label: 'Append value to all Meta Titles'|t,
			instructions: "Append your website name or a custom value at the end of all of your Meta Titles, i.e. <i>Article Title - " ~ siteName ~ "</i>"|t,
			id: 'seoDivider',
			name: 'sproutseo[schema][settings][appendTitleValue]',
			options: {
				1 : {
					'value' : '',
					'label' : 'None'
				},
				2 : {
					'value' : 'sitename',
					'label' : 'Site Name'
				},
				3: {
					'optgroup': 'Custom'
				},
				4 : {
					'value' : 'custom',
					'label' : 'Add Custom'
				}
			},
			value : settings.appendTitleValue ?? null,
			first: true,
			errors: ''
		}) }}

		{% set ogTypesOptions = {
			'' : 'Select Open Graph Type...'|t,
			'article' : 'Article'|t,
			'website' : 'Website'|t,
		} %}

		{{ forms.selectField({
			label: 'Default Open Graph Type'|t,
			instructions: 'Select your default Open Graph Type for individual entries using the Sprout SEO Optimize field. Learn more about <a href="https://developers.facebook.com/docs/reference/opengraph#object-type"
    target="_blank">How Open Graph Stories work.</a>'|t,
			name: 'sproutseo[schema][settings][defaultOgType]',
			options: ogTypesOptions,
			value: settings.defaultOgType ?? 'article',
			errors: "",
			required: false
		}) }}

		{% set twitterCardOptions = {
			'' : 'Select Twitter Card Type...'|t,
			'summary' : 'Summary Card'|t,
			'summary_large_image' : 'Summary Card with Large Image'|t,
			'player' : 'Player Card'|t
		} %}

		{{ forms.selectField({
			label: 'Default Twitter Card Type'|t,
			instructions: 'Select your default Twitter Card Type for individual entries using the Sprout SEO Optimize field.. Learn more about <a href="https://dev.twitter.com/docs/cards" target="_blank">How Twitter Cards work</a>.'|t,
			name: 'sproutseo[schema][settings][defaultTwitterCard]',
			options: twitterCardOptions,
			value: settings.defaultTwitterCard ?? 'summary',
			errors: "",
			required: false
		}) }}

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="Save" />
		</div>

	</form>

{% endset %}
