{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sproutseo/_components/selectOther" as sproutFields %}
{% import "sproutseo/_includes/sproutseo" as sprout %}

{% set globals = craft.sproutSeo.getGlobalMetadata() %}
{% set settings = globals.settings %}

{% set content %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutSeo/globalMetadata/saveGlobalMetadata">
		<input type="hidden" name="redirect" value="sproutseo/globals/{{ craft.request.getSegment(3) }}">
		<input type="hidden" name="globalKeys" value="settings">

		{% set dividerOptions = craft.sproutSeo.getSeoDividerOptions() %}

		{{ forms.field({
			label: 'Select the character that will be used between Title segments'|t ~ sprout.infoIcon({
				label: "Character"|t,
				search: true,
				priority: 'globals'
			}),
			instructions: "This character will be used in between your title segments, i.e. Blog Post Title – {sitename}"|t({ 'sitename': siteName }),
			first: true,
		}, sproutFields.selectOther({
			name: 'sproutseo[globals][settings][seoDivider]',
			options: dividerOptions ,
			value: settings.seoDivider is defined ? settings.seoDivider : null,
			otherPlaceholderText: 'Custom Divider'|t
		})) }}

		{% set titleOptions = craft.sproutSeo.getAppendMetaTitleOptions() %}

		{{ forms.field({
			label: 'Append value to all Meta Titles'|t ~ sprout.infoIcon({
				label: "Append value"|t,
				search: true,
				priority: 'globals'
			}),
			instructions: "Append your website name or a custom value at the end of all of your Meta Titles, i.e. Article Title - {sitename}"|t({ 'sitename': siteName }),
			first: true,
		}, sproutFields.selectOther({
			name: 'sproutseo[globals][settings][appendTitleValue]',
			options: titleOptions ,
			value: settings.appendTitleValue is defined ? settings.appendTitleValue : null,
			otherPlaceholderText: 'Custom Value'|t
		})) }}

		{% set ogTypesOptions = {
			'' : 'Select Open Graph Type...'|t,
			'article' : 'Article'|t,
			'website' : 'Website'|t,
		} %}

		{{ forms.selectField({
			label: 'Default Open Graph Type'|t ~ sprout.infoIcon({
				label: "Type"|t,
				openGraph: true,
				priority: 'globals'
			}),
			instructions: 'Select your default Open Graph Type for individual entries using the Sprout SEO Optimize field. Learn more about <a href="https://developers.facebook.com/docs/reference/opengraph#object-type"
    target="_blank">How Open Graph Stories work.</a>'|t,
			name: 'sproutseo[globals][settings][defaultOgType]',
			options: ogTypesOptions,
			value: settings.defaultOgType ?? 'article',
			errors: "",
			required: false
		}) }}

		{% set twitterCardOptions = {
			'' : 'Select Twitter Card Type...'|t,
			'summary' : 'Summary Card'|t,
			'summary_large_image' : 'Summary Card with Large Image'|t,
			'player' : 'Player Card'|t
		} %}

		{{ forms.selectField({
			label: 'Default Twitter Card Type'|t ~ sprout.infoIcon({
				label: "Type"|t,
				twitterCard: true,
				priority: 'globals'
			}),
			instructions: 'Select your default Twitter Card Type for individual entries using the Sprout SEO Optimize field.. Learn more about <a href="https://dev.twitter.com/docs/cards" target="_blank">How Twitter Cards work</a>.'|t,
			name: 'sproutseo[globals][settings][defaultTwitterCard]',
			options: twitterCardOptions,
			value: settings.defaultTwitterCard ?? 'summary',
			errors: "",
			required: false
		}) }}

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="Save" />
		</div>

	</form>

	{% includeCssResource  "sproutseo/css/sproutseo.css" %}
	{% includeJsResource 'sproutseo/js/sproutfields.js' %}

	{% includejs %}
		$(document).ready(function() {
			Craft.SproutFields.initFields($("#content"));
		});
	{% endincludejs %}
{% endset %}
