{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sproutseo/_components/selectOther" as sproutFields %}

{% set title = "Social Profiles"|t %}

{% set content %}

	{% set socialProfileOptions = [
		{ label: "Select...", value: '' },
		{ label: "Facebook", value: 'Facebook' },
		{ label: "Twitter", value: 'Twitter' },
		{ label: "Google+", value: 'Google+' },
		{ label: "Instagram", value: 'Instagram' },
		{ label: "YouTube", value: 'YouTube' },
		{ label: "LinkedIn", value: 'LinkedIn' },
		{ label: "Myspace", value: 'Myspace' },
		{ label: "Pinterest", value: 'Pinterest' },
		{ label: "SoundCloud", value: 'SoundCloud' },
		{ label: "Tumblr", value: 'Tumblr' },
		{ label: "Custom", value: 'Custom' }
	] %}

	{% set cols = [
		{
			type: 'selectOther',
			heading: 'Profile',
			options: socialProfileOptions
		},
		{
			type: 'textual',
			heading: 'URL'
		}
	] %}

	{% set globals = craft.sproutSeo.getGlobals() %}

	<div class="field" style="margin-bottom:0;">
		<div class="heading">
			<label>Social Profiles</label>
			<p class="instructions">Adding <a href="https://developers.google.com/structured-data/customize/social-profiles" target="_blank">Social Profile Links</a> helps establish a relationship between your site or app and your related online profiles. Supported social profiles can be prominently displayed in your Google Knowledge panel, however, it's encouraged to add any other social profiles you have as well.</p>
		</div>
	</div>

	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutSeo/schema/saveSchema">
		<input type="hidden" name="redirect" value="sproutseo/globals/{{ craft.request.getSegment(3) }}">
		<input type="hidden" name="schemaType" value="social">

		<table id="sproutseo-schema-social" class="data fullwidth collapsible">
			<thead>
			<tr>
				<th scope="col">{{ "Profile"|t }}</th>
				<th scope="col">{{ "URL"|t }}</th>
				<th class="thin"></th>
				<th class="thin"></th>
			</tr>
			</thead>
			<tbody>

			{% for socialProfile in globals.social  %}

			<tr data-id="{{ loop.index }}">
				<td>
					<div class="field sprout-selectother">
						{{ sproutFields.selectOther({
							name: 'sproutseo[schema][social][' ~ loop.index ~ '][0]',
							options: socialProfileOptions,
							value: socialProfile.profileName,
							otherPlaceholderText: 'Custom Type'|t
						}) }}
					</div>
				</td>
				<td>
					{{ forms.text({
						name: 'sproutseo[schema][social][' ~ loop.index ~ '][1]',
						value: socialProfile.url,
						errors: ''
					}) }}
				</td>
				<td class="thin action"><a class="move icon" title="Reorder"></a></td>
				<td class="thin action"><a class="delete icon" title="Delete"></a></td>
			</tr>

			{% endfor %}

			</tbody>
		</table>

		<div class="buttons">
			<div class="btn add icon small" tabindex="0">Add a Profile</div>
		</div>

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="Save" />
		</div>

	</form>

{% endset %}

{% includeJsResource 'sproutseo/js/SproutFields.js' %}
{% includeJsResource 'sproutseo/js/EditableTable.js' %}

{% includejs %}

(function() {

	var tableId = 'sproutseo-schema-social';
	var baseName = 'sproutseo[schema][social]';
	var columns = {{ cols|json_encode|raw }};
	var settings = {};

	new Craft.SproutSeo.EditableTable(tableId, baseName, columns, settings);

})();

{% endincludejs %}