{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sproutseo/_components/selectOther" as sproutFields %}

{% set logoElement = null %}
{% set elementType = craft.sproutseo.getAssetElementType %}
{% set globals = craft.sproutSeo.getGlobals() %}
{% set schema = globals.identity %}
{% set organizationItems = craft.sproutSeo.getOrganizationOptions() %}
{% set firstItems = {"":""} %}
{% for item in organizationItems %}
	{% set firstItems = firstItems | merge({(item.name):craft.sproutSeo.getJsonName(item.name)}) %}
{% endfor %}

{% if schema.logo is defined and schema.logo %}
	{% for id in schema.logo %}
		{% set logo = craft.sproutSeo.getElementById(id) %}
		{% set logoElement = logo %}
	{% endfor %}
{%endif%}

{% set title = 'Website Identity'|t %}

{% set content %}
	{% set identityTypes = [
		{ label: "Organization", value: "Organization" },
		{ label: "Person", value: "Person" }
	] %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutSeo/schema/saveSchema">
		<input type="hidden" name="redirect" value="sproutseo/globals/{{ craft.request.getSegment(3) }}">
		<input type="hidden" name="schemaType" value="meta,identity">

		{{ forms.textField({
			label: "Name"|t,
			instructions: "The preferred name of your website. <a href='#' class='fieldtoggle instructionstoggle'
			data-target='toggle-alternate'>Add alternate name</a>."|t,
			name: 'sproutseo[schema][identity][name]',
			value: schema['name'] is defined ? schema.name : null,
			errors: '',
			first: true
		}) }}

		<div id="toggle-alternate" class="{{ (schema['alternateEntityName'] is defined and schema.alternateEntityName ?:
		'hidden' ) }}">
			{{ forms.textField({
				label: "Alternate Name"|t,
				instructions: "An alternate name you want search engines to consider."|t,
				name: 'sproutseo[schema][identity][alternateEntityName]',
				value: schema['alternateEntityName'] is defined ? schema.alternateEntityName : null,
				errors: ''
			}) }}
		</div>

		{{ forms.textareaField({
			label: "Description"|t,
			instructions: "A description of your website."|t,
			name: 'sproutseo[schema][identity][description]',
			value: schema['description'] is defined ? schema.description : null,
			errors: '',
			required: true
		}) }}


		{% set keywordsValue = schema['keywords'] is defined ? schema.keywords : null %}

		{{ forms.textField({
			label: "Keywords"|t,
			instructions: "The primary keywords or phrases that describe your website."|t,
			id: 'keywords',
			name: 'sproutseo[schema][identity][keywords]',
			value: keywordsValue,
			errors: ''
		}) }}

		{{ forms.textField({
			label: "URL"|t,
			instructions: "The URL of your official website."|t,
			name: 'sproutseo[schema][identity][url]',
			value: schema['url'] is defined ? schema.url : null,
			errors: '',
			required: true
		}) }}

		{{ forms.field({
			label: 'Logo'|t,
			instructions: 'The preferred logo for your website.'|t,
		}, forms.elementSelect({
			elements: [logoElement],
			sourceElementId: schema['logo'] is defined ? schema.logo : null,
			elementType: elementType,
			id: 'logo',
			name: 'sproutseo[schema][identity][logo]',
			jsClass: 'Craft.AssetSelectInput',
			addButtonLabel: 'Select Image'|t,
			limit: 1,
			criteria: {"localeEnabled":null}
		})) }}

		{{ forms.textField({
			label: "Telephone"|t,
			instructions: 'The preferred telephone number for your website.'|t,
			name: 'sproutseo[schema][identity][telephone]',
			value: schema['telephone'] is defined ? schema.telephone : null,
			errors: '',
			required: true
		}) }}

		{{ forms.textField({
			label: "Email"|t,
			instructions: 'The preferred email address for your website.'|t,
			name: 'sproutseo[schema][identity][email]',
			value: schema['email'] is defined ? schema.email : null,
			errors: '',
			required: true
		}) }}

		<hr>

		<div class="field identityType-field-wrapper">

			<div class="heading">
				<label for="siteOwnerType">{{ "Website Identity"|t}}</label>
				<div class="instructions"><p>{{ "Select the primary concept that represents your brand identity." |t |raw}}</p></div>
			</div>

			<div class="input">

				<div class="identitytype-dropdown">
					{{ forms.selectField({
						id: 'identityType',
						name: 'sproutseo[schema][identity][@type]',
						options: identityTypes,
						value: globals.getType(),
						errors: "",
						required: false
					}) }}
				</div>

				<div id ="organization" class="organization-info {% if globals.getType() == 'Person' %}hidden{% endif %}">

					<div class="identitytype-dropdown organizationinfo-dropdown">
						{{ forms.selectField({
							id: 'first',
							role: 'listbox',
							name: 'sproutseo[schema][identity][firstOrganizationSubType]',
							options: firstItems,
							value: '',
							errors: "",
							required: false,
						}) }}
					</div>

					<div class="identitytype-dropdown organizationinfo-dropdown hidden">
						{{ forms.selectField({
							id: 'second',
							role: 'listbox',
							name: 'sproutseo[schema][identity][secondOrganizationSubType]',
							options: {'':''},
							value: '',
							errors: '',
							required: false,
						}) }}
					</div>

					<div class="identitytype-dropdown organizationinfo-dropdown hidden">
						{{ forms.selectField({
							id: 'third',
							role: 'listbox',
							name: 'sproutseo[schema][identity][thirdOrganizationSubType]',
							options: {'':''},
							value: '',
							errors: '',
							required: false,
						}) }}
					</div>
				</div>
			</div>
		</div>

		<hr>

		{# These fields should only display when 'Organization' is selected #}
		<div class="organization-info {% if globals.getType() == 'Person' %}hidden{% endif %}">
			{{ forms.dateField({
				label: "Founding Date"|t,
				id : "foundingDate",
				instructions: 'The date that this organization was founded.'|t,
				name: 'sproutseo[schema][identity][foundingDate]',
				value: schema['foundingDate']['date'] is defined ? craft.sproutSeo.getDate(schema.foundingDate.date) : null,
				errors: '',
				required: false
			}) }}

			<hr>

			{# These fields should only display when 'Organization => LocalBusiness' is selected #}
			<div id="localbusiness">

				<div class="field">
					<div class="heading">
						<label for="siteOwnerType">{{ "Opening Hours"|t}}</label>
						<div class="instructions"><p>{{ "The general opening hours for a business. Leave the hours blank to
						indicate the business is closed on a particular day."	|t |raw}}</p></div>
					</div>
					<div>
						<table class="data">
							<thead>
								<tr>
									<td></td>
									<th>{{"Opening Time"|t}}</th>
									<th>{{"Closing Time"|t}}</th>
								</tr>
							</thead>
							<tbody>
								{% for day in 0..6 %}
									<tr>
										<th>
												{{ craft.i18n.getLocaleData().getWeekDayName(day) }}
										</th>
										<td>
												{{ forms.timeField({
														id: 'openingHours-'~day~'-open',
														name: 'sproutseo[schema][identity][openingHours]['~day~'][open]',
														value: schema['openingHours'][day]['open'] is defined ? schema['openingHours'][day]['open'].time : null,
												}) }}
										</td>
										<td>
												{{ forms.timeField({
														id: 'openingHours-'~day~'-close',
														name: 'sproutseo[schema][identity][openingHours]['~day~'][close]',
														value: schema['openingHours'][day]['close'] is defined ? schema['openingHours'][day]['close'].time : null,
												}) }}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<hr>

			</div>

		</div>

		{# These fields should only display when 'Person' is selected #}
		<div class="person-info {% if globals.getType() == 'Organization' %}hidden{% endif %}">

			<div class="field">

				<div class="heading">
					<label for="siteOwnerType">{{ "Gender"|t}}</label>
				</div>

				<div class="input">

					<div class="field sprout-selectother">
						{%set optionsTest = craft.sproutseo.getGenderOptions() %}
						{{ sproutFields.selectOther({
							name: 'sproutseo[schema][identity][gender]',
							options: optionsTest ,
							value: schema['gender'] is defined ? schema.gender : null,
							otherPlaceholderText: 'Custom Type'|t
						}) }}
					</div>
				</div>
			</div>
			<hr>

		</div>

		<div class="buttons">
			<input type="submit" class="btn submit" value="Save" />
		</div>

	</form>

{% includeJsResource 'sproutseo/js/SproutFields.js' %}

{% includejs %}
	var items = {{ organizationItems|json_encode|raw }};
	var schema = {{ schema|json_encode|raw }};

	$(document).ready(function() {
		Craft.SproutFields.initFields($("#content"));

		$('#keywords-field input').tagEditor({
			animateDelete: 20
		});

			// check if we need load depending dropdowns
		if (schema.hasOwnProperty('organizationSubTypes') && schema.organizationSubTypes[0])
		{
			$('#first').val(schema.organizationSubTypes[0]).change();
		}
		if (schema.hasOwnProperty('organizationSubTypes') && schema.organizationSubTypes[1])
		{
			$('#second').val(schema.organizationSubTypes[1]).change();
		}
		if (schema.hasOwnProperty('organizationSubTypes') && schema.organizationSubTypes[2])
		{
			$('#third').val(schema.organizationSubTypes[2]).change();
		}

		$( "#identityType" ).change(function() {

			if(this.value === 'Person')
			{
				$( ".person-info" ).removeClass('hidden');
				$( ".organization-info" ).addClass('hidden');
			}
			else
			{
				$( ".person-info" ).addClass('hidden');
				$( ".organization-info" ).removeClass('hidden');
			}

			if(this.value === 'Organization')
			{
				$( ".organization-info" ).removeClass('hidden');
				$( ".person-info" ).addClass('hidden');
			}
			else
			{
				$( ".organization-info" ).addClass('hidden');
				$( ".person-info" ).removeClass('hidden');
			}
		});

	});

{% endincludejs %}

{% endset %}

{% includeJsResource  "sproutseo/js/depending/script.js" %}

{% includeCssResource  "sproutseo/css/fields.css" %}
{% includeCssResource  "sproutseo/css/jquery.tag-editor.css" %}
{% includeJsResource  "sproutseo/js/jquery.caret.min.js" %}
{% includeJsResource  "sproutseo/js/jquery.tag-editor.min.js" %}

