{% extends "sproutseo/_layouts/general" %}
{% import "_includes/forms" as forms %}
{% import "sproutseo/_components/selectOther" as sproutFields %}
{% import "sproutseo/_includes/sproutseo" as sprout %}

{% set logoElement       = null %}
{% set elementType       = craft.sproutseo.getAssetElementType %}
{% set organizationItems = craft.sproutSeo.getOrganizationOptions() %}
{% set globals           = craft.sproutSeo.getGlobalMetadata() %}
{% set websiteIdentity   = globals.identity %}

{% set websiteIdentityTypes = [
	{ label: "Organization", value: "Organization" },
	{ label: "Person", value: "Person" }
] %}

{% set websiteIdentityOptions = {"":""} %}

{% for item in organizationItems %}
	{% set websiteIdentityOptions = websiteIdentityOptions|merge({
		(item.name) : craft.sproutSeo.getJsonName(item.name)
	}) %}
{% endfor %}

{% if websiteIdentity.logo is defined and websiteIdentity.logo %}
	{% for id in websiteIdentity.logo %}
		{% set logo = craft.sproutSeo.getElementById(id) %}
		{% set logoElement = logo %}
	{% endfor %}
{%endif%}

{% set content %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutSeo/globalMetadata/saveGlobalMetadata">
		<input type="hidden" name="redirect" value="sproutseo/globals/{{ craft.request.getSegment(3) }}">
		<input type="hidden" name="globalKeys" value="meta,identity">

		{{ forms.textField({
			label: "Name"|t ~ sprout.infoIcon({
				label: "Name"|t,
				search: true,
				structured: true,
				openGraph: true,
				twitterCard: true,
				priority: 'globals'
			}),
			instructions: "The preferred name of your website. <a href='#' class='fieldtoggle instructionstoggle'
			data-target='toggle-alternate'>Add alternate name</a>."|t,
			name: 'sproutseo[globals][identity][name]',
			value: websiteIdentity['name'] is defined ? websiteIdentity.name : null,
			errors: '',
			first: true,
			maxlength: 60,
			showCharsLeft: true,
			required: true,
			placeholder: siteName,
			class: 'nicetext'
		}) }}

		<div id="toggle-alternate" class="{{ (websiteIdentity['alternateName'] is defined and websiteIdentity.alternateName ?:
		'hidden' ) }}">
			{{ forms.textField({
				label: "Alternate Name"|t ~ sprout.infoIcon({
					label: "Alternate Name"|t,
					search: true,
					structured: true,
					priority: 'globals'
				}),
				instructions: "An alternate name you want search engines to consider (i.e. such as a legal name or nickname)."|t,
				name: 'sproutseo[globals][identity][alternateName]',
				value: websiteIdentity['alternateName'] is defined ? websiteIdentity.alternateName : null,
				errors: '',
				maxlength: 60,
				showCharsLeft: true,
				class: 'nicetext'
			}) }}
		</div>

		{{ forms.textareaField({
			label: "Description"|t ~ sprout.infoIcon({
				label: "Description"|t,
				search: true,
				structured: true,
				openGraph: true,
				twitterCard: true,
				priority: 'globals'
			}),
			instructions: "A description of your website."|t,
			name: 'sproutseo[globals][identity][description]',
			value: websiteIdentity['description'] is defined ? websiteIdentity.description : null,
			errors: '',
			required: true,
			maxlength: 160,
			showCharsLeft: true,
			placeholder: "The official website of " ~ siteName
		}) }}

		{{ forms.field({
			label: 'Image'|t ~ sprout.infoIcon({
				label: "Image"|t,
				search: true,
				structured: true,
				openGraph: true,
				twitterCard: true,
				priority: 'globals'
			}),
			instructions: "The preferred logo or profile picture for your website."|t,
			required: true
		}, forms.elementSelect({
			elements: [logoElement],
			sourceElementId: websiteIdentity['logo'] is defined ? websiteIdentity.logo : null,
			elementType: elementType,
			id: 'logo',
			name: 'sproutseo[globals][identity][logo]',
			jsClass: 'Craft.AssetSelectInput',
			addButtonLabel: 'Select Image'|t,
			limit: 1,
			criteria: {"localeEnabled":null}
		})) }}

		{% set keywordsValue = websiteIdentity['keywords'] is defined ? websiteIdentity.keywords : null %}

		{{ forms.textField({
			label: "Keywords"|t ~ sprout.infoIcon({
				label: "Keywords"|t,
				search: true,
				priority: 'globals'
			}),
			instructions: "The primary keywords or phrases that describe your website."|t,
			id: 'keywords',
			name: 'sproutseo[globals][identity][keywords]',
			value: keywordsValue,
			errors: ''
		}) }}

		{{ forms.textField({
			label: "URL"|t ~ sprout.infoIcon({
				label: "URL"|t,
				search: true,
				structured: true,
				openGraph: true,
				twitterCard: true,
				priority: 'globals'
			}),
			instructions: "The URL of your official website. Defaults to the same value as Site URL in Settings->General."|t,
			name: 'sproutseo[globals][identity][url]',
			value: websiteIdentity['url'] is defined and websiteIdentity['url'] != "" ? websiteIdentity.url : siteUrl,
			errors: '',
			required: true
		}) }}

		{{ forms.textField({
			label: "Email"|t ~ sprout.infoIcon({
				label: "Email"|t,
				search: true,
				structured: true,
				priority: 'globals'
			}),
			instructions: 'The preferred email address for your website.'|t,
			name: 'sproutseo[globals][identity][email]',
			value: websiteIdentity['email'] is defined ? websiteIdentity.email : null,
			errors: ''
		}) }}

		{{ forms.textField({
			label: "Telephone"|t ~ sprout.infoIcon({
				label: "Telephone"|t,
				search: true,
				structured: true,
				priority: 'globals'
			}),
			instructions: 'The preferred telephone number for your website.'|t,
			name: 'sproutseo[globals][identity][telephone]',
			value: websiteIdentity['telephone'] is defined ? websiteIdentity.telephone : null,
			errors: ''
		}) }}

		{% set addressInput %}
		<div class="sproutaddressinfo-box"
			{% if websiteIdentity.addressId is defined %}
			data-addressinfoid='{{ websiteIdentity.addressId }}'
			{% endif %}
			>
		</div>
		{% endset %}

		{{ forms.field({
			label: 'Address'|t ~ sprout.infoIcon({
				label: "Address Field"|t,
				structured: true,
				priority: 'globals'
			}),
			required: false
		}, addressInput) }}

		<hr>

		<div class="field identityType-field-wrapper">
			<div class="heading">
				<label for="siteOwnerType">{{ "Website Identity"|t }}  {{ sprout.infoIcon({
					label: "Website Identity"|t,
					search: true,
					structured: true,
					priority: 'globals'
					}) }}
				</label>
				<div class="instructions"><p>{{ "Select the primary concept that represents your brand identity." |t |raw}}</p></div>
			</div>

			<div class="input">

				<div class="identitytype-dropdown">
					{{ forms.selectField({
						id: 'identityType',
						name: 'sproutseo[globals][identity][@type]',
						options: websiteIdentityTypes,
						value: globals.getWebsiteIdentityType(),
						errors: "",
						required: false
					}) }}
				</div>

				<div id ="organization" class="organization-info {% if globals.getWebsiteIdentityType() == 'Person' %}hidden{% endif %}">

					<div class="identitytype-dropdown organizationinfo-dropdown">
						{{ forms.selectField({
							id: 'first',
							role: 'listbox',
							name: 'sproutseo[globals][identity][organizationSubTypes][0]',
							options: websiteIdentityOptions,
							value: '',
							errors: "",
							required: false,
						}) }}
					</div>

					<div class="identitytype-dropdown organizationinfo-dropdown hidden">
						{{ forms.selectField({
							id: 'second',
							role: 'listbox',
							name: 'sproutseo[globals][identity][organizationSubTypes][1]',
							options: {'':''},
							value: '',
							errors: '',
							required: false,
						}) }}
					</div>

					<div class="identitytype-dropdown organizationinfo-dropdown hidden">
						{{ forms.selectField({
							id: 'third',
							role: 'listbox',
							name: 'sproutseo[globals][identity][organizationSubTypes][2]',
							options: {'':''},
							value: '',
							errors: '',
							required: false,
						}) }}
					</div>
				</div>
			</div>
		</div>

		<hr>

		{# These fields should only display when 'Organization' is selected #}
		<div class="organization-info {% if globals.getWebsiteIdentityType() == 'Person' %}hidden{% endif %}">
			{{ forms.dateField({
				label: "Founding Date"|t ~ sprout.infoIcon({
					label: "Founding Date"|t,
					search: true,
					structured: true,
					priority: 'globals'
				}),
				id : "foundingDate",
				instructions: 'The date that this organization was founded.'|t,
				name: 'sproutseo[globals][identity][foundingDate]',
				value: websiteIdentity['foundingDate']['date'] is defined ? craft.sproutSeo.getDate(websiteIdentity.foundingDate.date) : null,
				errors: '',
				required: false
			}) }}

			<hr>

			{# These fields should only display when 'Organization => LocalBusiness' is selected #}
			<div id="localbusiness" {% if not globals.isLocalBusiness() %}class="hidden"{% endif %}>

				<div class="field">
					<div class="heading">
						<label for="siteOwnerType">{{ "Opening Hours"|t }} {{ sprout.infoIcon({
								label: "Opening Hours"|t,
								search: true,
								structured: true,
								priority: 'globals'
							}) }}</label>
						<div class="instructions"><p>{{ "The general opening hours for a business. Leave the hours blank to
						indicate the business is closed on a particular day."	|t |raw}}</p></div>
					</div>
					<div>
						<table class="data">
							<thead>
								<tr>
									<td></td>
									<th>{{"Opening Time"|t}}</th>
									<th>{{"Closing Time"|t}}</th>
								</tr>
							</thead>
							<tbody>
								{% for day in 0..6 %}
									<tr>
										<th>
												{{ craft.i18n.getLocaleData().getWeekDayName(day) }}
										</th>
										<td>
												{{ forms.timeField({
														id: 'openingHours-'~day~'-open',
														name: 'sproutseo[globals][identity][openingHours]['~day~'][open]',
														value: websiteIdentity['openingHours'][day]['open'] is defined ? websiteIdentity['openingHours'][day]['open'].time : null,
												}) }}
										</td>
										<td>
												{{ forms.timeField({
														id: 'openingHours-'~day~'-close',
														name: 'sproutseo[globals][identity][openingHours]['~day~'][close]',
														value: websiteIdentity['openingHours'][day]['close'] is defined ? websiteIdentity['openingHours'][day]['close'].time : null,
												}) }}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<hr>

			</div>
		</div>

		{# These fields should only display when 'Person' is selected #}
		<div class="person-info {% if globals.getWebsiteIdentityType() == 'Organization' %}hidden{% endif %}">

			{% set genderOptions = craft.sproutseo.getGenderOptions() %}

			{{ forms.field({
				label: "Gender"|t ~ sprout.infoIcon({
					label: "Gender"|t,
					search: true,
					structured: true,
					priority: 'globals'
				}),
				first: true,
			}, sproutFields.selectOther({
				name: 'sproutseo[globals][identity][gender]',
				options: genderOptions ,
				value: websiteIdentity['gender'] is defined ? websiteIdentity.gender : null,
				otherPlaceholderText: 'Custom Gender'|t
			})) }}

			<hr>

		</div>

		<div class="buttons">
			<input type="submit" class="btn submit" value="Save" />
		</div>

	</form>

{% includeJsResource 'sproutseo/js/sproutfields.js' %}

{% includejs %}
	var items = {{ organizationItems|json_encode|raw }};
	var websiteIdentity = {{ websiteIdentity|json_encode|raw }};

	$(document).ready(function() {
		Craft.SproutFields.initFields($("#content"));

		$('#keywords-field input').tagEditor({
			animateDelete: 20
		});

			// check if we need load depending dropdowns
		if (websiteIdentity)
		{
			if (websiteIdentity.hasOwnProperty('organizationSubTypes') && websiteIdentity.organizationSubTypes[0])
			{
				$('#first').val(websiteIdentity.organizationSubTypes[0]).change();
			}
			if (websiteIdentity.hasOwnProperty('organizationSubTypes') && websiteIdentity.organizationSubTypes[1])
			{
				$('#second').val(websiteIdentity.organizationSubTypes[1]).change();
			}
			if (websiteIdentity.hasOwnProperty('organizationSubTypes') && websiteIdentity.organizationSubTypes[2])
			{
				$('#third').val(websiteIdentity.organizationSubTypes[2]).change();
			}
		}

		$( "#identityType" ).change(function() {
			if(this.value === 'Person')
			{
				$( ".person-info" ).removeClass('hidden');
				$( ".organization-info" ).addClass('hidden');
			}
			else
			{
				$( ".person-info" ).addClass('hidden');
				$( ".organization-info" ).removeClass('hidden');
			}

			if(this.value === 'Organization')
			{
				$( ".organization-info" ).removeClass('hidden');
				$( ".person-info" ).addClass('hidden');

				if ($( "#first" ).val() == 'LocalBusiness')
				{
					$( "#localbusiness" ).removeClass('hidden');
				}
			}
			else
			{
				$( ".organization-info" ).addClass('hidden');
				$( ".person-info" ).removeClass('hidden');
			}
		});

		$( "#first" ).change(function() {
			console.log(this.value);
			if(this.value === 'LocalBusiness')
			{
				$( "#localbusiness" ).removeClass('hidden');
			}
			else
			{
				$( "#localbusiness" ).addClass('hidden');
			}
		});


		new Craft.SproutSeo.AddressBox($('.sproutaddressinfo-box'), { source: 'websiteIdentity' })
	});

{% endincludejs %}

{% endset %}

{% includeCssResource  "sproutseo/css/sproutseo.css" %}
{% includeCssResource  "sproutseo/css/lib/jquery.tag-editor.css" %}

{% includeJsResource  "sproutseo/js/lib/jquery.caret.min.js" %}
{% includeJsResource  "sproutseo/js/lib/jquery.tag-editor.min.js" %}
{% includeJsResource  "sproutseo/js/websiteidentity.js" %}
{% includeJsResource  "sproutseo/js/editaddressmodal.js" %}
{% includeJsResource  "sproutseo/js/addressbox.js" %}

