{% extends "_layouts/cp" %}

{% if title is not defined %}
	{% set title = craft.SproutSeo.name %}
{% endif %}

{% set subnav = {
	meta: {
    label: "General"|t,
    url: cpUrl('sproutseo/meta/templates')
  },
	schema: {
		label: "Structured Data"|t,
		url: cpUrl('sproutseo/schema/content')
	},
  sitemap: {
    label: "Sitemap"|t,
    url: cpUrl('sproutseo/sitemap/index'),
  },
	redirects: {
    label: "Redirects"|t,
    url: cpUrl('sproutseo/redirects'),
  }
} %}


{#Make sure new settings areas have permissions too..#}
{% if currentUser.can('editSproutSeoSettings') %}
	{% set subnav = subnav|merge({
		settings: {
			label: "Settings"|t,
			url: url('sproutseo/settings/general')
		}
	}) %}
{% endif %}

{% set selectedSubnavItem = craft.request.segment(2) ? craft.request.segment(2) : 'defaults' %}

{% block main %}

  {% if body is defined %}
    {{ body }}
  {% endif %}

{% endblock %}