{% extends "_layouts/cp" %}

{% if title is not defined %}
	{% set title = craft.SproutSeo.name %}
{% endif %}

{% set subnav = {
    defaults: {
      label: "Defaults"|t,
      url: cpUrl('sproutseo/defaults')
    },
    sitemap: {
      label: "Sitemap"|t,
      url: cpUrl('sproutseo/sitemap'),
    },
		redirects: {
      label: "Redirects"|t,
      url: cpUrl('sproutseo/redirects'),
    }
} %}

{% if currentUser.can('editSproutSeoSettings') %}
	{% set subnav = subnav|merge({
		settings: {
			label: "Settings"|t,
			url: url('sproutseo/settings/general')
		}
	}) %}
{% endif %}

{% set selectedSubnavItem = craft.request.segment(2) ? craft.request.segment(2) : 'defaults' %}

{% block main %}

  {% if body is defined %}
    {{ body }}
  {% endif %}

{% endblock %}