{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set sectionLayout = craft.request.getSegment(2) %}

{% set pluginSettings = craft.sproutSeo.getSettings() %}
{% set urlEnabledSectionTypes = craft.sproutSeo.getUrlEnabledSectionTypes() %}

{% set body %}

	<div class="pane">

		<div class="header" style="display: flex;align-items: center;">
			<div style="flex-grow: 1;">
				<h3 style="text-transform: uppercase;">{{ "Sections"|t }} <span class="info">{{ "Manage all of your Section-level SEO for Search, Social Sharing, Sitemaps, and Structured Data."|t }}</h3>
			</div>
		</div>

		{% for urlEnabledSectionTypeKey, urlEnabledSectionType in urlEnabledSectionTypes %}

			{% for urlEnabledSectionKey, urlEnabledSection in urlEnabledSectionType.urlEnabledSections %}

				{% set sectionMetadata = urlEnabledSection.sectionMetadata %}

				{% if loop.first %}

					{% set name = urlEnabledSectionType.getName() %}

					<table class="data fullwidth sitemap-settings">
						<thead>

							{% block sectionMetadataTableRowHead %}{% endblock %}

						</thead>
						<tbody>

				{% endif %}

				{% if sectionMetadata.name is defined %}
					{% if sectionMetadata.hasUrls %}
						{% set elementTableName = urlEnabledSectionType.getElementTableName() %}
						{% set sproutSeoHandle = elementTableName~':'~sectionMetadata.handle %}

						<tr class="{{ sectionMetadata.isNew ? 'sectionmetadata-isnew' : null }}" data-rowid="{{ urlEnabledSectionKey }}" data-id="{{ sectionMetadata.id ? sectionMetadata.id : null }}" data-name="{{ sectionMetadata.name }}" data-handle="{{ sproutSeoHandle }}" data-type="{{ urlEnabledSection.type.getId() }}" data-url-enabled-section-id="{{ sectionMetadata.urlEnabledSectionId }}" data-url="{{ sectionMetadata.url }}" data-is-new="{{ sectionMetadata.isNew  }}">

							{% block sectionMetadataTableRow %}{% endblock %}

						</tr>

					{% endif %}
				{% endif %}

				{% if loop.last %}

					</tbody>
					</table>
					<br>

				{% endif %}

			{% endfor %}

		{% endfor %}

	</div>

	{% if pluginSettings.enableCustomSections %}

		{% set customSections = craft.sproutSeo.getCustomSections() %}

		<div class="pane">

			<div class="header" style="display: flex;align-items: center;">
				<div style="flex-grow: 1;">
					<h3 style="text-transform: uppercase;">{{ "Custom Sections"|t }}</h3>
				</div>
				<div style="flex-shrink: 0;">
					<div class="buttons right">
						<a class="btn submit add icon" href="{{ url('sproutseo/sections/new') }}">{{ "New section"|t }}</a>
					</div>
				</div>
			</div>

			{% if customSections|length %}


			<table class="data fullwidth custom-pages{% if sectionLayout == 'sitemap' %} sitemap-settings{% endif %}" id="custom-pages">
				<thead>

					{% block customSectionTableRowHead %}{% endblock %}

				</thead>
				<tbody>

				{% for customSection in customSections %}

					{% set customSectionId = "customUrl-" ~ customSection.id %}

					<tr data-rowid="{{ customSectionId }}" data-id="{{ customSection.id }}" data-name="{{ customSection.name }}" data-handle="{{ customSection.handle }}" data-type="">

						{% block customSectionTableRow %}{% endblock %}

					</tr>

				{% endfor %}

				</tbody>
			</table>

			{% endif %}

		</div>

	{% endif %}

{% endset %}

{% includeCssResource "sproutseo/css/sproutseo.css" %}
{% includeJsResource "sproutseo/js/sproutseo.js" %}

{% set js %}
	new Craft.SproutSeo.SectionMetadata();

	new Craft.AdminTable({
		tableSelector: '#custom-pages',
		deleteAction: 'sproutSeo/sectionMetadata/deleteSectionMetadataById',
		onDeleteObject: function(id)
		{
			if($('#custom-pages').find('tbody').find('tr').size() == 0)
			{
				$('#custom-pages').hide();
			}
		}
	});
{% endset %}

{% includeJs js %}