{% extends "sproutseo/_layouts/base" %}

{% set title = "General"|t %}

{% set navItems = {
	'index': { title: "Sitemap"|t },
	'sitemap-settings': { title: "Settings"|t },
} %}

{% set selectedItem = craft.request.getSegment(3) %}
{% set docTitle = navItems[selectedItem].title~' - '~title %}

{% block sidebar %}
	<nav>
		<ul>
			{% for id, item in navItems %}
				{% if item.heading is defined %}
					<li class="heading"><span>{{ item.heading }}</span></li>
				{% else %}
					<li><a href="{{ url('sproutseo/sitemap/'~id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
{% endblock %}