{% import "_includes/forms" as forms %}

{% includeCssResource "sproutseo/css/fields.css" %}

<div class="sproutseo-box" id="open-graph">
{# add ID from meta_service #}

{% set ogTypesOptions = {
'' : 'Select Open Graph Type...',
    'website' : 'Website',
    'article' : 'Article',
  } %}

{{ forms.selectField({
    name: 'sproutseo_opengraph[ogType]',
    options: ogTypesOptions,
    value: values.ogType,
    errors: "",
    required: false
}) }}

<p>Learn more about Open Graph here: <a href="https://developers.facebook.com/docs/opengraph" target="_blank">https://developers.facebook.com/docs/opengraph</a>.</p>

<hr />

{{ forms.textField({
    label: "Title"|t,
    instructions: "The title of your object as it should appear within the graph, e.g., 'The Rock'.",
    placeholder: "The Rock",
    name: 'sproutseo_opengraph[ogTitle]',
    value: values.ogTitle,
    errors: "",
    required: false
}) }}

{% if assetsSourceExists %}
    {{ forms.field({
        label: 'Image',
        }, forms.elementSelect({
        elements: ogImageElements,
        sourceElementId: values.ogImage,
        elementType: elementType,
        id: 'ogImage',
        name: 'sproutseo_opengraph[ogImage]',
        jsClass: 'Craft.AssetSelectInput',
        addButtonLabel: 'Select Image',
        limit: 1,
        criteria: {"localeEnabled":null}
    })) }}
{% else %}
    <p class="error">No assets sources currently exist. <a href="Create one on the {{ url('settings/assets/sources/new') }}">Asset Source settings page.</a></p>
{% endif %}

{{ forms.textField({
    label: "URL"|t,
    instructions: "The canonical URL of your object that will be used as its permanent ID in the graph.",
    placeholder: "http://www.seanconnery.com/",
    name: 'sproutseo_opengraph[ogUrl]',
    value: values.ogUrl,
    errors: "",
    required: false
}) }}

<hr />

{{ forms.textField({
    label: "Site Name"|t,
    instructions: "If your object is part of a larger web site, the name which should be displayed for the overall site.",
    placeholder: "The Rock",
    name: 'sproutseo_opengraph[ogSiteName]',
    value: values.ogSiteName,
    errors: "",
    required: false
}) }}

{{ forms.textField({
    label: "Description"|t,
    instructions: "A one to two sentence description of your object.",
    placeholder: "Don't trust the Greeks, even when they bring gifts.",
    name: 'sproutseo_opengraph[ogDescription]',
    value: values.ogDescription,
    errors: "",
    required: false
}) }}

{{ forms.textField({
    label: "Locale"|t,
    instructions: "The locale these tags are marked up in. Of the format language_TERRITORY. Default is en_US.",
    placeholder: "en_US",
    name: 'sproutseo_opengraph[ogLocale]',
    value: values.ogLocale,
    errors: "",
    required: false
}) }}

{{ forms.textField({
    label: "Audio"|t,
    instructions: "A URL to an audio file to accompany this object.",
    placeholder: "http://www.seanconnery.com/audio.mp3",
    name: 'sproutseo_opengraph[ogAudio]',
    value: values.ogAudio,
    errors: "",
    required: false
}) }}

{{ forms.textField({
    label: "Video"|t,
    instructions: "A URL to a video file that complements this object.",
    placeholder: "http://www.seanconnery.com/didTheyTellPicasoNoBrush.mp4",
    name: 'sproutseo_opengraph[ogVideo]',
    value: values.ogVideo,
    errors: "",
    required: false
}) }}

</div>
{% includeJsResource "sproutseo/js/field-twitter.js" %}

{% set js %}

    new Craft.SproutSeoDefault();

{% endset %}

{% includeJs js %}
