{% import "_includes/forms" as forms %}

<div class="sproutseo-box" id="twitter">

{% set twitterCardOptions = {
    '' : 'Select Twitter Card Type...',
    'summary' : 'Summary Card',
    'summary-large-image' : 'Summary Card with Large Image',
    'player' : 'Player Card',
    'photo' : 'Photo Card',
} %}

{{ forms.selectField({
    name: 'sproutseo_fields[twitterCard]',
    options: twitterCardOptions,
    value: (value.twitterCard is defined ? value.twitterCard : 'summary'),
    value: value.twitterCard,
    errors: "",
    required: false
}) }}

<hr>

 {{ forms.textField({
     label: "Site"|t,
     name: 'sproutseo_fields[twitterSite]',
     instructions: "The Twitter username of the owner of this card's domain.",
     value: value.twitterSite,
     errors: "",
     required: false
 }) }}

 {{ forms.textField({
     label: "Creator"|t,
     name: 'sproutseo_fields[twitterCreator]',
     instructions: "If the content of this card was authored by someone, include their Twitter username here.",
     value: value.twitterCreator,
     errors: "",
     required: false
 }) }}

 {{ forms.textField({
     label: "Title"|t,
     name: 'sproutseo_fields[twitterTitle]',
     instructions: 'The title of your content as it should appear in the card.',
     value: value.twitterTitle,
     errors: "",
     required: false
 }) }}

 {{ forms.textareaField({
     label: "Description"|t,
     name: 'sproutseo_fields[twitterDescription]',
     instructions: 'A description of the content in a maximum of 200 characters.',
     value: value.twitterDescription,
     errors: "",
     required: false
 }) }}

<div id="twitter-summary" class="hidden">

     <hr>

     {{ forms.textField({
         label: "Image Source"|t,
         name: 'sproutseo_fields[twitterSummaryImageSource]',
         instructions: 'A URL to the image representing the content.',
         value: value.twitterSummaryImageSource,
         errors: "",
         required: false
     }) }}

</div>

<div id="twitter-summary-large-image" class="hidden">

     <hr>

     {{ forms.textField({
         label: "Image Source"|t,
         name: 'sproutseo_fields[twitterSummaryLargeImageImageSource]',
         instructions: 'A URL to the image representing the content.',
         value: value.twitterSummaryLargeImageImageSource,
         errors: "",
         required: false
     }) }}

</div>

<div id="twitter-photo" class="hidden">

     <hr>

     {{ forms.textField({
         label: "Image Source"|t,
         name: 'sproutseo_fields[twitterPhotoImageSource]',
         instructions: 'A URL to the image representing the content.',
         value: value.twitterPhotoImageSource,
         errors: "",
         required: false
     }) }}

</div>

<div id="twitter-player" class="hidden">

    <hr>

     {{ forms.textField({
         label: "Image Source"|t,
         name: 'sproutseo_fields[twitterPlayerImageSource]',
         instructions: 'A URL to the image representing the content.',
         value: value.twitterPlayerImageSource,
         errors: "",
         required: false
     }) }}

     {{ forms.textField({
         label: "Stream"|t,
         name: 'sproutseo_fields[twitterPlayerStream]',
         instructions: "URL to raw stream that will be rendered in Twitter's Mobile App Integrationlications directly. If provided, the stream must be delivered in the MPEG-4 container format.",
         value: value.twitterPlayerStream,
         errors: "",
         required: false
     }) }}

     {{ forms.textField({
         label: "Stream Content Type"|t,
         name: 'sproutseo_fields[twitterPlayerStreamContentType]',
         instructions: "The MIME type subtype combination that describes the content contained in twitter player stream.",
         value: value.twitterPlayerStreamContentType,
         errors: "",
         required: false
     }) }}

     {{ forms.textField({
         label: "Height"|t,
         name: 'sproutseo_fields[twitterPlayerHeight]',
         instructions: "Height of IFRAME specified in twitter player in pixels.",
         value: value.twitterPlayerHeight,
         errors: "",
         required: false
     }) }}

     {{ forms.textField({
         label: "Width"|t,
         name: 'sproutseo_fields[twitterPlayerWidth]',
         instructions: 'Width of IFRAME specified in twitter player in pixels.',
         value: value.twitterPlayerWidth,
         errors: "",
         required: false
     }) }}

 </div>

</div>

{% includeJsResource "sproutseo/js/field-twitter.js" %}

{% set js %}

    new Craft.SproutSeoDefault();

{% endset %}

{% includeJs js %}
