{% import "_includes/forms" as forms %}

{% includeCssResource "sproutseo/css/fields.css" %}

<div class="sproutseo-box">

 {{ forms.textField({
     label: "Site"|t,
     name: 'sproutseo_fields[twitterSite]',
     instructions: "The Twitter username of the owner of this card's domain.",
     placeholder: "@username",
     value: values.twitterSite,
     errors: "",
     required: false
 }) }}

 {{ forms.textField({
     label: "Creator"|t,
     name: 'sproutseo_fields[twitterCreator]',
     instructions: "If the content of this card was authored by someone, include their Twitter username here.",
     placeholder: "@username",
     value: values.twitterCreator,
     errors: "",
     required: false
 }) }}

 {{ forms.textField({
     label: "Title"|t,
     name: 'sproutseo_fields[twitterTitle]',
     instructions: 'The title of your content as it should appear in the card.',
     placeholder: "Sean Connery is the greatest",
     value: values.twitterTitle,
     errors: "",
     required: false
 }) }}

 {{ forms.textareaField({
     label: "Description"|t,
     name: 'sproutseo_fields[twitterDescription]',
     instructions: 'A description of the content in a maximum of 200 characters.',
     placeholder: "Losers always whine about doing thier best...",
     value: values.twitterDescription,
     errors: "",
     required: false
 }) }}

</div>
