{% import "_includes/forms" as forms %}
{% import "sproutseo/_components/selectOther" as sproutFields %}

<div class="field" style="margin-bottom:0;">
	<div class="heading">
		<label>Contacts</label>
		<p class="instructions">Add however many contact points you want.</p>
	</div>
</div>

<table id="sproutseo-schema-contacts" class="data fullwidth">
	<thead>
		<tr>
			{% for col in cols %}
			<th>{{ col.heading }}</th>
			{% endfor %}

			<th class="thin"></th>
			<th class="thin"></th>
		</tr>
	</thead>
	<tbody>
		<tr data-id="1">
			{% for col in cols %}
				<td>

				{% if col.type == 'select' %}

					<div class="field sprout-selectother">
						{{ sproutFields.selectOther({
							name: 'sproutseo[schema][contactType]',
							options: col.options,
							values: '',
							otherPlaceholderText: 'Custom Type'|t
						}) }}
					</div>

				{% endif %}

				{% if col.type == 'textual' %}
					{{ forms.text({
						name: 'sproutseo[schema][telephone]',
						value: '',
						errors: ''
					}) }}
				{% endif %}

			</td>
			{% endfor %}
			<td class="thin action"><a class="move icon" title="Reorder"></a></td>
			<td class="thin action"><a class="delete icon" title="Delete"></a></td>
		</tr>
	</tbody>
</table>

<div class="buttons">
	<div class="btn add icon submit" tabindex="0">Add a Contact</div>
</div>


