{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title %}
	{% if not sectionMetadataId is empty %}
		{{ sectionMetadata.name }}
	{% else %}
		{{ "New Metadata Section"|t }}
	{% endif %}
{% endset %}

{% set crumbs = [
	{ label: "Section Metadata"|t, url: url('sproutseo/sections') }
] %}

{% set centered = true %}

{% set fullPageForm = true %}

{% if craft.request.getSegment(3) == 'new' %}
	{% set saveShortcutRedirect = url('sproutseo/sections/{id}') %}
{% else %}
	{% set saveShortcutRedirect = url('sproutseo/sections/' ~ sectionMetadataId) %}
{% endif %}

{# Set a field context so we can manage field visibility between the SEO Section Metadatas and the Field Types #}
{% set fieldContext = 'sectionMetadata' %}

{# Map the `sectionMetadata` object to `values` so we can use the
   same templates for Section Metadata Sections and the Optimize Field Type #}
{% set values = sectionMetadata %}

{% block saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="Save">
	</div>
{% endblock %}

{% block main %}

	<div class="grid first" data-max-cols="3">
		<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
			<div id="fields" class="pane">

				<input type="hidden" name="action" value="sproutSeo/sectionMetadata/saveSectionMetadata">
				<input type="hidden" name="redirect" value="sproutseo/sections">
				<input type="hidden" name="sproutseo[metadata][id]" value="{{ sectionMetadataId }}">
				<input type="hidden" name="sproutseo[metadata][isCustom]" value="{{ isCustom }}">
				<input type="hidden" name="sproutseo[metadata][type]" value="{{ sectionMetadata.type }}">
				<input type="hidden" name="sproutseo[metadata][urlEnabledSectionId]" value="{{ sectionMetadata.urlEnabledSectionId }}">

				{% include 'sproutseo/_fieldtypes/contentmetadata/input' %}

			</div>
		</div>
		<div class="item" data-position="right" data-colspan="1">
			<div class="pane meta">

				{{ forms.textField({
					label: "Name <span class='info'>Human readable Section name</span>"|t,
					id: "name",
					name: 'sproutseo[metadata][name]',
					value: sectionMetadata.name,
					errors: sectionMetadata.getErrors('name'),
					readonly: not isNew,
					class: not isNew ? 'disabled sproutseo-uneditable' : ''
				}) }}

				{{ forms.textField({
					label: "Handle <span class='info'>Name you will use to refer to this meta-tag group in your templates</span>"|t,
					id: "handle",
					name: 'sproutseo[metadata][handle]',
					value: sectionMetadata.handle,
					errors: sectionMetadata.getErrors('handle'),
					readonly: not isNew,
					class: not isNew ? 'disabled' : ''
				}) }}

				{{ forms.textField({
					label: "URL"|t,
					id: "url",
					name: 'sproutseo[metadata][url]',
					value: (sectionMetadata.url == '__home__') ? "/" : sectionMetadata.url,
					errors: sectionMetadata.getErrors('url'),
					readonly: not isNew,
					class: not isNew ? 'disabled' : ''
				}) }}

				<div class="field">
					<div class="heading">
						<label>{{ "Section"|t }}</label>
					</div>
					<div class="input">
						<h6>{{ urlEnabledSection is not empty ? urlEnabledSection.getUrlEnabledSectionName() : "Custom Page"|t }}</h6>
					</div>
				</div>

				<div class="field">
					<div class="heading">
						<label>{{ "Element"|t }} <span class="info">{% if urlEnabledSection is not empty %}{{ "The Matched Element variable <code>{matchedElement}</code> is available to your URL-enabled pages"|t({ 'matchedElement' : urlEnabledSection.getMatchedElementVariable() })|raw }}{% else %}{{ "Custom Pages do not have any pre-prepared Elements available to the page"|t }}{% endif %}</span></label>
					</div>
					<div class="input">
						<h6>{{ urlEnabledSection is not empty ? urlEnabledSection.getMatchedElementVariable() : "–" }}</h6>
					</div>
				</div>

				{% set statusInput %}

					<div class="left">
						{{ forms.lightswitch({
							id: 'enabled',
							name: 'sproutseo[metadata][enabled]',
							on:  (sectionMetadata.enabled is defined ? sectionMetadata.enabled : false)
						}) }}
					</div>

					<div class="right">
						<input type="button" class="btn small formsubmit" value="Delete" data-action="sproutSeo/metadata/deleteSectionMetadataById" data-confirm="Are you sure you want to delete this Section Metadata and all of it's data?" data-redirect="sproutseo/sections">
					</div>

				{% endset %}

				{{ forms.field({
					label: "Enabled"|t,
					id: 'enabled'
				}, statusInput) }}

			</div>

			<div class="pane meta">
				{% set priorityList = {
				'1.0': '1.0 ↑ Highest'|t,
				'0.9': '0.9',
				'0.8': '0.8',
				'0.7': '0.7',
				'0.6': '0.6',
				'0.5': '0.5',
				'0.4': '0.4',
				'0.3': '0.3',
				'0.2': '0.2',
				'0.1': '0.1',
				'0.0': '0.0 ↓ Lowest'|t
				} %}

				{% set frequencyList = {
				'always': 'Always'|t,
				'hourly': 'Hourly'|t,
				'daily': 'Daily'|t,
				'weekly': 'Weekly'|t,
				'monthly': 'Monthly'|t,
				'yearly': 'Yearly'|t,
				'never': 'Never'|t
				} %}

				{{ forms.selectField({
					label: "Priority"|t,
					name: 'sproutseo[metadata][priority]',
					options: priorityList,
					value: (sectionMetadata.priority ? sectionMetadata.priority : 0.5),
					errors: "",
					required: false
				}) }}

				{{ forms.selectField({
					label: "Change Frequency"|t,
					name: 'sproutseo[metadata][changeFrequency]',
					options: frequencyList,
					value: (sectionMetadata.changeFrequency ? sectionMetadata.changeFrequency : 'weekly'),
					errors: "",
					required: false
				}) }}

			</div>

			<div class="pane meta">
				{% if settings.displayPreview %}
					<ul class="sproutseo-preview-btns">
					<li class="selected">Search</li>
					<li>Facebook</li>
					<li>Twitter</li>
					</ul>

					{% include 'sproutseo/_fieldtypes/contentmetadata/previews/search' %}

					{#{% include 'sproutseo/_fieldtypes/contentmetadata/previews/opengraph' %}#}

					{#{% include 'sproutseo/_fieldtypes/contentmetadata/previews/twittercard' %}#}

				{% endif %}
			</div>

		</div>
	</div>

{% endblock %}

{% if sectionMetadata.name is not defined or not sectionMetadata.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}

{% includeCssResource "sproutseo/css/sproutseo.css" %}
{% includeJsResource "sproutseo/js/MetaTags.js" %}

{% set js %}

	$('#sproutseo-optimizedkeywords-field input').tagEditor({
		animateDelete: 20
	});

	new Craft.SproutSeoMetaTags();

{% endset %}

{% includeJs js %}

