<strong style="display:inline-block;padding:7px 10px;">

	{% if sectionMetadata.enabled %}
		<span class="status live"></span>
	{% else %}
		<span class="status disabled"></span>
	{% endif %}

	<a href="{{ cpUrl('sproutseo/sections/' ~ sectionMetadata.id) }}" class="sproutseo-sectiontitle">
		{{ sectionMetadata.name }}
	</a>

	{% if urlEnabledSectionKey is defined %}
	<input type="hidden" name="sproutseo[sections][{{ urlEnabledSectionKey }}][id]" value="{{ urlEnabledSectionKey }}">
	{% endif %}

</strong>