{% extends "sproutseo/_layouts/sections" %}
{% import "_includes/forms" as forms %}

{% set title = "Section Metadata"|t %}

{% block sectionMetadataTableRowHead %}

	<th style="padding-left:9px;width:35%">{{ name }} <span class="info">{{ "All of your " ~name~" that have unique URLs are listed here. Enable each "~name~" you want to include in your sitemap. Prepare fallback Metadata if any meta values are not present for content within the matching domain section. Identify the Main Entity schema you wish to match to this URL."|t }}</span></th>
	<th style="width:50%;">{{ "URL Pattern"|t }}</th>
	<th style="width:15%;">{{ "Active Metadata?"|t }} {% if loop.index == 1 %} <span class="info">{{ "Each icon represents a type of metadata. A green icon indicates that this type of metadata is in place." }}</span>{% endif %}</th>
	<th class="thin"></th>

{% endblock %}

{% block sectionMetadataTableRow %}

	<td>
		{% include 'sproutseo/sections/_titlecolumn' %}
	</td>
	<td>
		{% if sectionMetadata.url == '__home__' %}
			<span data-icon="home" title="Homepage"></span>
		{% else %}
			<code>{{ sectionMetadata.url }}</code>
		{% endif %}
	</td>
	<td>
		<div class="sprout-metadata-status" style="color:#ccc;">
			<span class="sproutseo-icon icon-search">&#xe800;</span>
			<span class="sproutseo-icon icon-facebook">&#xe802;</span>
			<span class="sproutseo-icon icon-twitter">&#xe801;</span>
			<span class="sproutseo-icon icon-edit">&#xe805;</span>
			<span class="sproutseo-icon icon-sitemap {% if sectionMetadata.enabled %}sproutseo-status-pass{% endif %}">&#xf0e8;</span>
		</div>
	</td>
	<td>
		{#@todo - find a better way to get the columns to be even. This tag is#}
		{#unnecessary aside from helping to style the table column widths evenly.#}
		<span style="display: inline-block;width:13px;"></span>
	</td>

{% endblock %}

{% block customSectionTableRowHead %}

	<th style="padding-left:9px;width:35%">{{ "Custom Sections"|t }} <span class="info">{{ "Custom Sitemaps...."|t }}</span></th>
	<th style="width:50%;">{{ "URL Pattern"|t }}</th>
	<th style="width:15%;">{{ "Active Metadata?"|t }} <span class="info">{{ "Each icon represents a type of metadata. A black icon indicates that this type of metadata is in place." }}</span></th>
	<th class="thin"></th>

{% endblock %}

{% block customSectionTableRow %}

	<td>
		<strong style="display:inline-block;padding:7px 10px;">
			{% if customSection is defined and customSection.enabled %}
				<span class="status live"></span>
			{% else %}
				<span class="status disabled"></span>
			{% endif %}

			<a href="{{ url('sproutseo/sections/' ~ customSection.id) }}">
				{{ customSection.name }}
			</a>
		</strong>
	</td>
	<td>
		<code>{{ customSection.url }}</code>
	</td>
	<td>
		<div class="sprout-metadata-status" style="color:#ccc;">
			<span class="sproutseo-icon icon-search">&#xe800;</span>
			<span class="sproutseo-icon icon-facebook">&#xe802;</span>
			<span class="sproutseo-icon icon-twitter">&#xe801;</span>
			<span class="sproutseo-icon icon-edit">&#xe805;</span>
			<span class="sproutseo-icon icon-sitemap {% if customSection.enabled %}sproutseo-status-pass{% endif %}">&#xf0e8;</span>
		</div>
	</td>
	<td class="thin">
		<a class="delete icon" title="{{ 'Delete'|t }}"></a>
	</td>

{% endblock %}