{% extends "sproutseo/_layouts/sections" %}
{% import "_includes/forms" as forms %}

{% set title = "Section Metadata"|t %}

{% macro activeMetadataMessage() %}
	<span class="info">
		<div class="sprout-info-body">
			<p><i>{{ "A green icon indicates that a type of metadata has been setup."|t }}</i></p>

			<h6>{{ "Entry Metadata Status"|t }}</h6>
			<ul>
				<li><span class="sproutseo-icon icon-edit sproutseo-status-pass">&#xe805;</span> {{ "Element Metadata field added"|t }}</li>
			</ul>

			<p><i>{{ "An Element Metadata field will help ensure you have unique metadata on all content you publish."|t }}</i></p>

			<h6>{{ "Sitemap Status"|t }}</h6>
			<ul>
				<li><span class="sproutseo-icon icon-sitemap sproutseo-status-pass">&#xf0e8;</span> {{ "Sitemap setup"|t }}</li>
			</ul>

			<p><i>{{ "Display URLs for all content in this section in the XML Sitemap."|t }}</i></p>

			<h6>{{ "Section Metadata Status"|t }}</h6>
			<ul>
				<li><span class="sproutseo-icon icon-search sproutseo-status-pass">&#xe800;</span> {{ "Search metadata exists"|t }}</li>
				<li><span class="sproutseo-icon icon-facebook sproutseo-status-pass">&#xe802;</span> {{ "Open Graph metadata exists"|t }}</li>
				<li><span class="sproutseo-icon icon-twitter sproutseo-status-pass">&#xe807;</span> {{ "Twitter Card metadata exists"|t }}</li>
			</ul>

			<p><i>{{ "Display Section-specific metadata in Search and Social Sharing. Search and Social Sharing require a Title and Description. Social Sharing also requires an Image."|t }}</i></p>

		</div>
	</span>
{% endmacro %}

{% import _self as macro %}

{% block sectionMetadataTableRowHead %}

	<th style="padding-left:9px;width:35%">{{ name }} <span class="info">{{ "All of your " ~name~" that have unique URLs are listed here. Enable each "~name~" you want to include in your sitemap. Prepare fallback Metadata if any meta values are not present for content within the matching domain section. Identify the Main Entity schema you wish to match to this URL."|t }}</span></th>
	<th style="width:50%;">{{ "Handle"|t }} <span class="info">{{ "Reference your Section Metadata by adding the Custom Section handle to your templates."|t }}</span></th>
	<th style="width:15%;">
		{{ "Active Metadata?"|t }} {% if loop.index == 1 %}{{ macro.activeMetadataMessage() }}{% endif %}
	</th>
	<th class="thin"></th>

{% endblock %}

{% block sectionMetadataTableRow %}

	<td>
		{% include 'sproutseo/sections/_titlecolumn' %}
	</td>
	<td>
		{% if sectionMetadata.type %}
			<code>{{ sectionMetadata.type }}:{{ sectionMetadata.handle }}</code>
		{% else %}
			<em>{{ "Edit this section to create handle."|t }}</em>
		{% endif %}
	</td>
	<td>
		<div class="sprout-metadata-status" style="color:#ccc;">
			<span class="sproutseo-icon icon-search
			{% if craft.sproutSeo.hasActiveMetadata('search', sectionMetadata) %}sproutseo-status-pass{% endif %}">&#xe800;</span>
			<span class="sproutseo-icon icon-facebook
			{% if craft.sproutSeo.hasActiveMetadata('openGraph', sectionMetadata) %}sproutseo-status-pass{% endif %}">&#xe802;</span>
			<span class="sproutseo-icon icon-twitter
			{% if craft.sproutSeo.hasActiveMetadata('twitterCard', sectionMetadata) %}sproutseo-status-pass{% endif %}">&#xe807;</span>
			<span class="sproutseo-icon icon-edit {% if urlEnabledSection.hasElementMetadataField() %}sproutseo-status-pass{% endif %}">&#xe805;</span>
			<span class="sproutseo-icon icon-sitemap {% if sectionMetadata.enabled %}sproutseo-status-pass{% endif %}">&#xf0e8;</span>
		</div>
	</td>
	<td>
		{#@todo - find a better way to get the columns to be even. This tag is#}
		{#unnecessary aside from helping to style the table column widths evenly.#}
		<span style="display: inline-block;width:13px;"></span>
	</td>

{% endblock %}

{% block customSectionTableRowHead %}

	<th style="padding-left:9px;width:35%">{{ "Custom Sections"|t }} <span class="info">{{ "A Custom Section allows you to set a Custom URL that will display in your sitemap and create Section Metadata that you can reference in your templates using the Custom Section handle."|t }}</span></th>
	<th style="width:50%;">{{ "Handle"|t }} <span class="info">{{ "Reference your Section Metadata by adding the Custom Section handle to your templates."|t }}</span></th>
	<th style="width:15%;">{{ "Active Metadata?"|t }} {{ macro.activeMetadataMessage() }}</th>
	<th class="thin"></th>

{% endblock %}

{% block customSectionTableRow %}

	<td>
		{% include 'sproutseo/sections/_titlecolumn' with {
			sectionMetadata: customSection
		} %}
	</td>
	<td><code>sproutseo_section:{{ customSection.handle }}</code></td>
	<td>
		<div class="sprout-metadata-status" style="color:#ccc;">
			<span class="sproutseo-icon icon-search
			{% if craft.sproutSeo.hasActiveMetadata('search', customSection) %}sproutseo-status-pass{% endif %}">&#xe800;</span>
			<span class="sproutseo-icon icon-facebook
			{% if craft.sproutSeo.hasActiveMetadata('openGraph', customSection) %}sproutseo-status-pass{% endif %}">&#xe802;</span>
			<span class="sproutseo-icon icon-twitter
			{% if craft.sproutSeo.hasActiveMetadata('twitterCard', customSection) %}sproutseo-status-pass{% endif %}">&#xe807;</span>
			<span class="sproutseo-icon icon-sitemap {% if customSection.enabled %}sproutseo-status-pass{% endif %}">&#xf0e8;</span>
		</div>
	</td>
	<td class="thin">
		<a class="delete icon" title="{{ 'Delete'|t }}"></a>
	</td>

{% endblock %}