{% extends "_layouts/cp" %}

{% set title = craft.SproutSeo.name %}

{% set crumbs = [
  { 
    label: craft.sproutseo.name, 
    url: url('sproutseo/templates') 
  }
] %}

{# Only display these tabs at the top level #}
{% if craft.request.getSegment(3) == "" %}

{% set tabs = {
    templates: { 
      label: "Templates"|t,
      url: cpUrl('sproutseo/templates')
    },
    sitemap: { 
      label: "Sitemap"|t,
      url: cpUrl('sproutseo/sitemap'),
    }
} %}

{% endif %}


{% set content %}

  {{ body }}

  <br/>
  <footer class="bsd-branding">
    <p>
      Powered by <a href="http://barrelstrengthdesign.com" target="_blank">{{ craft.sproutseo.name }}</a> {{ craft.sproutseo.version }} | 
      Designed by <a href="http://barrelstrengthdesign.com" target="_blank">(Barrel Strength)</a>
    </p>
  </footer>

{% endset %}

{% set brandCss %}
  footer.bsd-branding {
    bottom:10px;
    color:#999;
    font-size:11px;
    position:absolute;
    right:30px;
  }
  footer.bsd-branding a {
    color:#999;
    font-weight:bold;
  }
{% endset %}

{% includeCss brandCss %}
