{% extends "sprout-seo/_layouts/elementindex" %}
{% set elementType = 'barrelstrength\\sproutseo\\elements\\Redirect' %}
{% set title = "Redirects" %}

{% do view.registerAssetBundle("barrelstrength\\sproutseo\\web\\assets\\redirects\\RedirectsAsset") %}

{% block actionButton %}
    <div class="buttons">
        <a class="btn submit add icon" id="sprout-seo-new-button"
           href="{{ url('sprout-seo/redirects/new/' ~ currentSite.handle) }}">{{ "New Redirect"|t }}</a>
    </div>
{% endblock %}

{% css %}
    .element.small.hasstatus,
    .sproutseo-elementindex-wrap
    {
    word-break: break-all;
    hyphens: auto;
    }
{% endcss %}

{% js %}
    $(document).ready(function() {
    new RedirectIndex();
    });
{% endjs %}
