{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'sitemap' %}

{% set title = "New Custom Page"|t %}

{% set crumbs = [
{ label: craft.sproutseo.name, url: url('sproutseo/defaults') },
{ label: "Sitemap"|t, url: url('sproutseo/sitemap') }
] %}

{% set priorityList = {
    '1.0': '1.0 ↑ Highest'|t,
    '0.9': '0.9',
    '0.8': '0.8',
    '0.7': '0.7',
    '0.6': '0.6',
    '0.5': '0.5',
    '0.4': '0.4',
    '0.3': '0.3',
    '0.2': '0.2',
    '0.1': '0.1',
    '0.0': '0.0 ↓ Lowest'|t
} %}

{% set frequencyList = {
    'always': 'Always'|t,
    'hourly': 'Hourly'|t,
    'daily': 'Daily'|t,
    'weekly': 'Weekly'|t,
    'monthly': 'Monthly'|t,
    'yearly': 'Yearly'|t,
    'never': 'Never'|t
} %}

{% set allSectionsWithUrls = craft.sproutSeo.getAllSectionsWithUrls() %}
{% set customPages = craft.sproutSeo.getAllCustomPages() %}

{% set body %}

<div class="grid first">
	<div class="item">
		<div class="pane">

			<form method="post" action="" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ craft.request.url }}">
				{{ getCsrfInput() }}
		    <input type="hidden" name="action" value="sproutSeo/sitemap/saveCustomPage">
		    <input type="hidden" name="redirect" value="sproutseo/sitemap">

				{{ forms.textField({
				  label: 'Custom URL'|t,
					name: 'url',
				  placeholder: "http://...",
				  errors: "",
				  required: true,
					first: true,
				}) }}

				{{ forms.selectField({
					label: 'Priority'|t,
				  name: 'priority',
				  options: priorityList,
				  value: (sitemap.priority is defined ? sitemap.priority : 0.5),
				  errors: "",
				  required: false
				}) }}

				{{ forms.selectField({
					label: 'Change Frequency'|t,
				  name: 'changeFrequency',
				  options: frequencyList,
				  value: (sitemap.changeFrequency is defined ? sitemap.changeFrequency : 'weekly'),
				  errors: "",
				  required: false
				}) }}

				{{ forms.checkboxField({
					label: 'Enabled'|t,
				  name: 'enabled',
				  errors: "",
				  checked: true,
				  required: true,
				}) }}

		    <div class="buttons">
		        <input type="submit" class="btn submit" value="{{ 'Add Custom Page'|t }}">
		    </div>

			</form>

			{% include 'sproutseo/_partials/brand/footer' %}

		</div>
	</div>
</div>

{% endset %}

{% includeJsResource "sproutseo/js/sitemap.js" %}

{% set js %}
    new Craft.SproutSeoSitemap();
{% endset %}

{% includeJs js %}
