{% extends "sproutseo/_layouts/sitemap" %}
{% import "_includes/forms" as forms %}

{% set title = "Sitemap Metadata"|t %}

{% set priorityList = {
	'1.0': '1.0 ↑ Highest'|t,
	'0.9': '0.9',
	'0.8': '0.8',
	'0.7': '0.7',
	'0.6': '0.6',
	'0.5': '0.5',
	'0.4': '0.4',
	'0.3': '0.3',
	'0.2': '0.2',
	'0.1': '0.1',
	'0.0': '0.0 ↓ Lowest'|t
} %}

{% set frequencyList = {
	'always': 'Always'|t,
	'hourly': 'Hourly'|t,
	'daily': 'Daily'|t,
	'weekly': 'Weekly'|t,
	'monthly': 'Monthly'|t,
	'yearly': 'Yearly'|t,
	'never': 'Never'|t
} %}

{% set pluginSettings = craft.sproutSeo.getSettings() %}
{% set customPages = craft.sproutSeo.getAllCustomPages() %}
{% set sitemaps    = craft.sproutSeo.getAllSitemaps() %}
{% set customNames = craft.sproutSeo.getAllCustomNames() %}

{% set extraPageHeaderHtml %}

{% endset %}

{% set body %}

	<div class="pane">

		<div class="header" style="display: flex;align-items: center;">
			<div style="flex-grow: 1;flex-">
				<h3 style="text-transform: uppercase;">URL-Enabled Sections</h3>
			</div>
		</div>

		{% for type, elementGroups in sitemaps %}

			{%set name = attribute(customNames, type) is defined ? attribute(customNames, type) :  type %}

			<table class="data fullwidth sitemap-settings">
				<thead>
					<th style="padding-left:9px;width:30%">{{ name }} <span class="info">{{ "All of your " ~name~" that have unique URLs are listed here.  Enable each "~name~" you want to include in your sitemap."|t }}</span></th>
					<th style="width:32%;">{{ "URL Pattern"|t }}</th>
					<th style="width:15%;">{{ "Priority"|t }} {% if loop.index == 1 %} <span class="info">{{ "The priority of this URL relative to other URLs on your site. Valid values range from 0.0 to 1.0. This value does not affect how your pages are compared to pages on other sites—it only lets the search engines know which pages you deem most important for the crawlers." }}</span>{% endif %}</th>
					<th style="width:15%;">{{ "Change Frequency"|t }} <span class="info">{{ "The value 'always' should be used to describe documents that change each time they are accessed. The value 'never' should be used to describe archived URLs." }}</span></th>
					<th style="width:8%;text-align: center;">{{ "Enabled"|t }} {% if loop.index == 1 %}<span class="info">{{ "Make the content in this section appear in your sitemap."|t }}</span>{% endif %}</th>
					<th class="thin"></th>
				</thead>
				<tbody>

				{#{% if loop.index == 1 %} <span class="info">{{ "The value 'always' should be used to describe documents that change each time they are accessed. The value 'never' should be used to describe archived URLs." }}</span>{% endif %}#}

				{% for elementGroup in elementGroups %}

					{% if elementGroup.name is defined %}
						{% set sitemap = null %}
						{% if elementGroup.settings is defined %}
							{% set sitemap = elementGroup.settings %}
						{% endif %}

						{% if sitemap.id is defined %}
							{% set sitemapId = sitemap.id %}
						{% else %}
						  {% set sitemapId = 'new-' ~ loop.index %}
						{% endif %}

						{# elementGroup => type- #}
						{% set sitemapId = type|lower~'-'~ sitemapId %}

						{% set groupInfo = {
							'groupName': elementGroup.name,
							'sitemapId': sitemapId,
							'elementGroupId': elementGroup.id
						} %}

						{% set metadataInfo = craft.sproutSeo.getSectionMetadataInfo(groupInfo) %}
						{% if metadataInfo.element %}
							<tr data-rowid="{{ sitemapId }}" data-type="section">
								<td>
									<strong style="display:inline-block;padding:7px 10px;">

										{% if elementGroup.settings is defined and elementGroup.settings.enabled %}
											<span class="status live"></span>
										{% else %}
											<span class="status disabled"></span>
										{% endif %}

										{{ elementGroup.name }}

										<input type="hidden" name="sproutseo[sitemap][{{ sitemapId }}][id]" value="{{ sitemapId }}">
										<input type="hidden" name="sproutseo[sitemap][{{ sitemapId }}][elementGroupId]" value="{{ elementGroup.id }}">

									</strong>
								</td>
								<td>
									{% if metadataInfo.element.urlFormat == '__home__' %}
										<span data-icon="home" title="Homepage"></span>
									{% else %}
										<code>{{ metadataInfo.element.urlFormat }}</code>
									{% endif %}
								</td>
								<td>
									{{ forms.selectField({
										name: 'sproutseo[sitemap][' ~ sitemapId ~ '][priority]',
										options: priorityList,
										value: (sitemap.priority is defined ? sitemap.priority : 0.5),
										errors: "",
										required: false
									}) }}
								</td>
								<td>
									{{ forms.selectField({
										name: 'sproutseo[sitemap][' ~ sitemapId ~ '][changeFrequency]',
										options: frequencyList,
										value: (sitemap.changeFrequency is defined ? sitemap.changeFrequency : 'weekly'),
										errors: "",
										required: false
									}) }}
								</td>
								<td style="text-align: center;">
									{{ forms.lightswitch({
										name: 'sproutseo[sitemap][' ~ sitemapId ~ '][enabled]',
										on: sitemap.enabled is defined and sitemap.enabled == 1 ? true : false,
										small: true
									}) }}
								</td>
								<td>
									{# @todo - find a better way to get the columns to be even. This tag is
									unnecessary aside from helping to style the table column widths evenly. #}
									<span style="display: inline-block;width:13px;"></span>
								</td>
							</tr>
						{% endif %}
					{% endif %}
				{% endfor %}
				</tbody>
			</table>

			<br>

		{% endfor %}

	</div>

	{% if pluginSettings.enableCustomSections %}

		{% if customPages|length %}

		<div class="pane">

			<div class="header" style="display: flex;align-items: center;">
				<div style="flex-grow: 1;flex-">
					<h3 style="text-transform: uppercase;">Custom Sections</h3>
				</div>
				<div style="flex-shrink: 0;">
					<div class="buttons right">
						<a class="btn submit add icon" href="{{ url('sproutseo/sections/new') }}">{{ "New section"|t }}</a>
					</div>
				</div>
			</div>

			<table class="data fullwidth sitemap-settings custom-pages" id="custom-pages">
				<thead>
					<th style="padding-left:9px;width:30%">{{ "Custom Sections"|t }} <span class="info">{{ "Add any Custom URLs you wish to appear in your sitemap here." }}</span></th>
					<th style="width:32%;">{{ "URL Pattern"|t }}</th>
					<th style="width:15%;">{{ "Priority"|t }}</th>
					<th style="width:15%;">{{ "Change Frequency"|t }}</th>
					<th style="width:8%;text-align: center;">{{ "Enabled"|t }}</th>
					<th class="thin"></th>
				</thead>
				<tbody>

					{% for page in customPages %}
						{% set sitemapId = "customUrl-"~page.id %}

						<tr data-rowid="{{ sitemapId }}" data-id="{{ page.id }}" data-name="{{ page.url }}">
							<td>
								<div style="display:inline-block;padding:7px 0 7px 10px;">
								{% if (page.enabled is defined and page.enabled == 1) %}
									<span class="status live"></span>
								{% else %}
									<span class="status disabled"></span>
								{% endif %}
								</div>

								<input type="hidden" name="sproutseo[sitemap][{{ sitemapId }}][id]" value="{{ sitemapId }}">

								<strong>{{ page.title }}</strong>

							</td>
							<td>
								<code>
									{{ page.url }}
								</code>
							</td>
							<td>
								{{ forms.selectField({
									name: 'sproutseo[sitemap][' ~ sitemapId ~ '][priority]',
									options: priorityList,
									value: (page.priority is defined ? page.priority : 0.5),
									errors: "",
									required: false
								}) }}
							</td>
							<td>
								{{ forms.selectField({
									name: 'sproutseo[sitemap][' ~ sitemapId ~ '][changeFrequency]',
									options: frequencyList,
									value: (page.changeFrequency is defined ? page.changeFrequency : 'weekly'),
									errors: "",
									required: false
								}) }}
							</td>
							<td style="text-align: center;">
								{{ forms.lightswitch({
									name: 'sproutseo[sitemap][' ~ sitemapId ~ '][enabled]',
									on: page.enabled is defined and page.enabled == 1 ? true : false,
									small: true
								}) }}
							</td>
							<td>
								<a class="delete icon" title="Delete"></a>
							</td>
						</tr>

					{% endfor %}

				</tbody>
			</table>

		</div>

		{% endif %}

	{% endif %}

	<style type="text/css">
	/*.sitemap-custom-url:focus {*/
		/*border: 1px solid rgba(0, 0, 0, 0.15);*/
		/*padding: 6px 4px;*/
		/*outline: none;*/
	/*}*/
	/*.sitemap-custom-url {*/
		/*display: inline-block;*/
		/*margin-left:-4px;*/
		/*width: 85%;*/
		/*border: none;*/
		/*padding: 7px 5px;*/
		/*background: #fff;*/
		/*overflow: hidden;*/
	/*}*/
	.sitemap-settings {
		margin-top: 30px;
	}
	.sitemap-settings:first-of-type {
		margin-top: 0;
	}
	.sitemap-settings:last-of-type {
		margin-bottom: 30px;
	}
	</style>

{% endset %}

{% includeJsResource "sproutseo/js/sitemap.js" %}

{% set js %}
	new Craft.SproutSeoSitemap();

	new Craft.AdminTable({
		tableSelector: '#custom-pages',
		deleteAction: 'sproutSeo/metadata/deleteSectionMetadataById',
		onDeleteObject: function(id)
		{
			if($('#custom-pages').find('tbody').find('tr').size() == 0)
			{
				$('#custom-pages').hide();
			}
		}
	});
{% endset %}

{% includeJs js %}
