{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Sitemap"|t %}

{% set crumbs = [
	{ label: craft.sproutseo.name, url: url('sproutseo/defaults') },
	{ label: "Sitemap"|t, url: url('sproutseo/sitemap') }
] %}

{% set tabs = {
	defaults: {
		label: "Defaults"|t,
		url: cpUrl('sproutseo/defaults')
	},
	sitemap: {
		label: "Sitemap"|t,
		url: cpUrl('sproutseo/sitemap'),
	},
	redirect: {
		label: "Redirects"|t,
		url: cpUrl('sproutseo/redirects'),
	}
} %}

{% set selectedTab = 'sitemap' %}

{% set priorityList = {
	'1.0': '1.0 ↑ Highest'|t,
	'0.9': '0.9',
	'0.8': '0.8',
	'0.7': '0.7',
	'0.6': '0.6',
	'0.5': '0.5',
	'0.4': '0.4',
	'0.3': '0.3',
	'0.2': '0.2',
	'0.1': '0.1',
	'0.0': '0.0 ↓ Lowest'|t
} %}

{% set frequencyList = {
	'always': 'Always'|t,
	'hourly': 'Hourly'|t,
	'daily': 'Daily'|t,
	'weekly': 'Weekly'|t,
	'monthly': 'Monthly'|t,
	'yearly': 'Yearly'|t,
	'never': 'Never'|t
} %}

{% macro isSelected(target) %}
	{% if target %}checked="checked"{% endif %}
{% endmacro %}
{% import _self as checkbox %}

{% set allSectionsWithUrls = craft.sproutSeo.getAllSectionsWithUrls() %}
{% set customPages = craft.sproutSeo.getAllCustomPages() %}

{% block main %}

<div class="grid first">
	<div class="item">
		<div class="pane">

			{% if tabs is defined and tabs %}
				{% include "_includes/tabs" %}
			{% endif %}

<form method="post" action="" accept-charset="UTF-8">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="sproutSeo/sitemap/saveSitemap">
	<input type="hidden" name="redirect" value="sproutseo/sitemap">

	<h2>Sections</h2>

	<table class="data fullwidth sitemap-settings">
		<thead>
			<th style="padding-left:9px;width:50%">{{ "Section"|t }} <span class="info">{{ "All of your sections that have unique URLs are listed here.  Enable each section you want to include in your sitemap."|t }}</span></th>
			<th style="width:15%;">{{ "Priority"|t }} <span class="info">{{ "The priority of this URL relative to other URLs on your site. Valid values range from 0.0 to 1.0. This value does not affect how your pages are compared to pages on other sites—it only lets the search engines know which pages you deem most important for the crawlers." }}</span></th>
			<th style="width:15%;">{{ "Change Frequency"|t }} <span class="info">{{ "The value 'always' should be used to describe documents that change each time they are accessed. The value 'never' should be used to describe archived URLs." }}</span></th>
			<th style="width:8%;text-align: center;">{{ "Enabled"|t }} <span class="info">{{ "Make the content in this section appear in your sitemap."|t }}</span></th>
			{# <th style="width:8%;text-align: center;">{{ "Ping on Save"|t }} <span class="info">{{ "Each time an entry in
			this section is saved, ping the services that you selected <a href=" ~ cpUrl('sproutseo/settings#settings-sitemap') ~ "> sitemap settings</a> will be notified."|t }}</span></th> #}
			<th class="thin"></th>
		</thead>
		<tbody>

		{% for section in allSectionsWithUrls %}

			{% set sitemap = null %}
			{% if section.settings is defined %}
				{% set sitemap = section.settings %}
			{% endif %}

			{% if sitemap.id is defined %}
				{% set sitemapId = sitemap.id %}
			{% else %}
			  {% set sitemapId = 'new-' ~ loop.index %}
			{% endif %}

			<tr data-rowid="{{ sitemapId }}">
				<td>
					<strong style="display:inline-block;padding:7px 10px;">
						{% if (sitemap.enabled is defined and sitemap.enabled == 1) %}
							<span class="status live"></span>
						{% else %}
							<span class="status disabled"></span>
						{% endif %}
						{{ section.name }}


						<input type="hidden" name="sitemap_fields[{{ sitemapId }}][id]" value="{{ sitemapId }}">
						<input type="hidden" name="sitemap_fields[{{ sitemapId }}][sectionId]" value="{{ section.id }}">

					</strong>
				</td>
				<td>
					{{ forms.selectField({
						name: 'sitemap_fields[' ~ sitemapId ~ '][priority]',
						options: priorityList,
						value: (sitemap.priority is defined ? sitemap.priority : 0.5),
						errors: "",
						required: false
					}) }}
				</td>
				<td>
					{{ forms.selectField({
						name: 'sitemap_fields[' ~ sitemapId ~ '][changeFrequency]',
						options: frequencyList,
						value: (sitemap.changeFrequency is defined ? sitemap.changeFrequency : 'weekly'),
						errors: "",
						required: false
					}) }}
				</td>
				<td style="text-align: center;">
					<input type="checkbox" name="sitemap_fields[{{ sitemapId }}][enabled]" {{ checkbox.isSelected((sitemap.enabled is defined and sitemap.enabled == 1) ? true : false) }}>
				</td>
				{# <td style="text-align: center;">
					<input type="checkbox" name="sitemap_fields[{{ sitemapId }}][ping]" {{ checkbox.isSelected((sitemap.ping is defined and sitemap.ping == 1) ? true : false) }} {% if (sitemap.enabled is defined and sitemap.enabled == 0) or (sitemap.enabled is not defined) %}disabled{% endif %}>
				</td> #}
				<td></td>
			</tr>

		{% endfor %}

		</tbody>
	</table>

	<br>
	<hr>

	<h2 class="first">{{ "Custom Pages"|t }} </h2>

		{% if customPages|length %}

		<table class="data fullwidth sitemap-settings custom-pages" id="custom-pages">
			<thead>
				<th style="padding-left:9px;width:50%">{{ "Custom URL"|t }} <span class="info">{{ "Add any Custom URLs you wish to appear in your sitemap here." }}</span></th>
				<th style="width:15%;">{{ "Priority"|t }}</th>
				<th style="width:15%;">{{ "Change Frequency"|t }}</th>
				<th style="width:8%;text-align: center;">{{ "Enabled"|t }}</th>
				{# <th style="width:8%;"></th> #}
				<th class="thin"></th>
			</thead>
			<tbody>

			{% for page in customPages %}

			<tr data-rowid="{{ page.id }}" data-id="{{ page.id }}" data-name="{{ page.url }}">
				<td>
					<div style="display:inline-block;padding:7px 0 7px 10px;">
					{% if (page.enabled is defined and page.enabled == 1) %}
						<span class="status live"></span>
					{% else %}
						<span class="status disabled"></span>
					{% endif %}
					</div>

					<input type="hidden" name="sitemap_fields[{{ page.id }}][id]" value="{{ page.id }}">

					<input type="text" name="sitemap_fields[{{ page.id }}][url]" placeholder="{{ siteUrl }}custom" value="{{ page.url }}" class="sitemap-custom-url">
				</td>
				<td>
					{{ forms.selectField({
						name: 'sitemap_fields[' ~ page.id ~ '][priority]',
						options: priorityList,
						value: (page.priority is defined ? page.priority : 0.5),
						errors: "",
						required: false
					}) }}
				</td>
				<td>
					{{ forms.selectField({
						name: 'sitemap_fields[' ~ page.id ~ '][changeFrequency]',
						options: frequencyList,
						value: (page.changeFrequency is defined ? page.changeFrequency : 'weekly'),
						errors: "",
						required: false
					}) }}
				</td>
				<td style="text-align: center;">
					<input type="checkbox" name="sitemap_fields[{{ page.id }}][enabled]" {{ checkbox.isSelected((page.enabled is defined and page.enabled == 1) ? true : false) }}>
				</td>
				{# <td></td> #}
				<td>
					<a class="delete icon" title="Delete"></a>
				</td>
			</tr>

			{% endfor %}

		{% else %}

		<p>Add your first custom page.</p>

		{% endif %}

		</tbody>
	</table>

	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutseo/sitemap/newPage') }}">New Custom Page</a>
	</div>


	</form>

	{% include 'sproutseo/_partials/brand/footer' %}

	<style type="text/css">
	.sitemap-custom-url:focus {
		border: 1px solid rgba(0, 0, 0, 0.15);
		padding: 6px 4px;
		outline: none;
	}
	.sitemap-custom-url {
		display: inline-block;
		margin-left:-4px;
		width: 85%;
		border: none;
		padding: 7px 5px;
		background: #fff;
		overflow: hidden;
	}
	</style>

		</div>
	</div>
</div>

{% endblock %}

{% includeJsResource "sproutseo/js/sitemap.js" %}

{% set js %}
	new Craft.SproutSeoSitemap();

	new Craft.AdminTable({
		tableSelector: '#custom-pages',
		deleteAction: 'sproutSeo/sitemap/deleteCustomPage',
		onDeleteObject: function(id)
		{
			if($('#custom-pages').find('tbody').find('tr').size() == 0)
			{
				$('#custom-pages').show();
				$('#custom-pages').find('tbody').html('<tr id="no-sproutseo-results"><td colspan="4"><p>Add your first custom page.</p></td></tr>');
			}
		}
	});
{% endset %}

{% includeJs js %}
