{% extends "sproutseo/_layouts/sitemap" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.sproutSeo.getSettings() %}

{% set content %}

<h2>Your Sitemap Template</h2>

  <p class="instructions">This is the template where your sitemap file will be saved.</p>

  <p><input type="text" style="width:96%;padding:10px;" name="sitemapTemplate" value="" placeholder="sitemap.xml"></p>

  {#{{ settings.sitemapTemplate }}#}


  <h2>Services to Ping</h2>

  {% set pingServices = {
    'ask'   : 'Ask.com',
    'baidu' : 'Baidu',
    'bing'  : 'Bing/Yahoo',
    'google': 'Google',
    'yandex': 'Yandex',
  } %}

  {{ forms.checkboxSelectField({
    name: 'pingServices',
    options: [],
    values: ''
  }) }}

  {#pingServices#}
  {#(settings.pingServices is defined ? settings.pingServices : '')#}

{% endset %}