{%- if type == 'full' %}
<?xml version="1.0" encoding="UTF-8"?>
{# Spacing and new lines are for pretty XML output #}
{# @todo Review XML validation because when the xml:link is used, it doesn't validate #}
{% endif -%}
{%- if entries is iterable %}
{%- if type == 'full' %}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{% endif -%}
	{% for entry in entries %}
	<url>
		<loc>{{ entry.url }}</loc>
		<lastmod>{{ entry.modified }}</lastmod>
		<changefreq>{{ entry.frequency }}</changefreq>
		<priority>{{ entry.priority }}</priority>
{% if entry.alternates is defined and entry.alternates|length %}{% for alternate in entry.alternates %}
		<xhtml:link rel="alternate" hreflang="{{ alternate.locale }}" href="{{ alternate.url }}" />
{% endfor %}
{% endif %}		
	</url>
{% endfor %}
{%- if type == 'full' %}
</urlset>
{% endif -%}
{% endif -%}
