{% extends "sproutseo/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'redirect' %}
{% set body %}
	<h2> {{ subTitle }} </h2>
	<form
		method="post"
		accept-charset="UTF-8"
		data-saveshortcut="1"
		data-saveshortcut-redirect="{{ continueEditingUrl }}">
		<input type="hidden" name="action" value="sproutSeo/redirects/saveRedirect">
		<input type="hidden" name="redirect" value="sproutseo/redirects">
		<input type="hidden" name="redirectId" value="{{ redirect.id }}">
		{% if redirect.id %}<input type="hidden" name="redirectId" value="{{ redirect.id }}">{% endif %}
		{#{% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ event.locale }}">{% endif %} #}
		<div style = "width:100%; display:inline-block;">
			<div style = "width:60%; display:inline-block;">
				{{ forms.textField({
					label: "Old Url"|t,
					id: 'oldUrl',
					name: 'oldUrl',
					value:  redirect.oldUrl,
					errors: redirect.getErrors('oldUrl'),
					first: true,
					autofocus: true,
					required: true,
					size: 95
				}) }}
			</div>
			<div style = "width:35%; display:inline-block;">
				{{  forms.lightswitchField({
					label: "Regular expression"|t,
					id: 'regex',
					name: 'regex',
					instructions: "Old Url example: /\&#92;/blog\&#92;/(.\&#42;)/ <br>New Url example: newBlog/$1",
					value: redirect.regex,
					on: (redirect.regex is defined) ? redirect.regex : ""
				}) }}
			</div>
		</div>

		{{ forms.textField({
			label: "New Url"|t,
			id: 'newUrl',
			name: 'newUrl',
			value:  redirect.newUrl,
			errors: redirect.getErrors('newUrl'),
			autofocus: true,
			required: true,
			size: 95
		}) }}

		{{ forms.selectField({
			label:  'Method'|t,
			id: 'method',
			name: 'method',
			instructions:   'Choose a status code.'|t,
			value:		redirect.method,
			options:	methodOptions,
			errors:   redirect.getErrors('method'),
		}) }}

		<div class="buttons">
			<div class="btngroup submit first">
				<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
				<div class="btn submit menubtn"></div>
				<div class="menu">
					<ul>
						<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
						<li><a class="formsubmit" data-redirect="sprout/redirects/new">{{ "Save and add another"|t }}</a></li>
					</ul>
				</div>
			</div>
			{% if redirect.id  %}
			<input type="button" class="btn formsubmit" value="{{ 'Delete'|t }}" data-action="redirects/deleteEvent"
				data-confirm="{{ 'Are you sure you want to delete this redirect?'|t }}"
				data-redirect="redirects">
			{% endif %}
		</div>
	</form>
{% endset %}
