{% extends "sproutseo/_layout" %}
{% import "_includes/forms" as forms %}

{% set body %}

<style>
.included-fields {
	color: #999;
}
</style>
<table class="data" id="fallbacks">
	<thead>
		<th width="15%">Name</th>
		<th width="15%">Handle</th>
		<th width="70%"></th>
		<td class="thin"></td>
	</thead>
	{% set fallbacks = craft.sproutSeo.allFallbacks %}

	{% if fallbacks is empty %}
		<tr id="no-sproutseo-results">
			<td colspan="4">No results found.</td>
		</tr>
	{% else %}	
		{% for fallback in fallbacks %}
		<tr id="results" data-id="{{ fallback.id }}" data-name="{{ fallback.name|t }}">
			<td>
				<a href="{{ fallback.editUrl }}">
					<strong>{{ fallback.name }}</strong>
				</a>
			</td>
			<td><code>{{ fallback.handle }}</code></td>
			<td class="included-fields">
				
			</td>
			<td class="thin">
				<a class="delete icon" title="Delete"></a>
			</td>
		</tr>
		{% endfor %}	
	{% endif %}
</table>

<div class="buttons">
	<a class="btn submit add icon" href="{{ url('sproutseo/fallbacks/new') }}">New Fallback Template</a>
</div>

{% endset %}

{% set js %}
	new Craft.AdminTable({
		tableSelector: '#fallbacks',
		deleteAction: 'sproutseo/seoData/deleteFallbacks',
		onDeleteObject: function(id)
		{
			if($('#fallbacks').find('tbody').find('tr').size() == 0)
			{
				$('#fallbacks').show();
				$('#fallbacks').find('tbody').html('<tr id="no-sproutseo-results"><td colspan="4">No results found.</td></tr>');
			}
		}
	});
{% endset %}
{% includeJs js %}