{% import "_includes/forms" as forms %}

{% set pluginSettings = craft.sproutSeo.getSettings() %}

<div class="sproutseo-box-optimized">
	{% set customizationSettings = values.getCustomizationSettings() %}

	{{ forms.hidden({
		name: 'sproutseo[metadata][customizationSettings]',
		id: 'customizationSettings',
		value: customizationSettings|json_encode,
		errors: "",
	}) }}

	{% if settings.optimizedTitleField == 'manually' %}

		{% set appendTitleValueInstructions = " <a href='#' class='fieldtoggle instructionstoggle' data-target='toggle-appendtitlevalue'>Append dynamic value to Meta Titles</a>."|t %}

		{{ forms.textField({
			label: "Optimized Meta Title"|t,
			instructions: "The Title of your content which will appear in search results and social sharing."|t ~ (fieldContext == 'metaTagGroups' ? appendTitleValueInstructions : ""),
			name: 'sproutseo[metadata][optimizedTitle]',
			id: 'sproutseo-optimizedtitle',
			maxlength: 60,
			showCharsLeft: true,
			value: values.title,
			errors: "",
			placeholder: siteName,
			class: 'nicetext',
			first: true
		}) }}

	{% endif %}

	{% if fieldContext == 'metaTagGroups' %}
		<div id="toggle-appendtitlevalue" class="{{ (values['appendTitleValue'] is defined and values.appendTitleValue ?:
		'hidden' ) }}">
			{{ forms.textField({
				label: "Appended Meta Title"|t,
				instructions: "Append a custom value at the end of all Meta Titles in this Metadata Group, i.e. <i>Article Title - " ~ siteName ~ "</i>. This setting overrides the <a href='" ~ cpUrl('sproutseo/globals/customization') ~ "'>default setting</a> and will apply to all titles within this Metadata Group."|t,
				name: 'sproutseo[metadata][appendTitleValue]',
				value: values.appendTitleValue ?? null,
				placeholder: 'Keywords {divider} {siteName}',
				errors: '',
				class: 'nicetext'
			}) }}
		</div>
	{% endif %}

	{% if settings.optimizedDescriptionField == 'manually' %}
		{{ forms.textareaField({
			label: "Optimized Meta Description"|t,
			instructions: "A description of your content which will appear in search results and social sharing."|t,
			name: 'sproutseo[metadata][optimizedDescription]',
			maxlength: 160,
			showCharsLeft: true,
			id: 'sproutseo-optimizeddescription',
			value: values.description,
			errors: "",
			placeholder: "The official website of " ~ siteName
		}) }}
	{% endif %}

	{% if settings.optimizedImageField == 'manually' %}
		{{ forms.field({
			label: 'Optimized Meta Image'|t,
			instructions: 'A featured image that represents your content that will display in social sharing.'|t,
			id: 'sproutseo-optimizedimage',
		}, forms.elementSelect({
			elements: metaImageElements,
			sourceElementId: [values.optimizedImage],
			elementType: elementType,
			id: 'optimizedImage',
			name: 'sproutseo[metadata][optimizedImage]',
			jsClass: 'Craft.AssetSelectInput',
			addButtonLabel: 'Select Image'|t,
			limit: 1,
			criteria: {"localeEnabled":null}
		})) }}
	{% endif %}

	{% if settings.optimizedKeywordsField == 'manually' %}
		{% set keywordsValue = values['keywords'] is defined ? values.keywords : null %}

		{{ forms.textField({
			label: "Optimized Meta Keywords"|t,
			instructions: "The primary keywords or phrases that describe your website."|t,
			id: 'sproutseo-optimizedkeywords',
			name: 'sproutseo[metadata][optimizedKeywords]',
			value: keywordsValue,
			errors: ''
		}) }}
	{% endif %}

	{% if fieldContext == 'field' and pluginSettings.advancedCustomization and settings.showMainEntity %}
		{% set schemaMaps = craft.sproutSeo.getSchemaMapsArray() %}

		{{ forms.selectField({
			label: 'Main Entity'|t,
			instructions: 'Map the primary element that displays on this page to a Structured Data schema. Select a basic or custom mapping.'|t,
			id: 'sproutseo-mainentity',
			name: 'sproutseo[metadata][schemaMap]',
			options: schemaMaps,
			value: values.schemaMap,
			errors: "",
			required: false
		}) }}
	{% endif %}

</div>

{% if fieldContext == 'field' %}
	{% if settings.displayPreview %}
		<ul class="sproutseo-preview-btns">
			<li class="selected">Search</li>
			<li>Facebook</li>
			<li>Twitter</li>
		</ul>

		{% include 'sproutseo/_fieldtypes/optimize/previews/search' %}

		{#{% include 'sproutseo/_fieldtypes/optimize/previews/opengraph' %}#}

		{#{% include 'sproutseo/_fieldtypes/optimize/previews/twittercard' %}#}

	{% endif %}
{% endif %}

{% if fieldContext == 'field' and pluginSettings.advancedCustomization  %}

	{% if settings.showBasicMeta or settings.showGeo or settings.showRobots or settings.showOpenGraph or settings.showTwitter %}
		{% set advancedSeoButtons %}
			<div class="buttons">
				<div id="btngroup" class="btngroup sproutseo-advancedoption-btns">

					{% if settings.showBasicMeta %}
						<div class="btn" id="btn-basicMeta" data-type="basicMeta"><i class="sproutseo-icon icon-search">&#xe800;</i> Search Meta</div>
					{% endif %}

					{% if settings.showOpenGraph %}
						<div class="btn" id="btn-openGraph" data-type="openGraph"><i class="sproutseo-icon icon-facebook">&#xe802;</i> Open Graph</div>
					{% endif %}

					{% if settings.showTwitter %}
						<div class="btn" id="btn-twitterCard" data-type="twitterCard"><i class="sproutseo-icon icon-twitter">&#xe801;</i> Twitter Card</div>
					{% endif %}

					{% if settings.showGeo %}
						<div class="btn" id="btn-geo" data-type="geo"><i class="sproutseo-icon icon-location">&#xe803;</i> Geo</div>
					{% endif %}

					{% if settings.showRobots %}
						<div class="btn" id="btn-robots" data-type="robots"><i class="sproutseo-icon icon-robots">&#xe806;</i> Robots</div>
					{% endif %}

				</div>
				<div class="btn add icon menubtn hidden">Add a block</div>
			</div>
		{% endset %}

		{{ forms.field({
			label: 'SEO Optimization'|t,
			instructions: 'If you have more specific SEO needs, you can further customize your meta data with the following fields.'|t,
			id: 'sproutseo-advancedcustomizationfields',
		}, advancedSeoButtons) }}
	{%endif%}



	<div class="matrix matrix-field sproutseo-matrixfields" style="position: relative;">

		<div class="blocks">

			<div class="matrixblock fields-basicMeta"
				{% if customizationSettings.basicMetaMetadataGroupEnabled == 0 or not settings.showBasicMeta %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-search">&#xe800;</i> Search Meta</div>
				</div>

				{% include 'sproutseo/_partials/fields/input' %}


			</div>

			<div class="matrixblock fields-openGraph"
				{% if customizationSettings.openGraphMetadataGroupEnabled == 0 or not settings.showOpenGraph %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-facebook">&#xe802;</i> Open Graph</div>
				</div>

				{% include 'sproutseo/_partials/fields/open-graph' %}


			</div>

			<div class="matrixblock fields-twitterCard"
				{% if customizationSettings.twitterCardMetadataGroupEnabled == 0 or not settings.showTwitter %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-twitter">&#xe801;</i> Twitter Card</div>
				</div>

				{% include 'sproutseo/_partials/fields/twitter-card' %}

			</div>
			<div class="matrixblock fields-geo"
				{% if customizationSettings.geoMetadataGroupEnabled == 0 or not settings.showGeo %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-location">&#xe803;</i> Geo</div>
					<div class="preview"></div>
				</div>

				{% include 'sproutseo/_partials/fields/geo' %}

			</div>

			<div class="matrixblock fields-robots"
				{% if customizationSettings.robotsMetadataGroupEnabled == 0 or not settings.showRobots %} style="display:none;" {% endif %}
			>

				<div class="titlebar">
					<div class="blocktype"><i class="sproutseo-icon icon-robots">&#xe806;</i> Robots</div>
				</div>

				{% set robotsNamespace = 'metadata' %}
				{% include 'sproutseo/_partials/fields/robots' %}

			</div>

		</div>

	</div>

{% endif %}

<style>
	{# Hide the Heading of our Field so all our grouped sub-fields
feel like they are part of the natural flow of fields #}
	{% if fieldId is defined %}
	#{{ fieldId }} > .heading:first-of-type { display: none; }
	{% endif %}
</style>


{% includeCssResource "sproutseo/css/preview.css" %}
{% includeCssResource "sproutseo/css/fields.css" %}
{% includeJsResource "sproutseo/js/open-graph.js" %}
{% includeJsResource "sproutseo/js/twitter-card.js" %}

{% includeCssResource "sproutseo/css/jquery.tag-editor.css" %}
{% includeJsResource  "sproutseo/js/jquery.caret.min.js" %}
{% includeJsResource  "sproutseo/js/jquery.tag-editor.min.js" %}

{% includejs %}

	$( document ).ready(function() {

		function getScenario()
		{
			if ($("input[name='fields[sproutseo][metadata][customizationSettings]']").length)
			{
				return $("input[name='fields[sproutseo][metadata][customizationSettings]']");
			}
			else
			{
				return $("input[name='sproutseo[metadata][customizationSettings]']");
			}
		}

		function getCustomizationSettings()
		{
			return $.parseJSON(getScenario().val());
		}

		function setCustomizationSettings(values)
		{
			var value = JSON.stringify(values);
			getScenario().val(value);
		}

		function toggleActive(div, divId)
		{
			var customizationSettings = getCustomizationSettings();

			if (div.hasClass("active"))
			{
				customizationSettings[divId+"MetadataGroupEnabled"] = 0;
				div.removeClass("active");
				setCustomizationSettings(customizationSettings);
			}
			else
			{
				customizationSettings[divId+"MetadataGroupEnabled"] = 1;
				div.addClass("active");
				setCustomizationSettings(customizationSettings);
			}
		}

		$('#keywords-field input, #fields-keywords-field input').tagEditor({
			animateDelete: 20
		});

		$(".sproutseo-advancedoption-btns div").click(function()
		{
			var divId = $(this).attr("data-type");
			$(".fields-"+divId).toggle();

			// Metadata Group Settings
			var btn = $("#btn-"+divId);
			if (btn.length)
			{
				toggleActive(btn, divId);
			}

			// Optimize Field Settings
			var fieldsBtn = $("#fields-btn-"+divId);
			if (fieldsBtn.length)
			{
				toggleActive(fieldsBtn, divId);
			}

			return false; // avoid parents divs if you have nested divs
		});

		// Checking active class
		var fields = ["basicMeta","openGraph","geo","robots","twitterCard"];
		var customizationSettings = getCustomizationSettings();

		for (var i = 0; i < fields.length; i++)
		{
			if(customizationSettings[fields[i]+"MetadataGroupEnabled"]==1)
			{
				$("#btn-"+fields[i]).addClass("active");
				// Optimize Field Settings
				$("#fields-btn-"+fields[i]).addClass("active");
			}
		}

		{# @todo - Add an [seo] flag to all SEO-related fields. Possibly add a #}
		{#HUD with info on what the cascade and priority and actual value that #}
		{#will be output will be#}

		function updateLocaleBadge(value, target)
		{
			if (value == '')
			{
				$(target).css('color', '#ffffff');
				$(target).css('background-color', '#da5a47');

				{#$(target).css('color', '#8f98a3');#}
				{#$(target).css('background-color', '#ebedef');#}
			}
			else
			{
				$(target).css('color', '#8f98a3');
				$(target).css('background-color', '#ebedef');

				{#$(target).css('color', '#ffffff');
				$(target).css('background-color', '#27AE60');#}
			}
		}

		function appendSeoBadge(fieldId)
    {
			var labelId = '#fields-' + fieldId + '-label';

			$(labelId).append(seoButton);
		}

		function addSeoBadgeListener(fieldId)
		{
			var spanId = '#fields-' + fieldId + '-label span.sproutseo.locale';
			var fieldInput = '#fields-' + fieldId + '-field input';
			var fieldTextarea = '#fields-' + fieldId + '-field textarea';
			var fieldSelect = '#fields-' + fieldId + '-field select';
			var fieldElementSelect = '#fields-' + fieldId + '-field input';

			$(fieldInput).on('keyup', function() {
				updateLocaleBadge($(this).val(), spanId);
			});

			$(fieldTextarea).on('keyup', function() {
				updateLocaleBadge($(this).val(), spanId);
			});

			$(fieldSelect).on('change', function() {
				updateLocaleBadge($(this).val(), spanId);
			});

			$(fieldElementSelect).eq(1).on('change', function() {
				alert('waa');
				updateLocaleBadge($(this).val(), spanId);
			});
		}

		function initSeoBadge(fieldId)
		{
			var spanId = '#fields-' + fieldId + '-label span.sproutseo.locale';
			var fieldInput = '#fields-' + fieldId + '-field input';
			var fieldTextarea = '#fields-' + fieldId + '-field textarea';
			var fieldSelect = '#fields-' + fieldId + '-field select';
			var fieldElementSelect = '#fields-' + fieldId + '-field .elementselect';

			if ($(fieldInput).length && $(fieldInput).val() != '')
			{
				updateLocaleBadge($(fieldInput).val(), spanId);
			}

			if ($(fieldTextarea).length && $(fieldTextarea).val() != '')
			{
				updateLocaleBadge($(fieldTextarea).val(), spanId);
			}

			if ($(fieldSelect).length && $(fieldSelect).val() != '')
			{
				updateLocaleBadge($(fieldSelect).val(), spanId);
			}

			if ($(fieldElementSelect).length &&
          $(fieldElementSelect).find('.elements').children().length > 0)
			{
				updateLocaleBadge(true, spanId);
			}
		}

		var seoButton = '<span class="sproutseo locale">seo</span>';
		var seoFieldIds = [];
		var seoLabels = [];
		var seoInputs = [];

		seoFieldIds.push('sproutseo-mainentity');
		seoFieldIds.push('sproutseo-advancedcustomizationfields');

		{% if settings.optimizedTitleField == 'elementTitle' %}
			var spanId = '#title-label span.sproutseo.locale';
			var titleId = '#title-label';
			var titleInput = '#title-field input';

			$(titleId).append(seoButton);

			$('#title-field input').on('keyup', function() {
				updateLocaleBadge($(this).val(), '#title-label span.sproutseo.locale');
			});

			if ($(titleInput).val() != '')
			{
				updateLocaleBadge($(titleInput).val(), spanId);
			}
		{% endif %}

		{% if settings.optimizedTitleField == 'manually' %}
			seoFieldIds.push('sproutseo-optimizedtitle');
		{% endif %}

		{% if settings.optimizedDescriptionField == 'manually' %}
			seoFieldIds.push('sproutseo-optimizeddescription');
		{% endif %}

		{% if settings.optimizedImageField == 'manually' %}
			seoFieldIds.push('sproutseo-optimizedimage');
		{% endif %}

		{% if settings.optimizedKeywordsField == 'manually' %}
			seoFieldIds.push('sproutseo-optimizedkeywords');
		{% endif %}

		{% set optimizedTitleFieldModel = craft.fields.getFieldById(settings.optimizedTitleField) %}
		{% if optimizedTitleFieldModel %}
			seoFieldIds.push('{{ optimizedTitleFieldModel.handle }}');
		{% endif %}

		{% set optimizedDescriptionFieldModel = craft.fields.getFieldById(settings.optimizedDescriptionField) %}
		{% if optimizedDescriptionFieldModel %}
			seoFieldIds.push('{{ optimizedDescriptionFieldModel.handle }}');
		{% endif %}

		{% set optimizedImageFieldModel = craft.fields.getFieldById(settings.optimizedImageField) %}
		{% if optimizedImageFieldModel %}
			seoFieldIds.push('{{ optimizedImageFieldModel.handle }}');
		{% endif %}

		$.each(seoFieldIds, function(key, value) {
			appendSeoBadge(value);
			addSeoBadgeListener(value);
			initSeoBadge(value);
		});

		{#new Garnish.HUD(mainEntityLabel, "<div>[red] no meta values exist. [orange] global or metadata group values exist [grey] unique metadata at the element level exists.</div>");#}

	});

	new Craft.SproutSeoOpenGraph();
	new Craft.SproutSeoTwitterCard();
{% endincludejs %}





