{% import "_includes/forms" as forms %}

		<div class="sproutseo-box-optimized">

			{% if settings.optimizedTitleField == 'manually' %}
				{{ forms.textField({
					label: "Meta Title"|t,
					instructions: "The Title of your content which will appear in search results and social sharing."|t,
					name: 'sproutseo_fields[title]',
					maxlength: 60,
					showCharsLeft: true,
					value: values.title,
					errors: "",
					placeholder: siteName,
					class: 'nicetext'
				}) }}
			{% endif %}

			{% if settings.optimizedDescriptionField == 'manually' %}
				{{ forms.textareaField({
					label: "Meta Description"|t,
					instructions: "A description of your content which will appear in search results and social sharing."|t,
					name: 'sproutseo_fields[description]',
					maxlength: 160,
					showCharsLeft: true,
					value: values.description,
					errors: "",
					placeholder: "The official website of " ~ siteName
				}) }}
			{% endif %}

			{% set keywordsValue = values['keywords'] is defined ? values.keywords : null %}

			{{ forms.textField({
				label: "Keywords"|t,
				instructions: "The primary keywords or phrases that describe your website."|t,
				id: 'keywords',
				name: 'sproutseo_fields[keywords]',
				value: keywordsValue,
				errors: ''
			}) }}

			{% if settings.optimizedImageField == 'manually' %}
				{{ forms.field({
					label: 'Meta Image'|t,
					instructions: 'A featured image that represents your content that will display in social sharing.'
				}, forms.elementSelect({
					elements: metaImageElements,
					sourceElementId: [values.metaImage],
					elementType: elementType,
					id: 'metaImage',
					name: 'sproutseo_fields[metaImage]',
					jsClass: 'Craft.AssetSelectInput',
					addButtonLabel: 'Select Image'|t,
					limit: 1,
					criteria: {"localeEnabled":null}
				})) }}
			{% endif %}

		</div>

{% if settings.displayPreview %}
	<ul class="sproutseo-preview-btns">
		<li class="selected">Search</li>
		<li>Facebook</li>
		<li>Twitter</li>
	</ul>

	{% include 'sproutseo/_fieldtypes/optimize/previews/search' %}

	{#{% include 'sproutseo/_fieldtypes/optimize/previews/opengraph' %}#}

	{#{% include 'sproutseo/_fieldtypes/optimize/previews/twittercard' %}#}

{% endif %}

{% if settings.showGeo or settings.showRobots or settings.showOpenGraph or settings.showTwitter %}
	{% set advancedSeoButtons %}
		<div class="buttons">
			<div id="btngroup" class="btngroup sproutseo-advancedoption-btns">

				{% if settings.showGeo %}
					<div class="btn" id="btn-geo" data-type="geo"><i class="sproutseo-icon icon-location">&#xe804;</i> Geo</div>
				{% endif %}

				{% if settings.showRobots %}
					<div class="btn" id="btn-robots" data-type="robots"><i class="sproutseo-icon icon-search">&#xe800;</i> Robots</div>
				{% endif %}

				{% if settings.showOpenGraph %}
					<div class="btn" id="btn-openGraph" data-type="openGraph"><i class="sproutseo-icon icon-facebook">&#xe802;</i> Open Graph</div>
				{% endif %}

				{% if settings.showTwitter %}
					<div class="btn" id="btn-twitterCard" data-type="twitterCard"><i class="sproutseo-icon icon-twitter">&#xe801;</i> Twitter Card</div>
				{% endif %}

			</div>
			<div class="btn add icon menubtn hidden">Add a block</div>
		</div>
	{% endset %}

	{{ forms.field({
		label: 'Advanced Customization'|t,
		instructions: 'If you have more specific SEO needs, you can further customize your meta data with the following fields.'
	}, advancedSeoButtons) }}
{%endif%}


<div class="matrix matrix-field sproutseo-matrixfields" style="position: relative;">

	<div class="blocks">

		<div class="matrixblock fields-geo"
			{% if not values.region
				 and not values.placename
				 and not values.placename
				 and not values.latitude
				 and not values.longitude %} style="display:none;" {% endif %}
		>

			<div class="titlebar">
				<div class="blocktype"><i class="sproutseo-icon icon-location">&#xe804;</i> Geo</div>
				<div class="preview"></div>
			</div>

			{% include 'sproutseo/_partials/fields/geo' %}

		</div>

		<div class="matrixblock fields-robots"
			{% if not values.canonical
			and not values.robots %} style="display:none;" {% endif %}
		>

			<div class="titlebar">
				<div class="blocktype"><i class="sproutseo-icon icon-search">&#xe800;</i> Robots</div>
			</div>

			{% include 'sproutseo/_partials/fields/robots' %}

		</div>

		<div class="matrixblock fields-openGraph"
			{% if not values.ogType
				and not values.ogTitle
				and not values.ogUrl and not values.ogLocale
				and not values.ogAudio and not values.ogVideo
				and not values.ogImage and not values.ogDescription
				and not values.ogSiteName %} style="display:none;" {% endif %}
		>

			<div class="titlebar">
				<div class="blocktype"><i class="sproutseo-icon icon-facebook">&#xe802;</i> Open Graph</div>
			</div>

			{% include 'sproutseo/_partials/fields/open-graph' %}


		</div>

		<div class="matrixblock fields-twitterCard"
			{% if not values.twitterSite
				and not values.twitterCreator and not values.twitterTitle
				and not values.twitterDescription and not values.twitterPlayer
				and not values.twitterPlayerStream and not values.twitterPlayerStreamContentType
				and not values.twitterPlayerHeight and not values.twitterPlayerWidth %} style="display:none;" {% endif %}
		>

			<div class="titlebar">
				<div class="blocktype"><i class="sproutseo-icon icon-twitter">&#xe801;</i> Twitter Card</div>
			</div>

			{% include 'sproutseo/_partials/fields/twitter-card' %}

		</div>

	</div>

</div>

<style>
	{# Hide the Heading of our Field so all our grouped sub-fields
feel like they are part of the natural flow of fields #}
	{% if fieldId is defined %}
	#{{ fieldId }} > .heading:first-of-type { display: none; }
	{% endif %}
</style>


{% includeCssResource "sproutseo/css/preview.css" %}
{% includeCssResource "sproutseo/css/fields.css" %}
{% includeJsResource "sproutseo/js/open-graph.js" %}
{% includeJsResource "sproutseo/js/twitter-card.js" %}

{% includeCssResource "sproutseo/css/jquery.tag-editor.css" %}
{% includeJsResource  "sproutseo/js/jquery.caret.min.js" %}
{% includeJsResource  "sproutseo/js/jquery.tag-editor.min.js" %}

{% includejs %}

	$( document ).ready(function() {

		function toggleActive(div)
		{
			if (div.hasClass("active"))
			{
				div.removeClass("active");
			}
			else
			{
				div.addClass("active");
			}
		}

		$('#keywords-field input, #fields-keywords-field input').tagEditor({
			animateDelete: 20
		});

		$(".sproutseo-advancedoption-btns div").click(function()
		{
			var divId = $(this).attr("data-type");
			$(".fields-"+divId).toggle();

			// Meta Tag Group Settings
			var btn = $("#btn-"+divId);
			toggleActive(btn);

			// Optimize Field Settings
			var fieldsBtn = $("#fields-btn-"+divId);
			toggleActive(fieldsBtn);

			return false; // avoid parents divs if you have nested divs
		});

		// Checking active class
		var fields = ["geo","robots","openGraph","twitterCard"]
		for (var i = 0; i < fields.length; i++)
		{
			var field = $(".fields-"+fields[i]+":visible");

			if(field.length)
			{
				$("#btn-"+fields[i]).addClass("active");
			}
		}
	});

	new Craft.SproutSeoOpenGraph();
	new Craft.SproutSeoTwitterCard();
{% endincludejs %}




