{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
	label: "Use the Element Type Title as the SEO Title?"|t,
	warning: '',
	id: 'useElementTypeTitle',
	name: 'useElementTypeTitle',
	on: settings.useElementTypeTitle,
}) }}


{{ forms.lightswitchField({
	label: "Use the same value for the Meta Title, Facebook Title, and Twitter Title?"|t,
	warning: '',
	id: 'useMetaTitle',
	name: 'useMetaTitle',
	on: settings.useMetaTitle,
}) }}

{{ forms.lightswitchField({
	label: "Use the same value for the Meta Description, Facebook Description, and Twitter Description?"|t,
	warning: '',
	id: 'useMetaDescription',
	name: 'useMetaDescription',
	on: settings.useMetaDescription,
}) }}

{{ forms.lightswitchField({
	label: "Use the same value for the Facebook Feature Image, and Twitter Feature Image?"|t,
	warning: '',
	id: 'useMetaImage',
	name: 'useMetaImage',
	on: settings.useMetaImage,
}) }}

<hr>

{% set optimizedTitleOptions = craft.sproutSeo.getOptimizedTitleOptions() %}

{{ forms.selectField({
	label: "Meta Tag Title Field"|t,
	instructions: "Select the field to use for your basic, Open Graph, and Twitter Card meta tag titles. Select
	'Manually' if you want the Optimize field to display a custom Title Field for your content editors to manage."|t,
	id: 'optimizedTitleField',
	name: 'optimizedTitleField',
	options: optimizedTitleOptions,
	value: 'title'
}) }}


{% set optimizedDescriptionOptions = craft.sproutSeo.getOptimizedDescriptionOptions %}

{{ forms.selectField({
	label: "Meta Tag Description Field"|t,
	instructions: "Select the field to use for your basic, Open Graph, and Twitter Card meta tag descriptions. Select
	'Manually' if you want the Optimize field to display a custom Description Field for your content editors to manage."|t,
	id: 'optimizedDescriptionField',
	name: 'optimizedDescriptionField',
	options: optimizedDescriptionOptions,
	value: 'custom'
}) }}

{% set optimizedImageOptions = craft.sproutSeo.getOptimizedAssetsOptions %}

{{ forms.selectField({
	label: "Meta Tag Feature Image Field"|t,
	instructions: "Select the Assets field to use for your basic, Open Graph, and Twitter Card meta tag feature image.
	Select 'Manually' if you want the Optimize field to display a custom Feature Image Field for your content editors to
	manage."|t,
	id: 'optimizedImageField',
	name: 'optimizedImageField',
	options: optimizedImageOptions,
	value: 'custom'
}) }}




{{ forms.lightswitchField({
	label: "Display Preview?"|t,
	instructions: "Display a preview of what your meta data will look like in search results."|t,
	warning: '',
	id: 'displayPreview',
	name: 'displayPreview',
	on: settings.displayPreview,
}) }}

<hr>

{% set advancedInput %}
	<table class="data" style="width: auto;">
		<thead>
		<tr>
			<th scope="col">{{ "Meta Tag Type"|t }}</th>
			<th scope="col">{{ "Editable?"|t }}</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td><label for="showGeo">{{ "Allow Geo Fields to be edited?"|t }}</label></td>
				<td class="centeralign">
					<div>
						{{ forms.lightswitch({
							name: 'showGeo',
							on:   settings.showGeo,
							small: true
						}) }}
					</div>
				</td>
			</tr>
			<tr>
				<td><label for="showRobots">{{ "Allow Robots Fields to be edited?"|t }}</label></td>
				<td class="centeralign">
					<div>
						{{ forms.lightswitch({
							name: 'showRobots',
							on:   settings.showRobots,
							small: true
						}) }}
					</div>
				</td>
			</tr>
			<tr>
				<td><label for="showOpenGraph">{{ "Allow Open Graph Fields to be edited?"|t }}</label></td>
				<td class="centeralign">
					<div>
						{{ forms.lightswitch({
							name: 'showOpenGraph',
							on:   settings.showOpenGraph,
							small: true
						}) }}
					</div>
				</td>
			</tr>
			<tr>
				<td><label for="showTwitter">{{ "Allow Twitter Fields to be edited?"|t }}</label></td>
				<td class="centeralign">
					<div>
						{{ forms.lightswitch({
							name: 'showTwitter',
							on:   settings.showTwitter,
							small: true
						}) }}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
{% endset %}

{{ forms.field({
	label: "Display Advanced Customization Options?"|t,
	errors: ''
}, advancedInput) }}